Options -Indexes
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
  php_flag session.use_trans_sid off
  #php_value display_errors 1
  #php_value mbstring.internal_encoding UTF-8
  php_value mbstring.internal_encoding UTF-8
  php_value default_charset utf-8
  php_value opcache.revalidate_freq 0
  php_value max_input_vars 10000
  php_value default_socket_timeout 60
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On

  RewriteRule ^index.html$ / [R=301,L]
  RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
  RewriteRule ^index\.php$ https://msk.lapkinlab.ru/$1 [R=301,L]
  RewriteCond %{REQUEST_URI} ^(.*)/index\.php$

  Redirect 301 /telegram/razrabotka-i-vnedrenie-chat-botov/ https://msk.lapkinlab.ru/chat-bot/
  Redirect 301 /seo-page/ https://msk.lapkinlab.ru/seo/

  RewriteRule ^(.*)$ %1/ [R=301,L]
  RewriteCond %{THE_REQUEST} //
  RewriteRule .* /$0 [R=301,L]

  RewriteCond %{HTTP_HOST} ^www.msk.lapkinlab.ru
  RewriteRule ^(.*)$ https://msk.lapkinlab.ru/$1 [R=permanent,L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 60 day"
  ExpiresByType image/svg+xml "access plus 60 day"
  ExpiresByType image/gif "access plus 60 day"
  ExpiresByType image/png "access plus 60 day"
  ExpiresByType text/css "access plus 60 day"
  ExpiresByType application/javascript "access plus 60 day"
</IfModule>

<IfModule mod_alias.c>

</IfModule>
