#cccallk label {
	color: white;
	margin-right: 10px;
}

.radio + label {
  color: white;
}

.error_red{
  color: red;
  border-bottom: 2px solid red;
  padding-bottom: 10px;
}

.fixed1 {
  position: fixed !important; top: 0 !important;
  background: #f00 !important;
}
.vizible{
   display: block !important;
   top: 5px !important;
   position: fixed !important;
   left: 340px;
   z-index: 10001;
   -webkit-animation: shake 6s infinite alternate;
   animation: shake 6s infinite alternate;
   box-shadow: 0 0 15px 2px #868686 !important;
 }
#aside1{
  display: none;
}
@media (max-width: 990px) {.vizible,#aside1{display:none !important;}}


.entry-content table th, .entry-content table td {
  padding: 0 0 0 5px;
  vertical-align: bottom;
  border: 0 solid #e0e0e8;
}.entry-content table {
   margin: 0;
   max-width: 100%;
   border: 0;
 }
@media (max-width: 990px) {#cccallk,.your-calc{display:none;}}
#range13_block .irs-bar { background: #e1e4e9 !important; }
#range13_block .irs-bar-edge { background: #e1e4e9 !important; }
#range14_block .irs-bar { background: #e1e4e9 !important; }
#range14_block .irs-bar-edge { background: #e1e4e9 !important; }
.irs-bar, .irs-bar-edge { background: #e1e4e9 !important; }
.irs-slider {
  width: 18px !important;
  height: 18px !important;
  border-radius: 5px !important;
  top: 22px !important;
  background-position: 0 -120px !important;
  background: #c72543 !important;
  cursor: grab;
}
.irs-grid-text {
  max-width: 80px !important;
  min-width: 50px !important;
  position: absolute;
  bottom: 0;
  top: 10px !important;
  white-space: initial !important;
  text-align: center;
  font-size: 9px !important;
  line-height: 9px;
  padding: 0 3px;
  color: #000;
}
label{
  font-size: 14px;
  color: #fff;
}
.tooltip {
  border-bottom: 1px dotted #0077AA;
  cursor: help;
}
.tooltip::after {
  background: rgba(0,0,0,.8);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.5);
  max-width: 700px;
  color: #FFF;
  content: attr(data-tooltip);
  margin-top: -50px;
  opacity: 0;
  padding: 3px 7px;
  position: absolute;
  visibility: hidden;
  transition: all .4s ease-in-out;
  z-index: 9999;
}
.tooltip:hover::after {
  opacity: 1; /* Показываем его */
  visibility: visible;
}
.irs-grid-text,.irs-min, .irs-max{
  color: #fff !important;
}
#foocalc{
  display:none;
}
#box span{font-weight:bold; padding-left:0px;font-size: 20px;}#h4_itogo .tooltip::after{font-size:18px;}


.fixed_link--telegram-group {
  display: block;
  position: fixed;
  background-size: cover;
  bottom: 55px;
  right: 40px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  z-index: 10001;
  -webkit-animation: shake 6s infinite alternate;
  animation: shake 6s infinite alternate;
}


@media only screen and (max-width: 768px) {
  .popup{
    left: 30% !important;
    -webkit-transform: translate(-20%, -50%) !important;
    -moz-transform: translate(-20%, -50%) !important;
    -ms-transform: translate(-20%, -50%) !important;
    -o-transform: translate(-20%, -50%) !important;
    transform: translate(-20%, -50%) !important;
  }
  .menu-toggle__icon:before{
    content: unset !important;
  }


  .widget_text input[type=email] {
    width: 100% !important;
    margin-bottom: 20px !important;
  }
}

.main-navigation {
  margin-top: 25px;
}

input.tm_pb_button[type='submit']{
  -webkit-appearance: none;
}

input[type='submit']{
  -webkit-appearance: none;
}


.entry-title a {
  text-decoration: none;
  transition: all 0.3s ease-out;
  font-size: 23px !important;
  color: #3a3a50;
}
.news_layout_list figure {
  margin: 0;
  height: 240px !important;
  position: relative;
}
