// Sites
.page-sites {
  .sites-slider {
    @extend .slider;
    &-image {
      @extend .slider-image;
    }
    .contact-form--title {
      margin-top: 0;
    }
  }

  .sites-price {
    margin-bottom: $app-padding--medium;
    &--title {
      margin-bottom: $app-padding--medium;
    }
    &--item {
      margin-bottom: $app-padding--base;
      &-wrapper {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid $app-color--active;
        @include border-radius;
        padding: $app-padding--base;
        height: 100%;
      }
      &-title,
      &-description,
      &-prices,
      &-times,
      &-actions {
        flex-basis: 100%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        i {
          margin-right: 10px;
        }
      }
      &-title {
        margin-top: 0;
        padding-bottom: $app-padding--small;
        border-bottom: 1px solid $app-color--border;
        @include head_font;
      }
      &-prices,
      &-times {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: $app-fontsize--medium;
      }
      &-actions {
        margin-top: $app-padding--small;
      }
    }
  }

  .section--reviews--title {
    margin-bottom: $app-padding--medium;
  }

  .sites-cms,
  .sites-reasons,
  .sites-include {
    padding-top: $app-padding--large;
    padding-bottom: $app-padding--large;
    background-color: $app-color--background;
    &--title {
      margin-bottom: $app-padding--base;
    }
    &--wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &--item {
      border: 1px solid $app-color--border;
      flex-basis: calc(25% - 30px);
      margin: $app-padding--small;
      background-color: $app-color--white;
      padding: $app-padding--base;
      display: flex;
      justify-content: center;
      align-items: center;
      @include border-radius;
      @media (max-width: map_get($grid-breakpoints, xl)) {
        padding-left: $app-padding--small;
        padding-right: $app-padding--small;
      }
      @media (max-width: map_get($grid-breakpoints, lg)) {
        flex-wrap: wrap;
        flex-basis: calc(33.333% - 30px);
        max-width: calc(33.333% - 30px);
        padding-left: $app-padding--small;
        padding-right: $app-padding--small;
      }
      @media (max-width: map_get($grid-breakpoints, md)) {
        flex-basis: calc(50% - 40px);
        max-width: calc(50% - 40px);
      }
      @media (max-width: map_get($grid-breakpoints, sm)) {
        flex-basis: 100%;
        max-width: 100%;
      }
      &--icon {
        flex-basis: 85px;
        margin-right: $app-padding--base;
        display: flex;
        justify-content: center;
        @media (max-width: map_get($grid-breakpoints, lg)) {
          margin-right: 0;
          flex-basis: 100%;
        }
      }
      &--title {
        font-size: $app-fontsize--medium;
        flex-grow: 1;
        @include head_font;
        @media (max-width: map_get($grid-breakpoints, lg)) {
          flex-basis: 100%;
          margin-top: $app-padding--small;
          text-align: center;
        }
      }
    }
    &--description {
      margin-top: $app-padding--base;
    }
  }

  .sites-analytics,
  .sites-opacity {
    border-top: 1px solid $app-color--border;
    border-bottom: 1px solid $app-color--border;
    padding-top: $app-padding--large;
    padding-bottom: $app-padding--large;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        padding-bottom: 8px;
        display: flex;
        align-items: center;
        i {
          min-width: 20px;
          margin-right: 10px;
        }
      }
    }
    &--title {
      margin-top: 0;
      margin-bottom: $app-padding--medium;
    }
    &--image {
      background-image: url("images/crm.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top center;
    }
    &--content {
      h3 {
        @include head_font;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  .sites-analytics--image {
    background-image: url("images/analytics.png");
  }

  .sites-steps {
    padding-top: $app-padding--large;
    padding-bottom: $app-padding--large;
    background-color: $app-color--primary;
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
    &--title {
      color: $app-color--white;
      margin-top: 0;
      margin-bottom: $app-padding--medium;
    }
    &--item {
      color: $app-color--white;
      margin-bottom: $app-padding--base;
      &--wrapper {
        border: 1px solid $app-color--active;
        @include border-radius;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: $app-padding--base;
      }
      &--counter {
        flex-basis: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 6px solid $app-color--active;
        height: 60px;
        width: 60px;
        max-width: 60px;
        border-radius: 50%;
        @include head_font;
        font-size: $app-fontsize--h2;
      }
      &--title {
        margin-top: $app-padding--small;
        margin-bottom: $app-padding--small;
        flex-basis: 100%;
        @include head_font;
        font-size: $app-fontsize--medium;
        text-align: center;
      }
      &--description {
        flex-basis: 100%;
        text-align: center;
      }
    }
  }

  .sites-main {
    padding-top: $app-padding--medium;
    padding-bottom: $app-padding--medium;
  }

}
