@media (max-width: 768px) {
	header {
	}
	.top-panel .info-block{
	    display:block;
	}
	.top-panel .info-block img{
	    float: unset;
    	display: inline;
	}
	.top-panel .info-block i{
	    float: unset;
	}
}

@media (max-width: 480px) {

}