<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>SEO</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="akapinos">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="css/styles_seo.css">
		<link rel="stylesheet" href="css/fontello.css">
		<link rel="stylesheet" href="fonts/fonts.css">
		<link rel="shortcut icon" href="favicon.ico">
		<meta name="robots" content="noindex, nofollow" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

				<link rel="stylesheet" type="text/css" media="screen" href="modul/ionRangeSlider/css/ion.rangeSlider.css">
				<link rel="stylesheet" type="text/css" media="screen" href="modul/ionRangeSlider/css/ion.rangeSlider.skinFlat.css">
				<link rel="stylesheet" type="text/css" media="screen" href="modul/ionRangeSlider/css/css.css">

			</head>
			<body>

				<header class="header">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-md-6">
										<div class="row">
											<div class="col-sm-12 col-md-6 textlogo">
												<i><img src="assests/pin.png"></i> Ваш город: Москва
											</div>
											<div class="col-sm-12 col-md-6 textphone">
												<i><img src="assests/call.png"></i> 8 (800) 301-00-19
											</div>
										</div>
							</div>
							<div class="col-sm-12 col-md-6">
										<div class="row">
											<div class="col-sm-12 col-md-4 no_m no_p">
												<a href="#" class="but but-one">Заказать звонок</a>
											</div>
											<div class="col-sm-12 col-md-4 no_m no_p">
												<a href="#" class="but but-two">Заказать аудит</a>
											</div>
											<div class="col-sm-12 col-md-4 no_m no_p">
												<a href="#" class="but but-three">Заказать бриф</a>
											</div>
										</div>
							</div>
						</div>
					</div>
				</header>

				<main role="main">


          				<section class="menu_logo">
          					<div class="container">
          						<div class="row">
          							<div class="col-md-3 logo">
          								<img src="assests/logo-new2.png" >
          								<span>Профессиональное поисковое продвижение, создание сайтов и реклама</span>
          							</div>
          							<div class="col-md-9">
          								<ul class="nav">
          									<li class="active"><a href="#">Продвижение</a></li>
          									<li><a href="#">Контекстная реклама</a></li>
          									<li><a href="#">Разработка сайтов</a></li>
          									<li><a href="#">Телеграм</a></li>
          									<li><a href="#">Блог</a></li>
          									<li><a href="#">Контакты</a></li>
          							</div>
          						</div>
          					</div>
          				</section>

          				<section class="banner active_ban" id="ban1">
          					<div class="container">
          						<div class="row">
          								<div class="col-md-8 left_banner">
          									<div class="text">
          										SEO продвижение сайтов в<br> вашем регионе или по России
          									</div>
          									<ul class="main_ul">
          										<li>Приведем в 2,5 раза больше клиентов из поисковых систем</li>
          										<li>Увеличим количество переходов потенциальных заказчиков</li>
          										<li>На 80% больше доверия к сайту со стороны Яндекса и Google</li>
          										<li>10 часов техподдержки включены в продвижение и развитие сайта</li>
          										<li>Работа в рамках договора</li>
          									</ul>
          								</div>
          								<div class="col-md-4">
          									<form class="form_banner">
          										<div class="form_titile">
          											Узнать стоимость<br> продвижения моего сайта
          										</div>
          										<input type="text" placeholder="Сайт" value="">
          										<input type="text" placeholder="Телефон" value="">
          										<input type="text" placeholder="Почта" value="">
          										<button type="button" name="button" value="Получить рассчет">Получить рассчет</button>
          										<span>Нажимая на кнопку Получить рассчет, я даю согласие на обработку персональных данных</span>
          									</form>
          								</div>
          						</div>
          					</div>
          				</section>

              <section class="one ses">
          				<div class="container">
          						<div class="row">
          							<div class="col-md-12">
          								<h1 class="title">Комплексное продвижене сайтов</h1>
          							</div>

                						<div class="col-sm-12 col-md-6">
                                <div class="h3">Что из себя представялет услуга?</div>
                                <p>Привлечение органического трафика из поисковых систем. Основная задача – рост целевого трафика и увеличение продаж при помощи сайта, положительный ROI через 6 месяцев работы над проектом.</p>
                                <p>Услуга поможет Вам «выжать» из веб-ресурса максимум прибыли. Кроме того, при помощи данной услуги решаются такие важные задачи, как улучшение узнаваемости бренда и компании, улучшение её имиджа на рынке и повышение лояльности клиентов.</p>
                						</div>
                            <div class="col-sm-12 col-md-6">
                                <img src="assests/visi.png" />
                						</div>

                      </div>
                  </div>
              </section>

											<section class="two">
              					<div class="container">
              						<div class="row">
              							<div class="col-md-12">
              								<h1 class="title">Этапы работ по SEO продвижению</h1>
              							</div>

              							<div class="col-md-12">
              								<div class="row">
              								<div class="col-sm-12 col-md-4 block_twof">
              									<img src="assests/audit.png" />
              									<p class="tit"> Комплексный аудит</p>
              									<p class="bottit"> Анализ основных факторов, влияющих на продвижение ресурса в интернете</p>
              								</div>
              								<div class="col-sm-12 col-md-4 block_twof">
              									<img src="assests/active_search.png" />
              									<p class="tit"> Поисковое продвижение</p>
              									<p class="bottit"> Оптимизация внутренних и внешних факторов ранжирования сайтов поисковиками</p>
              								</div>
              								<div class="col-sm-12 col-md-4 block_twof">
              									<img src="assests/technical_support.png" />
              									<p class="tit"> Техническое сопровождение</p>
              									<p class="bottit"> Полная поддержка функционирования ресурса и готовность ответить на любые вопросы и решить технические задачи</p>
              								</div>
              							</div>
              							</div>
              						</div>
              					</div>
              				</section>

											<section class="two_seo">
              					<div class="container">
              						<div class="row">
              							<div class="col-md-12">
              								<h1 class="title">Что входит в SEO продвижение</h1>
              							</div>

              							<div class="col-md-12">
              								<div class="row">

																<div class="col-sm-12 col-md-6">
		                                <div class="str">
																			<div class="number">1</div>
																			<div class="text"><b>Брифование.</b> Погружение в бизнес клиента и изучение тематики и услуг заказчика.</div>
																		</div>
																		<div class="str">
																			<div class="number">3</div>
																			<div class="text"><b>Разработка стратегии.</b> Создание стратегии  продвижения сайта.</div>
																		</div>
																		<div class="str">
																			<div class="number">5</div>
																			<div class="text"><b>Сбор семантического ядра.</b> Подбор ключевых запросов по выбранно тематике.</div>
																		</div>
																		<div class="str">
																			<div class="number">7</div>
																			<div class="text"><b>Крауд-маркетинг.</b> Размещение профильных ссылок на проверенных площадках.</div>
																		</div>
		                						</div>
		                            <div class="col-sm-12 col-md-6">
																		<div class="str">
																			<div class="number">2</div>
																			<div class="text"><b>Аудит.</b> Анализ основных факторов, влияющих на продвижение ресурса в интернете.</div>
																		</div>
																		<div class="str">
																			<div class="number">4</div>
																			<div class="text"><b>Внутренняя оптимизация.</b> Работы по внутренней оптимизации сайта</div>
																		</div>
																		<div class="str">
																			<div class="number">6</div>
																			<div class="text"><b>Копирайтинг.</b> Написание текстов по выбранным ключевым запросам.</div>
																		</div>
																		<div class="str">
																			<div class="number">8</div>
																			<div class="text"><b>Анализ результатов.</b> Регулярный мониторинг и техническая поддержка</div>
																		</div>
		                						</div>

              								</div>
              							</div>
              						</div>
              					</div>
              				</section>


															<section class="four">
																<div class="container">
																	<div class="row">
																		<div class="col-md-12">
																			<h1 class="title_wh">Выберите свою стратегию продвижения</h1>
																		</div>
																		<div class="col-md-12">
																			<div class="container_v2">
																			<div id="cccallk">
																				<div style="text-align: center;">
																					<div style="position: relative; padding: 10px;">
																						<div style="float: left; width: 25%; padding: 20px;">
																		 <label id="range7_l"><b>ТИП САЙТА</b></label>
																						</div>
																						<div style="float: left; width: 75%;">
																		 <input id="range7" name="range" type="text" value="">
																						</div>
																					</div>
																					<div style="width: 100%; height: 10px; clear: both;">
																					</div>
																					 <!-- -->
																					<div style="position: relative; padding: 10px;">
																						<div style="float: left; width: 25%; padding: 20px;">
																		 <label id="range1_l"><b>КОЛИЧЕСТВО КЛЮЧЕВЫХ ЗАПРОСОВ</b></label>
																						</div>
																						<div style="float: left; width: 75%;">
																		 <input id="range1" name="range" type="text" value="">
																						</div>
																					</div>
																					<div style="width: 100%; height: 10px; clear: both;">
																					</div>
																					 <!-- -->
																					<div style="position: relative; padding: 10px;">
																						<div style="float: left; width: 25%; padding: 20px;">
																		 <label id="range2_l"><b>КОЛИЧЕСТВО РАЗДЕЛОВ САЙТА</b></label>
																						</div>
																						<div style="float: left; width: 75%;">
																		 <input id="range2" name="range" type="text" value="">
																						</div>
																					</div>
																					<div style="width: 100%; height: 10px; clear: both;">
																					</div>
																					 <!-- -->
																					<div style="position: relative; padding: 10px;">
																						<div style="float: left; width: 25%; padding: 20px;">
																		 <label id="range3_l"><b>РЕГИОН ПРОДВИЖЕНИЯ</b></label>
																						</div>
																						<div style="float: left; width: 75%;">
																		 <input id="range3" name="range" type="text" value="">
																						</div>
																					</div>
																					<div style="width: 100%; height: 10px; clear: both;">
																					</div>
																					 <!-- -->
																					<div style="position: relative; padding: 10px;">
																						<div style="float: left; width: 25%; padding: 20px;">
																		 <label id="range4_l"><b>УРОВЕНЬ КОНКУРЕНЦИИ В ТЕМАТИКЕ</b></label>
																						</div>
																						<div style="float: left; width: 75%;">
																		 <input id="range4" name="range" type="text" value="">
																						</div>
																					</div>
																					<div style="width: 100%; height: 10px; clear: both;">
																					</div>
																					 <!-- -->
																					<div style="position: relative; padding: 10px;">
																						<div style="float: left; width: 25%; padding: 20px;">
																		 <label id="range5_l"><b>ИСТОРИЯ ПРОДВИЖЕНИЯ САЙТА</b></label>
																						</div>
																						<div style="float: left; width: 75%;">
																		 <input id="range5" name="range" type="text" value="">
																						</div>
																					</div>
																					<div style="width: 100%; height: 10px; clear: both;">
																					</div>
																					 <!-- -->
																					<div style="position: relative; padding: 10px;">
																						<div style="float: left; width: 25%; padding: 20px;">
																		 <label id="range16_l"><b>КОНТЕКСТНАЯ РЕКЛАМА (PPC)</b></label>
																						</div>
																						<div style="float: left; width: 75%;">
																		 <input id="range16" name="range" type="text" value="">
																						</div>
																					</div>
																					<div style="width: 100%; height: 10px; clear: both;">
																					</div>
																					 <!-- -->
																					<div style="position: relative; padding: 10px;">
																						<div style="float: left; width: 25%; padding: 20px;">
																		 <label id="range8_l"><b>ЕСТЬ СВОЙ КОПИРАЙТЕР?</b></label>
																						</div>
																						<div style="float: left; width: 30%;">
																		 <input id="range8" name="range" type="text" value="">
																						</div>
																						<div style="float: left; width: 20%; padding: 20px 0px 0px 40px;">
																		 <label id="range9_l"><b>ЕСТЬ СВОЙ ПРОГРАММИСТ?</b></label>
																						</div>
																						<div style="float: left; width: 25%;">
																		 <input id="range9" name="range" type="text" value="">
																						</div>
																					</div>
																					<div style="width: 100%; height: 10px; clear: both;">
																					</div>
																					 <!-- -->
																					<div style="position: relative; padding: 10px;">
																						<div style="float: left; width: 25%; padding: 20px;">
																		 <label id="range11_l"><b>АДАПТИВНОСТЬ</b></label>
																						</div>
																						<div style="float: left; width: 75%;">
																		 <input id="range11" name="range" type="text" value="">
																						</div>
																					</div>
																					<div style="width: 100%; height: 10px; clear: both;">
																					</div>
																					 <!-- -->
																					<div style="position: relative; padding: 10px;">
																						<div style="float: left; width: 25%; padding: 20px;">
																		 <label id="range10_l"><b>САЙТ ПОД ФИЛЬТРОМ?</b></label>
																						</div>
																						<div style="float: left; width: 30%;">
																		 <input id="range10" name="range" type="text" value="">
																						</div>
																						<div style="float: left; width: 20%; padding: 20px 0px 0px 40px;">
																		 <label id="range12_l"><b>ПРОДВИЖЕНИЕ В YANDEX-КАРТАХ</b></label>
																						</div>
																						<div style="float: left; width: 25%;">
																		 <input id="range12" name="range" type="text" value="">
																						</div>
																					</div>
																					<div style="width: 100%; height: 10px; clear: both;">
																					</div>
																					 <!-- -->
																					<div style="position: relative; padding: 10px;">
																						<div style="float: left; width: 25%; padding: 20px;">
																		 <label id="range13_l"><b>КРАУД-МАРКЕТИНГ</b></label>
																						</div>
																						<div style="float: left; width: 30%;">
																		 <input id="range13" name="range" type="text" value="">
																						</div>
																						<div style="float: left; width: 20%; padding: 20px 0px 0px 40px;">
																		 <label id="range14_l"><b>УГЛУБЛЕННАЯ АНАЛИТИКА</b></label>
																						</div>
																						<div style="float: left; width: 25%;">
																		 <input id="range14" name="range" type="text" value="">
																						</div>
																					</div>
																					<div style="width: 100%; height: 1px; clear: both;">
																					</div>
																					 <!-- --> &nbsp; &nbsp;
																				</div>

																				<div id="tm_builder_outer_content" class="tm_builder_outer_content" style="text-align: center; padding: 0px;">
																		 <a id="trigger" class="tm_pb_button hover-green" href="">Получить расчет</a>
																				</div>
																				<div id="box" class="tm_pb_section tm_pb_section_1 tm_section_regular tm_section_transparent" style="display: none; color: #fff;">
																					<h4>Результат:</h4>
																					<div class="container">
																						<div class="row tm_pb_row tm_pb_row_1">
																							<div class="tm_pb_column tm_pb_column_1_2 tm_pb_column_1 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
																								<h5>Оставьте ваши контактные данные для связи:</h5>
																		                        	<form action="/mail_post.php" method="post" class="wpcf7-form">
																									<div style="display: none;">
																									<input type="hidden" name="url" value="http://<?=$_SERVER['SERVER_NAME'].$_SERVER['REQUEST_URI']?>">
																									</div>
																									<p>
																		 <label> Ваше имя (обязательно)<br>
																		 <span class="wpcf7-form-control-wrap your-name"><input style="width: 80%;" type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" required></span> </label>
																									</p>
																									<p>
																		 <label> Телефон (обязательно)<br>
																		 <span class="wpcf7-form-control-wrap your-phone"><input style="width: 80%;" type="text" name="your-phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" required></span> </label>
																									</p>
																									<p>
																		 <label> Ваш e-mail (обязательно)<br>
																		 <span class="wpcf7-form-control-wrap your-email"><input style="width: 80%;" type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" required></span> </label>
																									</p>
																									<p>
																		 <label> Ваш сайт<br>
																		 <span class="wpcf7-form-control-wrap your-site"><input style="width: 80%;" type="text" name="your-site" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" required></span> </label>
																									</p>
																			<p style="display:none;"><input type="text" name="name" value=""></p>
																									<p>
																		 <span class="wpcf7-form-control-wrap your-calc"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" id="foocalc" required></textarea></span>
																									</p>
																									<div style="width:100%; height: 25px; clear: both;">
																									</div>
																									<p class="widget_text">
																		 <input type="submit" value="Заказать" class="wpcf7-form-control tm_pb_button wpcf7-submit"><span class="ajax-loader"></span>
																									</p>
																									<div class="wpcf7-response-output wpcf7-display-none">
																									</div>
																								</form>
																							</div>
																							<div class="tm_pb_column tm_pb_column_1_2 tm_pb_column_1 col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
																								<h5>Вы выбрали:</h5>
																									<table>
																									<tbody>
																									<tr>
																									<td>ТИП САЙТА: </td>
																									<td><span id="result_1">Корпоративный сайт</span></td>
																									</tr>
																									<tr>
																									<td>КОЛИЧЕСТВО КЛЮЧЕВЫХ ЗАПРОСОВ: </td>
																									<td><span id="result_2"></span></td>
																									</tr>
																									<tr>
																									<td>КОЛИЧЕСТВО РАЗДЕЛОВ САЙТА: </td>
																									<td><span id="result_3"></span></td>
																									</tr>
																									<tr>
																									<td>РЕГИОН ПРОДВИЖЕНИЯ: </td>
																									<td><span id="result_4"></span></td>
																									</tr>
																									<tr>
																									<td>УРОВЕНЬ КОНКУРЕНЦИИ В ТЕМАТИКЕ: </td>
																									<td><span id="result_5"></span></td>
																									</tr>
																									<tr>
																									<td>ИСТОРИЯ ПРОДВИЖЕНИЯ САЙТА: </td>
																									<td><span id="result_6"></span></td>
																									</tr>
																									<tr>
																									<td>КОНТЕКСТНАЯ РЕКЛАМА (PPC): </td>
																									<td><span id="result_7"></span></td>
																									</tr>
																									<tr>
																									<td>ЕСТЬ СВОЙ КОПИРАЙТЕР?: </td>
																									<td><span id="result_8"></span></td>
																									</tr>
																									<tr>
																									<td>ЕСТЬ СВОЙ ПРОГРАММИСТ?: </td>
																									<td><span id="result_9"></span></td>
																									</tr>
																									<tr>
																									<td>АДАПТИВНОСТЬ: </td>
																									<td><span id="result_11"></span></td>
																									</tr>
																									<tr>
																									<td>САЙТ ПОД ФИЛЬТРОМ?: </td>
																									<td><span id="result_10"></span></td>
																									</tr>
																									<tr>
																									<td>ПРОДВИЖЕНИЕ В YANDEX-КАРТАХ: </td>
																									<td><span id="result_12"></span></td>
																									</tr>
																									<tr>
																									<td>КРАУД-МАРКЕТИНГ: </td>
																									<td><span id="result_13"></span></td>
																									</tr>
																									<tr>
																									<td>УГЛУБЛЕННАЯ АНАЛИТИКА: </td>
																									<td><span id="result_14"></span></td>
																									</tr>
																									</tbody>
																									</table>
																								 &nbsp;
																								<h4 id="h4_itogo">Итого: <span id="result_itogo" style="font-size: 36px;"></span> &#8381;/мес. <b class="tooltip" data-tooltip="Для индивидуального расчета заполните форму.">*</b></h4>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		</div>
																	</div>
																</div>
															</section>

															<section class="two sra">
				              					<div class="container">
				              						<div class="row">
				              							<div class="col-md-12">
				              								<h1 class="title">Преимущества SEO продвижения</h1>
				              							</div>

				              							<div class="col-md-12">
				              								<div class="row">
				              								<div class="col-sm-12 col-md-4 block_twof">
				              									<img src="assests/star2.png" />
				              									<p class="tit"> Долгосрочный эффект</p>
				              									<p class="bottit"> Сайт, заняв высокие позиции в поиске, будет стабильно приносить клиентов на протяжении долгого времени</p>
				              								</div>
				              								<div class="col-sm-12 col-md-4 block_twof">
				              									<img src="assests/star2.png" />
				              									<p class="tit"> Низкая стоимость клика</p>
				              									<p class="bottit">  Цена привлечения одного покупателя с помощью seo ниже, чем цена такого привлечения через контекстную рекламу</p>
				              								</div>
				              								<div class="col-sm-12 col-md-4 block_twof">
				              									<img src="assests/star2.png" />
				              									<p class="tit"> Высокая конверсия</p>
				              									<p class="bottit">  Seo увеличивает количество посетителей сайта, за счет получения более высоких позиций в поисковой выдаче</p>
				              								</div>
				              							</div>
																		<div style="width: 100%; height: 20px; clear: both;"></div>
				              							</div>
																		<div class="col-md-12">
				              								<div class="row">
				              								<div class="col-sm-12 col-md-4 block_twof">
				              									<img src="assests/star2.png" />
				              									<p class="tit"> Высокий охват</p>
				              									<p class="bottit">  Качественная оптимизация позволяет получить высокие позиции в выдаче упоисковиков (Яндекс, Google, Mail, и др.)</p>
				              								</div>
				              								<div class="col-sm-12 col-md-4 block_twof">
				              									<img src="assests/star2.png" />
				              									<p class="tit"> Узнаваемость бренда</p>
				              									<p class="bottit">  Сайты, которые расположены в верхних строчках поисках, вызывают у пользователя гораздо больше доверия</p>
				              								</div>
				              								<div class="col-sm-12 col-md-4 block_twof">
				              									<img src="assests/star2.png" />
				              									<p class="tit"> Лояльность клиентов</p>
				              									<p class="bottit">  Качественный контент позволяет не только привлечь, но и удержать клиента</p>
				              								</div>
				              							</div>
				              							</div>
				              						</div>
				              					</div>
				              				</section>



															<section class="two sro">
				              					<div class="container">
				              						<div class="row">
				              							<div class="col-md-12">
				              								<h1 class="title">Преимущества SEO продвижения</h1>
				              							</div>

				              							<div class="col-md-12">
				              								<div class="row">
				              								<div class="col-sm-12 col-md-4 block_twof">
				              									<img src="assests/noun_cart.png" />
				              									<p class="tit"> Продвижене интернет-магазинов</p>
				              									<p class="bottit"> <a href="#">Подробнее</a></p>
				              								</div>
				              								<div class="col-sm-12 col-md-4 block_twof">
				              									<img src="assests/noun_Business.png" />
				              									<p class="tit"> Продвижение корпоративных сайтов</p>
				              									<p class="bottit"> <a href="#">Подробнее</a></p>
				              								</div>
				              								<div class="col-sm-12 col-md-4 block_twof">
				              									<img src="assests/noun_Location.png" />
				              									<p class="tit"> Продвижение в регионах</p>
				              									<p class="bottit"> <a href="#">Подробнее</a></p>
				              								</div>
				              							</div>
				              							</div>
				              						</div>
				              					</div>
				              				</section>


															<section class="two sri">
				              					<div class="container">
				              						<div class="row">
				              							<div class="col-md-12">
				              								<h1 class="title">Потоянное улучшение вашего сайта</h1>
				              							</div>

				              							<div class="col-md-12">
				              								<div class="row">
				              								<div class="col-sm-12 col-md-4 block_twof2">
																					<div class="tit">Трафик на сайте есть, но  продаж все еще мало</div>
																					<p>Когда все хорошо с потоком посетителей на сайте, но нет продаж, мы в первую очередь разбираемся в причинах, почему так происходит</p>
																					<ul>
																						<li>Проверим релевантность трафика</li>
																						<li>Оптимизируем поведенческие факторы с помощью конкурентного анализа</li>
																						<li>Соберем рекомендации для шаблонов метатегов и контента</li>
																					</ul>
				              								</div>
				              								<div class="col-sm-12 col-md-4 block_twof2">
																				<div class="tit">Сайт плохо ранжируется в поисковой выдаче</div>
																				<p>На позицию в ТОПе влияет множество факторов: одни — сильно, другие — слабо. Поэтому мы постоянно анализируем главные и вспомогательные факторы ранжирования</p>
																				<ul>
																					<li>Проверим техническое состояние сайта и наличие санкций от поисковиков</li>
																					<li>Внедрим человеко-понятные URL для фильтров — это увеличит количество страниц в поисковой выдаче</li>
																					<li>Лучшим контент на основе собранной семантики</li>
																				</ul>
				              								</div>
				              								<div class="col-sm-12 col-md-4 block_twof2">
																				<div class="tit">Попадание в топ-5 по запросам своей тематики</div>
																				<p>Выход в лидеры органической выдачи по широкому спектру запросов – не простая задача. Но для каждого проекта мы разрабатываем индвидуальную стратегию</p>
																				<ul>
																					<li>Нарастим ссылочную массу, оптимизируем и удалим дублирующийся контент для лучшего ранжирования</li>
																					<li>Внедрим внутреннюю перелинковку и проведем техническую оптимизацию, чтобы сайт быстрее загружался и находился поисковиками</li>
																					<li>Тем самым приведем релевантный трафик</li>
																				</ul>
				              								</div>


																												<div class="col-md-12 botnew">
																													<a class="tm_pb_button" href="#">Заказать аудит сайта</a>
																												</div>
				              							</div>
				              							</div>
				              						</div>
				              					</div>
				              				</section>


															<section class="seven">
																<div class="container">
																	<div class="row">
																		<div class="col-md-12">
																			<h1 class="title_wh">Наши кейсы</h1>
																		</div>
																		<div class="col-md-12">
																			<div class="row">
																					<div class="col-md-4 Ktabs Kactive_t" data-id="1" id="Kta1">
																						Фабрика штор на ткацкой
																					</div>
																					<div class="col-md-4 Ktabs" data-id="2" id="Kta2">
																						Медицинская компания
																					</div>
																					<div class="col-md-4 Ktabs" data-id="3" id="Kta3">
																						Кредитный брокер
																					</div>
																			</div>
																			<div class="row">
																					<div class="col-md-12 Ktabk Kactive_ta" id="Kff1">
																						<p class="ttt">Интернет-магазин по продаже  штор, карнизов и сопутствующих товаров</p>
																						<div class="col-md-4 cccd" style="padding:0px; margin:0px;">
																							<p class="ccc">Задача</p>
																							Организация полного цикла продаж через интернет. Поставлена цель по ежемесячному объему продаж
																						</div>
																						<div class="col-md-8 cccd" style="padding:0px; margin:0px;">
																							<p class="ccc">Результат</p>
																							Цели достигнуты в полном объеме. Сайт постоянно обновляется. За счет контекстной рекламы достигнута посещаемость 20 000 уникальных посетителй в месяц. Более 85% фраз в ТОП10.
																						</div>
																									<div style="width: 100%; height: 20px; clear: both"></div>
																						<div class="col-md-8 imgkeq">
																							<img src="assests/shatura4.png" />
																						</div>
																						<div class="col-md-4 imgkeq">
																							<img src="assests/shatura5.png" />
																						</div>

																							<div style="width: 100%; height: 20px; clear: both"></div>
																							<p class="cccd">Продвижение в поисковых системах Яндекс и Google</p>

																							<div class="col-md-6 navlef navar" data-id="3"> <img src="assests/left.png"/>Предыдущий кейс </div>
																							<div class="col-md-6 navrig navar" data-id="2"> Следующий кейс<img src="assests/right.png"/> </div>

																							<div class="col-md-12" style="text-align: center; margin: 0 auto;">
																								<a class="tm_pb_button" href="">Заказать услугу</a>
																							</div>
																					</div>
																					<div class="col-md-12 Ktabk Kactive_tan" id="Kff2">
																						<p class="ttt">Срок: Март 2017 - Декабрь 2018</p>
																						<div class="col-md-4 cccd" style="padding:0px; margin:0px; margin-right: 10px; width: calc(33.33% - 10px)">
																							<p class="ccc">Задача</p>
																							Продвинуть сайт с нуля, добиться получения от 100 заявок на получение медицинских книжек в месяц
																						</div>
																						<div class="col-md-8 cccd" style="padding:0px; margin:0px;">
																							<p class="ccc">Результат</p>
																							98% фраз находятся в ТОП-10, в среднем 6-7 тыс. уникальных посетителей в месяц, 215 заявок через форму обратной связи, около 700 обращений по телефону
																						</div>
																									<div style="width: 100%; height: 20px; clear: both"></div>
																						<div class="col-md-8 imgkeq">
																							<img src="assests/013/m1.jpg" style="height: 280px;"/>
																						</div>
																						<div class="col-md-4 imgkeq">
																							<img src="assests/013/m2.jpg" />
																						</div>

																						<div style="width: 100%; height: 20px; clear: both"></div>
																						<p class="cccd">Продвижение в поисковых системах Яндекс и Google</p>

																						<div class="col-md-6 navlef navar" data-id="1"> <img src="assests/left.png"/>Предыдущий кейс </div>
																						<div class="col-md-6 navrig navar" data-id="3"> Следующий кейс<img src="assests/right.png"/> </div>

																						<div class="col-md-12" style="text-align: center; margin: 0 auto;">
																							<a class="tm_pb_button" href="">Заказать услугу</a>
																						</div>
																					</div>
																					<div class="col-md-12 Ktabk Kactive_tan" id="Kff3">
																						<p class="ttt">Срок: Сентябрь 2018 - Декабрь 2018</p>
																						<div class="col-md-4 cccd" style="padding:0px; margin:0px; margin-right: 10px; width: calc(33.33% - 10px)">
																							<p class="ccc">Задача</p>
																							Продвинуть сайт с нуля до топовых позиций по региону продвижения
																						</div>
																						<div class="col-md-8 cccd" style="padding:0px; margin:0px;">
																							<p class="ccc">Результат</p>
																							Посещаемость сайта выросла до 150 уникальныных посетителей в месяц, более 50% фраз в ТОП10.
																						</div>
																									<div style="width: 100%; height: 20px; clear: both"></div>
																						<div class="col-md-8 imgkeq">
																							<img src="assests/013/t1.jpg" style="height: 280px;"/>
																						</div>
																						<div class="col-md-4 imgkeq">
																							<img src="assests/013/t2.jpg" />
																						</div>

																						<div style="width: 100%; height: 20px; clear: both"></div>
																						<p class="cccd">Продвижение в поисковых системах Яндекс и Google</p>

																						<div class="col-md-6 navlef navar" data-id="2"> <img src="assests/left.png"/>Предыдущий кейс </div>
																						<div class="col-md-6 navrig navar" data-id="1"> Следующий кейс<img src="assests/right.png"/> </div>

																						<div class="col-md-12" style="text-align: center; margin: 0 auto;">
																							<a class="tm_pb_button" href="">Заказать услугу</a>
																						</div>
																					</div>
																			</div>
																		</div>
																	</div>
																</div>
															</section>

															<section class="eight">
																<div class="container">
																	<div class="row">
																		<div class="col-md-12">
																			<h1 class="title">Тарифные планы</h1>
																		</div>
																		<div class="col-md-12">
																			<div class="row">
																					<div class="col-md-3 Ptabs" data-id="1">
																						Продвижение<br>сайтов услуг
																					</div>
																					<div class="col-md-3 Ptabs Pactive_t" data-id="2">
																						Продвижение<br>интернет-магазинов
																					</div>
																					<div class="col-md-3 Ptabs" data-id="3">
																						Продвижение<br>порталов
																					</div>
																					<div class="col-md-3 Ptabs" data-id="4">
																						Комплексное SEO<br>продвижение
																					</div>
																			</div>
																			<div class="row">
																					<div class="col-md-12 Ptabk Pactive_tan" id="Pff1">
																						<div class="col-md-8">
																							<p class="ttt">Для кого подходит услуга?</p>
																							<p class="ddd">Для кого подходит услуга?</p>
																							<p class="ddd">Для тех, кому нужны быстрые результаты</p>
																							<p class="ddd">Для тех, кто устал от пустых обещаний популярных SEO агентств</p>
																							<p class="ttt">Как строится работа:</p>
																							<p class="ddd">Проектная группа из 4 специалистов</p>
																							<p class="ddd">Детальные планы и отчёты</p>
																							<p class="ddd">Прозрачная работа по продвижению сайта: вы видите всё, что происходит</p>
																							<p class="ddd">Продвижение по 2-м моделям: “Быстрые результаты” + “Лидер тематики”</p>
																							<p class="ttt">Результат</p>
																							<p class="ddd">Рост трафика в 2, 3, 5, 10 раз</p>
																							<p class="ddd">Увеличение продаж</p>
																						</div>
																						<div class="col-md-4">
																							<p class="ttt">Что входит</p>
																							<p class="ddd">Аудит</p>
																							<p class="ddd">Разработка стратегии продвижения</p>
																							<p class="ddd">Составление семантического ядра</p>
																							<p class="ddd">Написание SEO контента</p>
																							<p class="ddd">Аналитика и повышение конверсии</p>
																							<p class="ddd">SERM</p>
																							<p class="ttt">от 25 000 руб./месяц</p>
																							<div style="width: 100%; height: 50px; clear:both"></div>
																							<a class="tm_pb_button" href="">Заказать услугу</a>
																							<div style="width: 100%; height: 30px; clear:both"></div>
																							<p class="gre">*Первые результаты через 2 мес.</p>
																						</div>
																					</div>
																					<div class="col-md-12 Ptabk Pactive_ta" id="Pff2">
																						<div class="col-md-8">
																							<p class="ttt">Для кого подходит услуга?</p>
																							<p class="ddd">Для кого подходит услуга?</p>
																							<p class="ddd">Для тех, кому нужны быстрые результаты</p>
																							<p class="ddd">Для тех, кто устал от пустых обещаний популярных SEO агентств</p>
																							<p class="ttt">Как строится работа:</p>
																							<p class="ddd">Проектная группа из 5 специалистов</p>
																							<p class="ddd">Детальные планы и отчёты</p>
																							<p class="ddd">Прозрачная работа по продвижению сайта: вы видите всё, что происходит</p>
																							<p class="ddd">Продвижение по 2-м моделям: “Быстрые результаты” + “Лидер тематики”</p>
																							<p class="ttt">Результат</p>
																							<p class="ddd">Рост трафика в 2, 3, 5, 10 раз</p>
																							<p class="ddd">Увеличение продаж</p>
																						</div>
																						<div class="col-md-4">
																							<p class="ttt">Что входит</p>
																							<p class="ddd">Аудит</p>
																							<p class="ddd">Разработка стратегии продвижения</p>
																							<p class="ddd">SERM</p>
																							<p class="ddd">Составление семантического ядра</p>
																							<p class="ddd">Разработка SEO модулей</p>
																							<p class="ddd">Написание SEO контента</p>
																							<p class="ddd">Аналитика и повышение конверсии</p>
																							<p class="ttt">от 30 000 руб./месяц</p>
																							<div style="width: 100%; height: 50px; clear:both"></div>
																							<a class="tm_pb_button" href="">Заказать услугу</a>
																							<div style="width: 100%; height: 30px; clear:both"></div>
																							<p class="gre">*Первые результаты через 2 мес.</p>
																						</div>
																					</div>
																					<div class="col-md-12 Ptabk Pactive_tan" id="Pff3">
																						<div class="col-md-8">
																							<p class="ttt">Для кого подходит услуга?</p>
																							<p class="ddd">Для кого подходит услуга?</p>
																							<p class="ddd">Для тех, кому нужны быстрые результаты</p>
																							<p class="ddd">Для тех, кто устал от пустых обещаний популярных SEO агентств</p>
																							<p class="ttt">Как строится работа:</p>
																							<p class="ddd">Проектная группа из 6 специалистов</p>
																							<p class="ddd">Детальные планы и отчёты</p>
																							<p class="ddd">Автоматизация продвижения сайта</p>
																							<p class="ddd">Прозрачная работа по продвижению сайта: вы видите всё, что происходит</p>
																							<p class="ddd">Продвижение по 2-м моделям: “Быстрые результаты” + “Лидер тематики”</p>
																							<p class="ttt">Результат</p>
																							<p class="ddd">Рост трафика в 2, 3, 5, 10 раз</p>
																							<p class="ddd">Увеличение продаж</p>
																						</div>
																						<div class="col-md-4">
																							<p class="ttt">Что входит</p>
																							<p class="ddd">Аудит</p>
																							<p class="ddd">Разработка стратегии продвижения</p>
																							<p class="ddd">Составление семантического ядра</p>
																							<p class="ddd">Разработка SEO модулей</p>
																							<p class="ddd">Написание SEO контента</p>
																							<p class="ddd">Аналитика и повышение конверсии</p>
																							<p class="ttt">от 50 000 руб./месяц</p>
																							<div style="width: 100%; height: 50px; clear:both"></div>
																							<a class="tm_pb_button" href="">Заказать услугу</a>
																							<div style="width: 100%; height: 30px; clear:both"></div>
																							<p class="gre">*Первые результаты через 2 мес.</p>
																						</div>
																					</div>
																					<div class="col-md-12 Ptabk Pactive_tan" id="Pff4">
																						<div class="col-md-8">
																							<p class="ttt">Для кого подходит услуга?</p>
																							<p class="ddd">Для кого подходит услуга?</p>
																							<p class="ddd">Для тех, кому нужны быстрые результаты</p>
																							<p class="ddd">Для тех, кто устал от пустых обещаний популярных SEO агентств</p>
																							<p class="ttt">Как строится работа:</p>
																							<p class="ddd">Проектная группа из 6 специалистов</p>
																							<p class="ddd">Детальные планы и отчёты</p>
																							<p class="ddd">Создание учебной системы, которая позволят самостоятельно расширять отдел</p>
																							<p class="ddd">Автоматизация продвижения сайта</p>
																							<p class="ddd">Продвижение по 2-м моделям: “Быстрые результаты” + “Лидер тематики”</p>
																							<p class="ttt">Результат</p>
																							<p class="ddd">Рост трафика в 2, 3, 5, 10 раз</p>
																							<p class="ddd">Увеличение продаж</p>
																							<p class="ddd">функционирующий отдел SEO</p>
																						</div>
																						<div class="col-md-4">
																							<p class="ttt">Что входит</p>
																							<p class="ddd">Разработка стратегии продвижения</p>
																					    <p class="ddd">Обучение сотрудников, создание учебных материалов</p>
																					    <p class="ddd">Формирование команды, запуск продвижения</p>
																					    <p class="ddd">Совместное продвижение в течение 3-х месяцев</p>
																					    <p class="ddd">Сопровождение работы отдела</p>
																							<p class="ttt">от 100 000 руб./месяц</p>
																							<div style="width: 100%; height: 50px; clear:both"></div>
																							<a class="tm_pb_button" href="">Заказать услугу</a>
																							<div style="width: 100%; height: 30px; clear:both"></div>
																							<p class="gre">*Первые результаты через 2 мес.</p>
																						</div>
																					</div>
																			</div>
																		</div>
																	</div>
																</div>
															</section>

															<section class="two sro">
				              					<div class="container">
				              						<div class="row">
				              							<div class="col-md-12">
				              								<h1 class="title">3 причины обратиться к нам</h1>
				              							</div>

				              							<div class="col-md-12">
				              								<div class="row">
				              								<div class="col-sm-12 col-md-4 block_twof">
				              									<img src="assests/noun_deadline.png" />
				              									<p class="tit"> Ответственность и        гарантия сроков</p>
				              								</div>
				              								<div class="col-sm-12 col-md-4 block_twof">
				              									<img src="assests/noun_report.png" />
				              									<p class="tit"> Прозрачная отчетность по выполненной работе</p>
				              								</div>
				              								<div class="col-sm-12 col-md-4 block_twof">
				              									<img src="assests/noun_Clients_Consulting.png" />
				              									<p class="tit"> Максимальный охват потенциальных клиентов</p>
				              								</div>
				              							</div>
				              							</div>
				              						</div>
				              					</div>
				              				</section>


															<section class="tenthre">
																<div class="container">
																	<div class="row">
																		<div class="col-md-12">
																			<h1 class="title">Остались вопросы? Напишите нам!</h1>
																		</div>

																		<div class="col-md-12 fomrbut">
																			<form>
																				<div class="col-md-4"><input type="text" placeholder="Ваше имя" /></div>
																				<div class="col-md-4"><input type="text" placeholder="Телефон" /></div>
																				<div class="col-md-4"><input type="text" placeholder="Почта" /></div>

																				<div class="col-md-12" style="padding: 20px 15px;">
																					<textarea cols="30" rows="10" placeholder="Напишите ваш вопрос для наших специалистов"></textarea>
																				</div>

																				<div class="col-md-12" style="text-align: left;">
																					Нажимая на кнопку Отправить заявку, я даю согласие на обработку персональных данных
																				</div>
																				<div class="col-md-12" style="text-align: center;">
																					<input type="submit" class="tm_pb_button" name="" value="Отправить заявку" style="max-width: 255px;">
																				</div>


																			</form>
																		</div>
																	</div>
																</div>
															</section>




											<section class="map hid">
												<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa7a3c79287b1fc621074ecc2abfb7f6a5097df06d86a534b35155044ad14f33a&amp;source=constructor"
																width="100%" height="450" frameborder="0"></iframe>

												<div class="overl"></div>
													<div class="container">
													<div class="row">
														<div class="col-md-4">
															<div class="text">
																<h1 class="title_wh_left">Контакты LapkinLab</h1>
																<p class="vvv"><br>
																	Москва, Ленинская Слобода, д. 26<br>
																	5 мин от метро "Автозаводская"<br>
																	<b style="font-size: 22px; "><a href="tel:88003010019" style="padding:10px 0px;">8 (800) 301-00-19</a></b><br>
																	Письмо директору: <a href="mailto:ya@lapkinlab.ru">ya@lapkinlab.ru</a><br>
																	Письмо по вакансиям: <a href="mailto:hr@lapkinlab.ru">hr@lapkinlab.ru</a><br>
																	Прочие письма: <a href="mailto:mail@lapkinlab.ru">mail@lapkinlab.ru</a><br><br>
																	Мы в социальных сетях:<br>
																	<a href="https://tele.click/lapkinlab" target="_blank" rel="noreferrer noopener"><i class="icon icon-telegram"></i></a>
																	<a href="https://tele.click/lapkinlab_test_bot" target="_blank" rel="noreferrer noopener"><i class="icon icon-telegram"></i></a>
																	<a href="https://www.instagram.com/lapkin___lab/" target="_blank" rel="noreferrer noopener"><i class="icon icon-instagram"></i></a>
																	<a href="https://vk.com/lapkinlab" target="_blank" rel="noreferrer noopener"><i class="icon icon-vkontakte"></i></a>
																	<a href="https://www.facebook.com/lapppkin" target="_blank" rel="noreferrer noopener"><i class="icon icon-facebook-squared"></i></a>
																</p>
															</div>
															<div class="ddddxczzz"></div>
														</div>
													</div>
													</div>


											</section>
											</main>

											<footer class="footer">
												<div class="container">
													<div class="row">
														<div class="col-md-6">
															<div class="col-md-6">
																<p class="ttt">Услуги</p>
																<ul>
																	<li>Seo продвижение</li>
																	<li>Создание сайтов</li>
																	<li>Контекстная реклама</li>
																	<li>SMM продвижение</li>
																	<li>Чат боты</li>
																</ul>
															</div>
															<div class="col-md-6">
																<p class="ttt">Компания</p>
																<ul>
																	<li>О нас</li>
																	<li>Статьи</li>
																	<li>Телеграм</li>
																	<li>Портфолио</li>
																	<li>Отзывы</li>
																</ul>
															</div>
														</div>
														<div class="col-md-6">
															<div class="col-md-6">
																<p class="te"><a href="tel:88003010019">8 (800) 301-00-19</a></p>
																<a href="" class="jre">Заказать звонок</a>
															</div>
															<div class="col-md-6">
																<p class="te"><a href="mailto:mail@lapkinlab.ru">mail@lapkinlab.ru</a></p>
																<a href="" class="jre">Быстро отвечаем</a>
															</div>
															<div class="col-md-12">
																	<p class="ccss">Москва, Ленинская Слобода, д. 26</p>
																	<p class="sscc">5 мин от метро "Автозаводская"</p>
															</div>
														</div>
													</div>
												</div>
											</footer>
										</body>




	<!-- <script src="modul/ionRangeSlider/js/jquery-1.12.3.min.js"></script> -->
	<script src="modul/ionRangeSlider/js/ion.rangeSlider.js"></script>
	<script src="modul/ionRangeSlider/js/js.js"></script>

	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
