// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$lapicon-1c-bitrix-name: 'lapicon-1c-bitrix';
$lapicon-1c-bitrix-x: 1086px;
$lapicon-1c-bitrix-y: 286px;
$lapicon-1c-bitrix-offset-x: -1086px;
$lapicon-1c-bitrix-offset-y: -286px;
$lapicon-1c-bitrix-width: 96px;
$lapicon-1c-bitrix-height: 96px;
$lapicon-1c-bitrix-total-width: 1278px;
$lapicon-1c-bitrix-total-height: 1178px;
$lapicon-1c-bitrix-image: 'images/sprite.png';
$lapicon-1c-bitrix: (1086px, 286px, -1086px, -286px, 96px, 96px, 1278px, 1178px, 'images/sprite.png', 'lapicon-1c-bitrix', );
$lapicon-active-search-name: 'lapicon-active-search';
$lapicon-active-search-x: 987px;
$lapicon-active-search-y: 692px;
$lapicon-active-search-offset-x: -987px;
$lapicon-active-search-offset-y: -692px;
$lapicon-active-search-width: 87px;
$lapicon-active-search-height: 98px;
$lapicon-active-search-total-width: 1278px;
$lapicon-active-search-total-height: 1178px;
$lapicon-active-search-image: 'images/sprite.png';
$lapicon-active-search: (987px, 692px, -987px, -692px, 87px, 98px, 1278px, 1178px, 'images/sprite.png', 'lapicon-active-search', );
$lapicon-analytics-desktop-name: 'lapicon-analytics-desktop';
$lapicon-analytics-desktop-x: 551px;
$lapicon-analytics-desktop-y: 398px;
$lapicon-analytics-desktop-offset-x: -551px;
$lapicon-analytics-desktop-offset-y: -398px;
$lapicon-analytics-desktop-width: 128px;
$lapicon-analytics-desktop-height: 128px;
$lapicon-analytics-desktop-total-width: 1278px;
$lapicon-analytics-desktop-total-height: 1178px;
$lapicon-analytics-desktop-image: 'images/sprite.png';
$lapicon-analytics-desktop: (551px, 398px, -551px, -398px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-analytics-desktop', );
$lapicon-analytics-name: 'lapicon-analytics';
$lapicon-analytics-x: 1190px;
$lapicon-analytics-y: 1048px;
$lapicon-analytics-offset-x: -1190px;
$lapicon-analytics-offset-y: -1048px;
$lapicon-analytics-width: 64px;
$lapicon-analytics-height: 64px;
$lapicon-analytics-total-width: 1278px;
$lapicon-analytics-total-height: 1178px;
$lapicon-analytics-image: 'images/sprite.png';
$lapicon-analytics: (1190px, 1048px, -1190px, -1048px, 64px, 64px, 1278px, 1178px, 'images/sprite.png', 'lapicon-analytics', );
$lapicon-audit-name: 'lapicon-audit';
$lapicon-audit-x: 987px;
$lapicon-audit-y: 790px;
$lapicon-audit-offset-x: -987px;
$lapicon-audit-offset-y: -790px;
$lapicon-audit-width: 94px;
$lapicon-audit-height: 89px;
$lapicon-audit-total-width: 1278px;
$lapicon-audit-total-height: 1178px;
$lapicon-audit-image: 'images/sprite.png';
$lapicon-audit: (987px, 790px, -987px, -790px, 94px, 89px, 1278px, 1178px, 'images/sprite.png', 'lapicon-audit', );
$lapicon-bar-chart-name: 'lapicon-bar-chart';
$lapicon-bar-chart-x: 1190px;
$lapicon-bar-chart-y: 1112px;
$lapicon-bar-chart-offset-x: -1190px;
$lapicon-bar-chart-offset-y: -1112px;
$lapicon-bar-chart-width: 64px;
$lapicon-bar-chart-height: 64px;
$lapicon-bar-chart-total-width: 1278px;
$lapicon-bar-chart-total-height: 1178px;
$lapicon-bar-chart-image: 'images/sprite.png';
$lapicon-bar-chart: (1190px, 1112px, -1190px, -1112px, 64px, 64px, 1278px, 1178px, 'images/sprite.png', 'lapicon-bar-chart', );
$lapicon-bitrix-full-name: 'lapicon-bitrix-full';
$lapicon-bitrix-full-x: 551px;
$lapicon-bitrix-full-y: 168px;
$lapicon-bitrix-full-offset-x: -551px;
$lapicon-bitrix-full-offset-y: -168px;
$lapicon-bitrix-full-width: 180px;
$lapicon-bitrix-full-height: 124px;
$lapicon-bitrix-full-total-width: 1278px;
$lapicon-bitrix-full-total-height: 1178px;
$lapicon-bitrix-full-image: 'images/sprite.png';
$lapicon-bitrix-full: (551px, 168px, -551px, -168px, 180px, 124px, 1278px, 1178px, 'images/sprite.png', 'lapicon-bitrix-full', );
$lapicon-bullseye-name: 'lapicon-bullseye';
$lapicon-bullseye-x: 1190px;
$lapicon-bullseye-y: 356px;
$lapicon-bullseye-offset-x: -1190px;
$lapicon-bullseye-offset-y: -356px;
$lapicon-bullseye-width: 86px;
$lapicon-bullseye-height: 86px;
$lapicon-bullseye-total-width: 1278px;
$lapicon-bullseye-total-height: 1178px;
$lapicon-bullseye-image: 'images/sprite.png';
$lapicon-bullseye: (1190px, 356px, -1190px, -356px, 86px, 86px, 1278px, 1178px, 'images/sprite.png', 'lapicon-bullseye', );
$lapicon-business-website-name: 'lapicon-business-website';
$lapicon-business-website-x: 640px;
$lapicon-business-website-y: 545px;
$lapicon-business-website-offset-x: -640px;
$lapicon-business-website-offset-y: -545px;
$lapicon-business-website-width: 99px;
$lapicon-business-website-height: 103px;
$lapicon-business-website-total-width: 1278px;
$lapicon-business-website-total-height: 1178px;
$lapicon-business-website-image: 'images/sprite.png';
$lapicon-business-website: (640px, 545px, -640px, -545px, 99px, 103px, 1278px, 1178px, 'images/sprite.png', 'lapicon-business-website', );
$lapicon-business-name: 'lapicon-business';
$lapicon-business-x: 987px;
$lapicon-business-y: 0px;
$lapicon-business-offset-x: -987px;
$lapicon-business-offset-y: 0px;
$lapicon-business-width: 99px;
$lapicon-business-height: 103px;
$lapicon-business-total-width: 1278px;
$lapicon-business-total-height: 1178px;
$lapicon-business-image: 'images/sprite.png';
$lapicon-business: (987px, 0px, -987px, 0px, 99px, 103px, 1278px, 1178px, 'images/sprite.png', 'lapicon-business', );
$lapicon-calendar-name: 'lapicon-calendar';
$lapicon-calendar-x: 962px;
$lapicon-calendar-y: 752px;
$lapicon-calendar-offset-x: -962px;
$lapicon-calendar-offset-y: -752px;
$lapicon-calendar-width: 23px;
$lapicon-calendar-height: 25px;
$lapicon-calendar-total-width: 1278px;
$lapicon-calendar-total-height: 1178px;
$lapicon-calendar-image: 'images/sprite.png';
$lapicon-calendar: (962px, 752px, -962px, -752px, 23px, 25px, 1278px, 1178px, 'images/sprite.png', 'lapicon-calendar', );
$lapicon-call-large-name: 'lapicon-call-large';
$lapicon-call-large-x: 1190px;
$lapicon-call-large-y: 180px;
$lapicon-call-large-offset-x: -1190px;
$lapicon-call-large-offset-y: -180px;
$lapicon-call-large-width: 88px;
$lapicon-call-large-height: 88px;
$lapicon-call-large-total-width: 1278px;
$lapicon-call-large-total-height: 1178px;
$lapicon-call-large-image: 'images/sprite.png';
$lapicon-call-large: (1190px, 180px, -1190px, -180px, 88px, 88px, 1278px, 1178px, 'images/sprite.png', 'lapicon-call-large', );
$lapicon-call-white-name: 'lapicon-call-white';
$lapicon-call-white-x: 1254px;
$lapicon-call-white-y: 1048px;
$lapicon-call-white-offset-x: -1254px;
$lapicon-call-white-offset-y: -1048px;
$lapicon-call-white-width: 24px;
$lapicon-call-white-height: 24px;
$lapicon-call-white-total-width: 1278px;
$lapicon-call-white-total-height: 1178px;
$lapicon-call-white-image: 'images/sprite.png';
$lapicon-call-white: (1254px, 1048px, -1254px, -1048px, 24px, 24px, 1278px, 1178px, 'images/sprite.png', 'lapicon-call-white', );
$lapicon-call-name: 'lapicon-call';
$lapicon-call-x: 1254px;
$lapicon-call-y: 1072px;
$lapicon-call-offset-x: -1254px;
$lapicon-call-offset-y: -1072px;
$lapicon-call-width: 24px;
$lapicon-call-height: 24px;
$lapicon-call-total-width: 1278px;
$lapicon-call-total-height: 1178px;
$lapicon-call-image: 'images/sprite.png';
$lapicon-call: (1254px, 1072px, -1254px, -1072px, 24px, 24px, 1278px, 1178px, 'images/sprite.png', 'lapicon-call', );
$lapicon-chat-name: 'lapicon-chat';
$lapicon-chat-x: 1190px;
$lapicon-chat-y: 0px;
$lapicon-chat-offset-x: -1190px;
$lapicon-chat-offset-y: 0px;
$lapicon-chat-width: 88px;
$lapicon-chat-height: 90px;
$lapicon-chat-total-width: 1278px;
$lapicon-chat-total-height: 1178px;
$lapicon-chat-image: 'images/sprite.png';
$lapicon-chat: (1190px, 0px, -1190px, 0px, 88px, 90px, 1278px, 1178px, 'images/sprite.png', 'lapicon-chat', );
$lapicon-chat2-name: 'lapicon-chat2';
$lapicon-chat2-x: 867px;
$lapicon-chat2-y: 0px;
$lapicon-chat2-offset-x: -867px;
$lapicon-chat2-offset-y: 0px;
$lapicon-chat2-width: 120px;
$lapicon-chat2-height: 120px;
$lapicon-chat2-total-width: 1278px;
$lapicon-chat2-total-height: 1178px;
$lapicon-chat2-image: 'images/sprite.png';
$lapicon-chat2: (867px, 0px, -867px, 0px, 120px, 120px, 1278px, 1178px, 'images/sprite.png', 'lapicon-chat2', );
$lapicon-check-mark-name: 'lapicon-check-mark';
$lapicon-check-mark-x: 808px;
$lapicon-check-mark-y: 640px;
$lapicon-check-mark-offset-x: -808px;
$lapicon-check-mark-offset-y: -640px;
$lapicon-check-mark-width: 20px;
$lapicon-check-mark-height: 18px;
$lapicon-check-mark-total-width: 1278px;
$lapicon-check-mark-total-height: 1178px;
$lapicon-check-mark-image: 'images/sprite.png';
$lapicon-check-mark: (808px, 640px, -808px, -640px, 20px, 18px, 1278px, 1178px, 'images/sprite.png', 'lapicon-check-mark', );
$lapicon-checkbox-checked-name: 'lapicon-checkbox-checked';
$lapicon-checkbox-checked-x: 1258px;
$lapicon-checkbox-checked-y: 963px;
$lapicon-checkbox-checked-offset-x: -1258px;
$lapicon-checkbox-checked-offset-y: -963px;
$lapicon-checkbox-checked-width: 20px;
$lapicon-checkbox-checked-height: 20px;
$lapicon-checkbox-checked-total-width: 1278px;
$lapicon-checkbox-checked-total-height: 1178px;
$lapicon-checkbox-checked-image: 'images/sprite.png';
$lapicon-checkbox-checked: (1258px, 963px, -1258px, -963px, 20px, 20px, 1278px, 1178px, 'images/sprite.png', 'lapicon-checkbox-checked', );
$lapicon-checkbox-unchecked-name: 'lapicon-checkbox-unchecked';
$lapicon-checkbox-unchecked-x: 1258px;
$lapicon-checkbox-unchecked-y: 983px;
$lapicon-checkbox-unchecked-offset-x: -1258px;
$lapicon-checkbox-unchecked-offset-y: -983px;
$lapicon-checkbox-unchecked-width: 20px;
$lapicon-checkbox-unchecked-height: 20px;
$lapicon-checkbox-unchecked-total-width: 1278px;
$lapicon-checkbox-unchecked-total-height: 1178px;
$lapicon-checkbox-unchecked-image: 'images/sprite.png';
$lapicon-checkbox-unchecked: (1258px, 983px, -1258px, -983px, 20px, 20px, 1278px, 1178px, 'images/sprite.png', 'lapicon-checkbox-unchecked', );
$lapicon-checklist-name: 'lapicon-checklist';
$lapicon-checklist-x: 867px;
$lapicon-checklist-y: 720px;
$lapicon-checklist-offset-x: -867px;
$lapicon-checklist-offset-y: -720px;
$lapicon-checklist-width: 64px;
$lapicon-checklist-height: 64px;
$lapicon-checklist-total-width: 1278px;
$lapicon-checklist-total-height: 1178px;
$lapicon-checklist-image: 'images/sprite.png';
$lapicon-checklist: (867px, 720px, -867px, -720px, 64px, 64px, 1278px, 1178px, 'images/sprite.png', 'lapicon-checklist', );
$lapicon-close-name: 'lapicon-close';
$lapicon-close-x: 1130px;
$lapicon-close-y: 960px;
$lapicon-close-offset-x: -1130px;
$lapicon-close-offset-y: -960px;
$lapicon-close-width: 40px;
$lapicon-close-height: 40px;
$lapicon-close-total-width: 1278px;
$lapicon-close-total-height: 1178px;
$lapicon-close-image: 'images/sprite.png';
$lapicon-close: (1130px, 960px, -1130px, -960px, 40px, 40px, 1278px, 1178px, 'images/sprite.png', 'lapicon-close', );
$lapicon-consulting-name: 'lapicon-consulting';
$lapicon-consulting-x: 987px;
$lapicon-consulting-y: 594px;
$lapicon-consulting-offset-x: -987px;
$lapicon-consulting-offset-y: -594px;
$lapicon-consulting-width: 89px;
$lapicon-consulting-height: 98px;
$lapicon-consulting-total-width: 1278px;
$lapicon-consulting-total-height: 1178px;
$lapicon-consulting-image: 'images/sprite.png';
$lapicon-consulting: (987px, 594px, -987px, -594px, 89px, 98px, 1278px, 1178px, 'images/sprite.png', 'lapicon-consulting', );
$lapicon-customer-service-name: 'lapicon-customer-service';
$lapicon-customer-service-x: 1190px;
$lapicon-customer-service-y: 268px;
$lapicon-customer-service-offset-x: -1190px;
$lapicon-customer-service-offset-y: -268px;
$lapicon-customer-service-width: 88px;
$lapicon-customer-service-height: 88px;
$lapicon-customer-service-total-width: 1278px;
$lapicon-customer-service-total-height: 1178px;
$lapicon-customer-service-image: 'images/sprite.png';
$lapicon-customer-service: (1190px, 268px, -1190px, -268px, 88px, 88px, 1278px, 1178px, 'images/sprite.png', 'lapicon-customer-service', );
$lapicon-customer-support-name: 'lapicon-customer-support';
$lapicon-customer-support-x: 1086px;
$lapicon-customer-support-y: 92px;
$lapicon-customer-support-offset-x: -1086px;
$lapicon-customer-support-offset-y: -92px;
$lapicon-customer-support-width: 97px;
$lapicon-customer-support-height: 97px;
$lapicon-customer-support-total-width: 1278px;
$lapicon-customer-support-total-height: 1178px;
$lapicon-customer-support-image: 'images/sprite.png';
$lapicon-customer-support: (1086px, 92px, -1086px, -92px, 97px, 97px, 1278px, 1178px, 'images/sprite.png', 'lapicon-customer-support', );
$lapicon-deadline-name: 'lapicon-deadline';
$lapicon-deadline-x: 444px;
$lapicon-deadline-y: 392px;
$lapicon-deadline-offset-x: -444px;
$lapicon-deadline-offset-y: -392px;
$lapicon-deadline-width: 95px;
$lapicon-deadline-height: 111px;
$lapicon-deadline-total-width: 1278px;
$lapicon-deadline-total-height: 1178px;
$lapicon-deadline-image: 'images/sprite.png';
$lapicon-deadline: (444px, 392px, -444px, -392px, 95px, 111px, 1278px, 1178px, 'images/sprite.png', 'lapicon-deadline', );
$lapicon-debt-name: 'lapicon-debt';
$lapicon-debt-x: 867px;
$lapicon-debt-y: 120px;
$lapicon-debt-offset-x: -867px;
$lapicon-debt-offset-y: -120px;
$lapicon-debt-width: 120px;
$lapicon-debt-height: 120px;
$lapicon-debt-total-width: 1278px;
$lapicon-debt-total-height: 1178px;
$lapicon-debt-image: 'images/sprite.png';
$lapicon-debt: (867px, 120px, -867px, -120px, 120px, 120px, 1278px, 1178px, 'images/sprite.png', 'lapicon-debt', );
$lapicon-delivery-truck-name: 'lapicon-delivery-truck';
$lapicon-delivery-truck-x: 867px;
$lapicon-delivery-truck-y: 240px;
$lapicon-delivery-truck-offset-x: -867px;
$lapicon-delivery-truck-offset-y: -240px;
$lapicon-delivery-truck-width: 120px;
$lapicon-delivery-truck-height: 120px;
$lapicon-delivery-truck-total-width: 1278px;
$lapicon-delivery-truck-total-height: 1178px;
$lapicon-delivery-truck-image: 'images/sprite.png';
$lapicon-delivery-truck: (867px, 240px, -867px, -240px, 120px, 120px, 1278px, 1178px, 'images/sprite.png', 'lapicon-delivery-truck', );
$lapicon-development-name: 'lapicon-development';
$lapicon-development-x: 188px;
$lapicon-development-y: 392px;
$lapicon-development-offset-x: -188px;
$lapicon-development-offset-y: -392px;
$lapicon-development-width: 128px;
$lapicon-development-height: 128px;
$lapicon-development-total-width: 1278px;
$lapicon-development-total-height: 1178px;
$lapicon-development-image: 'images/sprite.png';
$lapicon-development: (188px, 392px, -188px, -392px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-development', );
$lapicon-diagram-name: 'lapicon-diagram';
$lapicon-diagram-x: 987px;
$lapicon-diagram-y: 204px;
$lapicon-diagram-offset-x: -987px;
$lapicon-diagram-offset-y: -204px;
$lapicon-diagram-width: 98px;
$lapicon-diagram-height: 98px;
$lapicon-diagram-total-width: 1278px;
$lapicon-diagram-total-height: 1178px;
$lapicon-diagram-image: 'images/sprite.png';
$lapicon-diagram: (987px, 204px, -987px, -204px, 98px, 98px, 1278px, 1178px, 'images/sprite.png', 'lapicon-diagram', );
$lapicon-disable-name: 'lapicon-disable';
$lapicon-disable-x: 1254px;
$lapicon-disable-y: 1112px;
$lapicon-disable-offset-x: -1254px;
$lapicon-disable-offset-y: -1112px;
$lapicon-disable-width: 24px;
$lapicon-disable-height: 24px;
$lapicon-disable-total-width: 1278px;
$lapicon-disable-total-height: 1178px;
$lapicon-disable-image: 'images/sprite.png';
$lapicon-disable: (1254px, 1112px, -1254px, -1112px, 24px, 24px, 1278px, 1178px, 'images/sprite.png', 'lapicon-disable', );
$lapicon-drupal-name: 'lapicon-drupal';
$lapicon-drupal-x: 1086px;
$lapicon-drupal-y: 382px;
$lapicon-drupal-offset-x: -1086px;
$lapicon-drupal-offset-y: -382px;
$lapicon-drupal-width: 96px;
$lapicon-drupal-height: 96px;
$lapicon-drupal-total-width: 1278px;
$lapicon-drupal-total-height: 1178px;
$lapicon-drupal-image: 'images/sprite.png';
$lapicon-drupal: (1086px, 382px, -1086px, -382px, 96px, 96px, 1278px, 1178px, 'images/sprite.png', 'lapicon-drupal', );
$lapicon-email-name: 'lapicon-email';
$lapicon-email-x: 1190px;
$lapicon-email-y: 442px;
$lapicon-email-offset-x: -1190px;
$lapicon-email-offset-y: -442px;
$lapicon-email-width: 86px;
$lapicon-email-height: 86px;
$lapicon-email-total-width: 1278px;
$lapicon-email-total-height: 1178px;
$lapicon-email-image: 'images/sprite.png';
$lapicon-email: (1190px, 442px, -1190px, -442px, 86px, 86px, 1278px, 1178px, 'images/sprite.png', 'lapicon-email', );
$lapicon-enable-white-name: 'lapicon-enable-white';
$lapicon-enable-white-x: 1254px;
$lapicon-enable-white-y: 1136px;
$lapicon-enable-white-offset-x: -1254px;
$lapicon-enable-white-offset-y: -1136px;
$lapicon-enable-white-width: 24px;
$lapicon-enable-white-height: 24px;
$lapicon-enable-white-total-width: 1278px;
$lapicon-enable-white-total-height: 1178px;
$lapicon-enable-white-image: 'images/sprite.png';
$lapicon-enable-white: (1254px, 1136px, -1254px, -1136px, 24px, 24px, 1278px, 1178px, 'images/sprite.png', 'lapicon-enable-white', );
$lapicon-enable-name: 'lapicon-enable';
$lapicon-enable-x: 963px;
$lapicon-enable-y: 720px;
$lapicon-enable-offset-x: -963px;
$lapicon-enable-offset-y: -720px;
$lapicon-enable-width: 24px;
$lapicon-enable-height: 24px;
$lapicon-enable-total-width: 1278px;
$lapicon-enable-total-height: 1178px;
$lapicon-enable-image: 'images/sprite.png';
$lapicon-enable: (963px, 720px, -963px, -720px, 24px, 24px, 1278px, 1178px, 'images/sprite.png', 'lapicon-enable', );
$lapicon-facebook-name: 'lapicon-facebook';
$lapicon-facebook-x: 316px;
$lapicon-facebook-y: 392px;
$lapicon-facebook-offset-x: -316px;
$lapicon-facebook-offset-y: -392px;
$lapicon-facebook-width: 128px;
$lapicon-facebook-height: 128px;
$lapicon-facebook-total-width: 1278px;
$lapicon-facebook-total-height: 1178px;
$lapicon-facebook-image: 'images/sprite.png';
$lapicon-facebook: (316px, 392px, -316px, -392px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-facebook', );
$lapicon-faq-name: 'lapicon-faq';
$lapicon-faq-x: 1190px;
$lapicon-faq-y: 90px;
$lapicon-faq-offset-x: -1190px;
$lapicon-faq-offset-y: -90px;
$lapicon-faq-width: 88px;
$lapicon-faq-height: 90px;
$lapicon-faq-total-width: 1278px;
$lapicon-faq-total-height: 1178px;
$lapicon-faq-image: 'images/sprite.png';
$lapicon-faq: (1190px, 90px, -1190px, -90px, 88px, 90px, 1278px, 1178px, 'images/sprite.png', 'lapicon-faq', );
$lapicon-file-name: 'lapicon-file';
$lapicon-file-x: 1190px;
$lapicon-file-y: 874px;
$lapicon-file-offset-x: -1190px;
$lapicon-file-offset-y: -874px;
$lapicon-file-width: 71px;
$lapicon-file-height: 89px;
$lapicon-file-total-width: 1278px;
$lapicon-file-total-height: 1178px;
$lapicon-file-image: 'images/sprite.png';
$lapicon-file: (1190px, 874px, -1190px, -874px, 71px, 89px, 1278px, 1178px, 'images/sprite.png', 'lapicon-file', );
$lapicon-fire-name: 'lapicon-fire';
$lapicon-fire-x: 0px;
$lapicon-fire-y: 545px;
$lapicon-fire-offset-x: 0px;
$lapicon-fire-offset-y: -545px;
$lapicon-fire-width: 128px;
$lapicon-fire-height: 128px;
$lapicon-fire-total-width: 1278px;
$lapicon-fire-total-height: 1178px;
$lapicon-fire-image: 'images/sprite.png';
$lapicon-fire: (0px, 545px, 0px, -545px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-fire', );
$lapicon-gear-name: 'lapicon-gear';
$lapicon-gear-x: 1190px;
$lapicon-gear-y: 614px;
$lapicon-gear-offset-x: -1190px;
$lapicon-gear-offset-y: -614px;
$lapicon-gear-width: 85px;
$lapicon-gear-height: 85px;
$lapicon-gear-total-width: 1278px;
$lapicon-gear-total-height: 1178px;
$lapicon-gear-image: 'images/sprite.png';
$lapicon-gear: (1190px, 614px, -1190px, -614px, 85px, 85px, 1278px, 1178px, 'images/sprite.png', 'lapicon-gear', );
$lapicon-gym-name: 'lapicon-gym';
$lapicon-gym-x: 867px;
$lapicon-gym-y: 360px;
$lapicon-gym-offset-x: -867px;
$lapicon-gym-offset-y: -360px;
$lapicon-gym-width: 120px;
$lapicon-gym-height: 120px;
$lapicon-gym-total-width: 1278px;
$lapicon-gym-total-height: 1178px;
$lapicon-gym-image: 'images/sprite.png';
$lapicon-gym: (867px, 360px, -867px, -360px, 120px, 120px, 1278px, 1178px, 'images/sprite.png', 'lapicon-gym', );
$lapicon-high-five-name: 'lapicon-high-five';
$lapicon-high-five-x: 1086px;
$lapicon-high-five-y: 189px;
$lapicon-high-five-offset-x: -1086px;
$lapicon-high-five-offset-y: -189px;
$lapicon-high-five-width: 97px;
$lapicon-high-five-height: 97px;
$lapicon-high-five-total-width: 1278px;
$lapicon-high-five-total-height: 1178px;
$lapicon-high-five-image: 'images/sprite.png';
$lapicon-high-five: (1086px, 189px, -1086px, -189px, 97px, 97px, 1278px, 1178px, 'images/sprite.png', 'lapicon-high-five', );
$lapicon-human-resources-name: 'lapicon-human-resources';
$lapicon-human-resources-x: 1190px;
$lapicon-human-resources-y: 528px;
$lapicon-human-resources-offset-x: -1190px;
$lapicon-human-resources-offset-y: -528px;
$lapicon-human-resources-width: 86px;
$lapicon-human-resources-height: 86px;
$lapicon-human-resources-total-width: 1278px;
$lapicon-human-resources-total-height: 1178px;
$lapicon-human-resources-image: 'images/sprite.png';
$lapicon-human-resources: (1190px, 528px, -1190px, -528px, 86px, 86px, 1278px, 1178px, 'images/sprite.png', 'lapicon-human-resources', );
$lapicon-icon-circle-facebook-name: 'lapicon-icon-circle-facebook';
$lapicon-icon-circle-facebook-x: 1258px;
$lapicon-icon-circle-facebook-y: 1003px;
$lapicon-icon-circle-facebook-offset-x: -1258px;
$lapicon-icon-circle-facebook-offset-y: -1003px;
$lapicon-icon-circle-facebook-width: 20px;
$lapicon-icon-circle-facebook-height: 20px;
$lapicon-icon-circle-facebook-total-width: 1278px;
$lapicon-icon-circle-facebook-total-height: 1178px;
$lapicon-icon-circle-facebook-image: 'images/sprite.png';
$lapicon-icon-circle-facebook: (1258px, 1003px, -1258px, -1003px, 20px, 20px, 1278px, 1178px, 'images/sprite.png', 'lapicon-icon-circle-facebook', );
$lapicon-icon-circle-instagram-name: 'lapicon-icon-circle-instagram';
$lapicon-icon-circle-instagram-x: 1258px;
$lapicon-icon-circle-instagram-y: 1023px;
$lapicon-icon-circle-instagram-offset-x: -1258px;
$lapicon-icon-circle-instagram-offset-y: -1023px;
$lapicon-icon-circle-instagram-width: 20px;
$lapicon-icon-circle-instagram-height: 20px;
$lapicon-icon-circle-instagram-total-width: 1278px;
$lapicon-icon-circle-instagram-total-height: 1178px;
$lapicon-icon-circle-instagram-image: 'images/sprite.png';
$lapicon-icon-circle-instagram: (1258px, 1023px, -1258px, -1023px, 20px, 20px, 1278px, 1178px, 'images/sprite.png', 'lapicon-icon-circle-instagram', );
$lapicon-icon-circle-telegram-name: 'lapicon-icon-circle-telegram';
$lapicon-icon-circle-telegram-x: 1170px;
$lapicon-icon-circle-telegram-y: 960px;
$lapicon-icon-circle-telegram-offset-x: -1170px;
$lapicon-icon-circle-telegram-offset-y: -960px;
$lapicon-icon-circle-telegram-width: 20px;
$lapicon-icon-circle-telegram-height: 20px;
$lapicon-icon-circle-telegram-total-width: 1278px;
$lapicon-icon-circle-telegram-total-height: 1178px;
$lapicon-icon-circle-telegram-image: 'images/sprite.png';
$lapicon-icon-circle-telegram: (1170px, 960px, -1170px, -960px, 20px, 20px, 1278px, 1178px, 'images/sprite.png', 'lapicon-icon-circle-telegram', );
$lapicon-icon-circle-vk-name: 'lapicon-icon-circle-vk';
$lapicon-icon-circle-vk-x: 1170px;
$lapicon-icon-circle-vk-y: 980px;
$lapicon-icon-circle-vk-offset-x: -1170px;
$lapicon-icon-circle-vk-offset-y: -980px;
$lapicon-icon-circle-vk-width: 20px;
$lapicon-icon-circle-vk-height: 20px;
$lapicon-icon-circle-vk-total-width: 1278px;
$lapicon-icon-circle-vk-total-height: 1178px;
$lapicon-icon-circle-vk-image: 'images/sprite.png';
$lapicon-icon-circle-vk: (1170px, 980px, -1170px, -980px, 20px, 20px, 1278px, 1178px, 'images/sprite.png', 'lapicon-icon-circle-vk', );
$lapicon-info-icon-name: 'lapicon-info-icon';
$lapicon-info-icon-x: 739px;
$lapicon-info-icon-y: 640px;
$lapicon-info-icon-offset-x: -739px;
$lapicon-info-icon-offset-y: -640px;
$lapicon-info-icon-width: 29px;
$lapicon-info-icon-height: 29px;
$lapicon-info-icon-total-width: 1278px;
$lapicon-info-icon-total-height: 1178px;
$lapicon-info-icon-image: 'images/sprite.png';
$lapicon-info-icon: (739px, 640px, -739px, -640px, 29px, 29px, 1278px, 1178px, 'images/sprite.png', 'lapicon-info-icon', );
$lapicon-landing-page-name: 'lapicon-landing-page';
$lapicon-landing-page-x: 1190px;
$lapicon-landing-page-y: 699px;
$lapicon-landing-page-offset-x: -1190px;
$lapicon-landing-page-offset-y: -699px;
$lapicon-landing-page-width: 75px;
$lapicon-landing-page-height: 93px;
$lapicon-landing-page-total-width: 1278px;
$lapicon-landing-page-total-height: 1178px;
$lapicon-landing-page-image: 'images/sprite.png';
$lapicon-landing-page: (1190px, 699px, -1190px, -699px, 75px, 93px, 1278px, 1178px, 'images/sprite.png', 'lapicon-landing-page', );
$lapicon-laravel-name: 'lapicon-laravel';
$lapicon-laravel-x: 1086px;
$lapicon-laravel-y: 864px;
$lapicon-laravel-offset-x: -1086px;
$lapicon-laravel-offset-y: -864px;
$lapicon-laravel-width: 93px;
$lapicon-laravel-height: 96px;
$lapicon-laravel-total-width: 1278px;
$lapicon-laravel-total-height: 1178px;
$lapicon-laravel-image: 'images/sprite.png';
$lapicon-laravel: (1086px, 864px, -1086px, -864px, 93px, 96px, 1278px, 1178px, 'images/sprite.png', 'lapicon-laravel', );
$lapicon-launch-name: 'lapicon-launch';
$lapicon-launch-x: 128px;
$lapicon-launch-y: 545px;
$lapicon-launch-offset-x: -128px;
$lapicon-launch-offset-y: -545px;
$lapicon-launch-width: 128px;
$lapicon-launch-height: 128px;
$lapicon-launch-total-width: 1278px;
$lapicon-launch-total-height: 1178px;
$lapicon-launch-image: 'images/sprite.png';
$lapicon-launch: (128px, 545px, -128px, -545px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-launch', );
$lapicon-layout-name: 'lapicon-layout';
$lapicon-layout-x: 96px;
$lapicon-layout-y: 1003px;
$lapicon-layout-offset-x: -96px;
$lapicon-layout-offset-y: -1003px;
$lapicon-layout-width: 96px;
$lapicon-layout-height: 84px;
$lapicon-layout-total-width: 1278px;
$lapicon-layout-total-height: 1178px;
$lapicon-layout-image: 'images/sprite.png';
$lapicon-layout: (96px, 1003px, -96px, -1003px, 96px, 84px, 1278px, 1178px, 'images/sprite.png', 'lapicon-layout', );
$lapicon-learning-name: 'lapicon-learning';
$lapicon-learning-x: 867px;
$lapicon-learning-y: 480px;
$lapicon-learning-offset-x: -867px;
$lapicon-learning-offset-y: -480px;
$lapicon-learning-width: 120px;
$lapicon-learning-height: 120px;
$lapicon-learning-total-width: 1278px;
$lapicon-learning-total-height: 1178px;
$lapicon-learning-image: 'images/sprite.png';
$lapicon-learning: (867px, 480px, -867px, -480px, 120px, 120px, 1278px, 1178px, 'images/sprite.png', 'lapicon-learning', );
$lapicon-left-arror-name: 'lapicon-left-arror';
$lapicon-left-arror-x: 1027px;
$lapicon-left-arror-y: 879px;
$lapicon-left-arror-offset-x: -1027px;
$lapicon-left-arror-offset-y: -879px;
$lapicon-left-arror-width: 32px;
$lapicon-left-arror-height: 32px;
$lapicon-left-arror-total-width: 1278px;
$lapicon-left-arror-total-height: 1178px;
$lapicon-left-arror-image: 'images/sprite.png';
$lapicon-left-arror: (1027px, 879px, -1027px, -879px, 32px, 32px, 1278px, 1178px, 'images/sprite.png', 'lapicon-left-arror', );
$lapicon-left-arrow-large-name: 'lapicon-left-arrow-large';
$lapicon-left-arrow-large-x: 256px;
$lapicon-left-arrow-large-y: 545px;
$lapicon-left-arrow-large-offset-x: -256px;
$lapicon-left-arrow-large-offset-y: -545px;
$lapicon-left-arrow-large-width: 128px;
$lapicon-left-arrow-large-height: 128px;
$lapicon-left-arrow-large-total-width: 1278px;
$lapicon-left-arrow-large-total-height: 1178px;
$lapicon-left-arrow-large-image: 'images/sprite.png';
$lapicon-left-arrow-large: (256px, 545px, -256px, -545px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-left-arrow-large', );
$lapicon-location-map-name: 'lapicon-location-map';
$lapicon-location-map-x: 0px;
$lapicon-location-map-y: 1089px;
$lapicon-location-map-offset-x: 0px;
$lapicon-location-map-offset-y: -1089px;
$lapicon-location-map-width: 91px;
$lapicon-location-map-height: 89px;
$lapicon-location-map-total-width: 1278px;
$lapicon-location-map-total-height: 1178px;
$lapicon-location-map-image: 'images/sprite.png';
$lapicon-location-map: (0px, 1089px, 0px, -1089px, 91px, 89px, 1278px, 1178px, 'images/sprite.png', 'lapicon-location-map', );
$lapicon-location-white-name: 'lapicon-location-white';
$lapicon-location-white-x: 1261px;
$lapicon-location-white-y: 874px;
$lapicon-location-white-offset-x: -1261px;
$lapicon-location-white-offset-y: -874px;
$lapicon-location-white-width: 17px;
$lapicon-location-white-height: 21px;
$lapicon-location-white-total-width: 1278px;
$lapicon-location-white-total-height: 1178px;
$lapicon-location-white-image: 'images/sprite.png';
$lapicon-location-white: (1261px, 874px, -1261px, -874px, 17px, 21px, 1278px, 1178px, 'images/sprite.png', 'lapicon-location-white', );
$lapicon-location-name: 'lapicon-location';
$lapicon-location-x: 1261px;
$lapicon-location-y: 895px;
$lapicon-location-offset-x: -1261px;
$lapicon-location-offset-y: -895px;
$lapicon-location-width: 17px;
$lapicon-location-height: 21px;
$lapicon-location-total-width: 1278px;
$lapicon-location-total-height: 1178px;
$lapicon-location-image: 'images/sprite.png';
$lapicon-location: (1261px, 895px, -1261px, -895px, 17px, 21px, 1278px, 1178px, 'images/sprite.png', 'lapicon-location', );
$lapicon-logo-sm-name: 'lapicon-logo-sm';
$lapicon-logo-sm-x: 867px;
$lapicon-logo-sm-y: 600px;
$lapicon-logo-sm-offset-x: -867px;
$lapicon-logo-sm-offset-y: -600px;
$lapicon-logo-sm-width: 120px;
$lapicon-logo-sm-height: 120px;
$lapicon-logo-sm-total-width: 1278px;
$lapicon-logo-sm-total-height: 1178px;
$lapicon-logo-sm-image: 'images/sprite.png';
$lapicon-logo-sm: (867px, 600px, -867px, -600px, 120px, 120px, 1278px, 1178px, 'images/sprite.png', 'lapicon-logo-sm', );
$lapicon-logo-small-name: 'lapicon-logo-small';
$lapicon-logo-small-x: 679px;
$lapicon-logo-small-y: 398px;
$lapicon-logo-small-offset-x: -679px;
$lapicon-logo-small-offset-y: -398px;
$lapicon-logo-small-width: 60px;
$lapicon-logo-small-height: 60px;
$lapicon-logo-small-total-width: 1278px;
$lapicon-logo-small-total-height: 1178px;
$lapicon-logo-small-image: 'images/sprite.png';
$lapicon-logo-small: (679px, 398px, -679px, -398px, 60px, 60px, 1278px, 1178px, 'images/sprite.png', 'lapicon-logo-small', );
$lapicon-logo-name: 'lapicon-logo';
$lapicon-logo-x: 188px;
$lapicon-logo-y: 268px;
$lapicon-logo-offset-x: -188px;
$lapicon-logo-offset-y: -268px;
$lapicon-logo-width: 350px;
$lapicon-logo-height: 124px;
$lapicon-logo-total-width: 1278px;
$lapicon-logo-total-height: 1178px;
$lapicon-logo-image: 'images/sprite.png';
$lapicon-logo: (188px, 268px, -188px, -268px, 350px, 124px, 1278px, 1178px, 'images/sprite.png', 'lapicon-logo', );
$lapicon-manager-name: 'lapicon-manager';
$lapicon-manager-x: 91px;
$lapicon-manager-y: 1089px;
$lapicon-manager-offset-x: -91px;
$lapicon-manager-offset-y: -1089px;
$lapicon-manager-width: 89px;
$lapicon-manager-height: 89px;
$lapicon-manager-total-width: 1278px;
$lapicon-manager-total-height: 1178px;
$lapicon-manager-image: 'images/sprite.png';
$lapicon-manager: (91px, 1089px, -91px, -1089px, 89px, 89px, 1278px, 1178px, 'images/sprite.png', 'lapicon-manager', );
$lapicon-menu-name: 'lapicon-menu';
$lapicon-menu-x: 987px;
$lapicon-menu-y: 879px;
$lapicon-menu-offset-x: -987px;
$lapicon-menu-offset-y: -879px;
$lapicon-menu-width: 40px;
$lapicon-menu-height: 40px;
$lapicon-menu-total-width: 1278px;
$lapicon-menu-total-height: 1178px;
$lapicon-menu-image: 'images/sprite.png';
$lapicon-menu: (987px, 879px, -987px, -879px, 40px, 40px, 1278px, 1178px, 'images/sprite.png', 'lapicon-menu', );
$lapicon-message-name: 'lapicon-message';
$lapicon-message-x: 384px;
$lapicon-message-y: 545px;
$lapicon-message-offset-x: -384px;
$lapicon-message-offset-y: -545px;
$lapicon-message-width: 128px;
$lapicon-message-height: 128px;
$lapicon-message-total-width: 1278px;
$lapicon-message-total-height: 1178px;
$lapicon-message-image: 'images/sprite.png';
$lapicon-message: (384px, 545px, -384px, -545px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-message', );
$lapicon-minus-name: 'lapicon-minus';
$lapicon-minus-x: 1254px;
$lapicon-minus-y: 1096px;
$lapicon-minus-offset-x: -1254px;
$lapicon-minus-offset-y: -1096px;
$lapicon-minus-width: 20px;
$lapicon-minus-height: 7px;
$lapicon-minus-total-width: 1278px;
$lapicon-minus-total-height: 1178px;
$lapicon-minus-image: 'images/sprite.png';
$lapicon-minus: (1254px, 1096px, -1254px, -1096px, 20px, 7px, 1278px, 1178px, 'images/sprite.png', 'lapicon-minus', );
$lapicon-modx-name: 'lapicon-modx';
$lapicon-modx-x: 987px;
$lapicon-modx-y: 498px;
$lapicon-modx-offset-x: -987px;
$lapicon-modx-offset-y: -498px;
$lapicon-modx-width: 93px;
$lapicon-modx-height: 96px;
$lapicon-modx-total-width: 1278px;
$lapicon-modx-total-height: 1178px;
$lapicon-modx-image: 'images/sprite.png';
$lapicon-modx: (987px, 498px, -987px, -498px, 93px, 96px, 1278px, 1178px, 'images/sprite.png', 'lapicon-modx', );
$lapicon-olive-name: 'lapicon-olive';
$lapicon-olive-x: 512px;
$lapicon-olive-y: 545px;
$lapicon-olive-offset-x: -512px;
$lapicon-olive-offset-y: -545px;
$lapicon-olive-width: 128px;
$lapicon-olive-height: 128px;
$lapicon-olive-total-width: 1278px;
$lapicon-olive-total-height: 1178px;
$lapicon-olive-image: 'images/sprite.png';
$lapicon-olive: (512px, 545px, -512px, -545px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-olive', );
$lapicon-online-shop-name: 'lapicon-online-shop';
$lapicon-online-shop-x: 0px;
$lapicon-online-shop-y: 1003px;
$lapicon-online-shop-offset-x: 0px;
$lapicon-online-shop-offset-y: -1003px;
$lapicon-online-shop-width: 96px;
$lapicon-online-shop-height: 86px;
$lapicon-online-shop-total-width: 1278px;
$lapicon-online-shop-total-height: 1178px;
$lapicon-online-shop-image: 'images/sprite.png';
$lapicon-online-shop: (0px, 1003px, 0px, -1003px, 96px, 86px, 1278px, 1178px, 'images/sprite.png', 'lapicon-online-shop', );
$lapicon-opencart-name: 'lapicon-opencart';
$lapicon-opencart-x: 551px;
$lapicon-opencart-y: 292px;
$lapicon-opencart-offset-x: -551px;
$lapicon-opencart-offset-y: -292px;
$lapicon-opencart-width: 158px;
$lapicon-opencart-height: 106px;
$lapicon-opencart-total-width: 1278px;
$lapicon-opencart-total-height: 1178px;
$lapicon-opencart-image: 'images/sprite.png';
$lapicon-opencart: (551px, 292px, -551px, -292px, 158px, 106px, 1278px, 1178px, 'images/sprite.png', 'lapicon-opencart', );
$lapicon-operation-name: 'lapicon-operation';
$lapicon-operation-x: 739px;
$lapicon-operation-y: 0px;
$lapicon-operation-offset-x: -739px;
$lapicon-operation-offset-y: 0px;
$lapicon-operation-width: 128px;
$lapicon-operation-height: 128px;
$lapicon-operation-total-width: 1278px;
$lapicon-operation-total-height: 1178px;
$lapicon-operation-image: 'images/sprite.png';
$lapicon-operation: (739px, 0px, -739px, 0px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-operation', );
$lapicon-piggy-bank-name: 'lapicon-piggy-bank';
$lapicon-piggy-bank-x: 0px;
$lapicon-piggy-bank-y: 801px;
$lapicon-piggy-bank-offset-x: 0px;
$lapicon-piggy-bank-offset-y: -801px;
$lapicon-piggy-bank-width: 120px;
$lapicon-piggy-bank-height: 120px;
$lapicon-piggy-bank-total-width: 1278px;
$lapicon-piggy-bank-total-height: 1178px;
$lapicon-piggy-bank-image: 'images/sprite.png';
$lapicon-piggy-bank: (0px, 801px, 0px, -801px, 120px, 120px, 1278px, 1178px, 'images/sprite.png', 'lapicon-piggy-bank', );
$lapicon-podium-name: 'lapicon-podium';
$lapicon-podium-x: 700px;
$lapicon-podium-y: 673px;
$lapicon-podium-offset-x: -700px;
$lapicon-podium-offset-y: -673px;
$lapicon-podium-width: 64px;
$lapicon-podium-height: 64px;
$lapicon-podium-total-width: 1278px;
$lapicon-podium-total-height: 1178px;
$lapicon-podium-image: 'images/sprite.png';
$lapicon-podium: (700px, 673px, -700px, -673px, 64px, 64px, 1278px, 1178px, 'images/sprite.png', 'lapicon-podium', );
$lapicon-portfolio-name: 'lapicon-portfolio';
$lapicon-portfolio-x: 1190px;
$lapicon-portfolio-y: 963px;
$lapicon-portfolio-offset-x: -1190px;
$lapicon-portfolio-offset-y: -963px;
$lapicon-portfolio-width: 68px;
$lapicon-portfolio-height: 85px;
$lapicon-portfolio-total-width: 1278px;
$lapicon-portfolio-total-height: 1178px;
$lapicon-portfolio-image: 'images/sprite.png';
$lapicon-portfolio: (1190px, 963px, -1190px, -963px, 68px, 85px, 1278px, 1178px, 'images/sprite.png', 'lapicon-portfolio', );
$lapicon-presentation-name: 'lapicon-presentation';
$lapicon-presentation-x: 120px;
$lapicon-presentation-y: 801px;
$lapicon-presentation-offset-x: -120px;
$lapicon-presentation-offset-y: -801px;
$lapicon-presentation-width: 120px;
$lapicon-presentation-height: 120px;
$lapicon-presentation-total-width: 1278px;
$lapicon-presentation-total-height: 1178px;
$lapicon-presentation-image: 'images/sprite.png';
$lapicon-presentation: (120px, 801px, -120px, -801px, 120px, 120px, 1278px, 1178px, 'images/sprite.png', 'lapicon-presentation', );
$lapicon-quotation-name: 'lapicon-quotation';
$lapicon-quotation-x: 931px;
$lapicon-quotation-y: 752px;
$lapicon-quotation-offset-x: -931px;
$lapicon-quotation-offset-y: -752px;
$lapicon-quotation-width: 31px;
$lapicon-quotation-height: 29px;
$lapicon-quotation-total-width: 1278px;
$lapicon-quotation-total-height: 1178px;
$lapicon-quotation-image: 'images/sprite.png';
$lapicon-quotation: (931px, 752px, -931px, -752px, 31px, 29px, 1278px, 1178px, 'images/sprite.png', 'lapicon-quotation', );
$lapicon-radio-checked-name: 'lapicon-radio-checked';
$lapicon-radio-checked-x: 768px;
$lapicon-radio-checked-y: 640px;
$lapicon-radio-checked-offset-x: -768px;
$lapicon-radio-checked-offset-y: -640px;
$lapicon-radio-checked-width: 20px;
$lapicon-radio-checked-height: 20px;
$lapicon-radio-checked-total-width: 1278px;
$lapicon-radio-checked-total-height: 1178px;
$lapicon-radio-checked-image: 'images/sprite.png';
$lapicon-radio-checked: (768px, 640px, -768px, -640px, 20px, 20px, 1278px, 1178px, 'images/sprite.png', 'lapicon-radio-checked', );
$lapicon-radio-unchecked-name: 'lapicon-radio-unchecked';
$lapicon-radio-unchecked-x: 788px;
$lapicon-radio-unchecked-y: 640px;
$lapicon-radio-unchecked-offset-x: -788px;
$lapicon-radio-unchecked-offset-y: -640px;
$lapicon-radio-unchecked-width: 20px;
$lapicon-radio-unchecked-height: 20px;
$lapicon-radio-unchecked-total-width: 1278px;
$lapicon-radio-unchecked-total-height: 1178px;
$lapicon-radio-unchecked-image: 'images/sprite.png';
$lapicon-radio-unchecked: (788px, 640px, -788px, -640px, 20px, 20px, 1278px, 1178px, 'images/sprite.png', 'lapicon-radio-unchecked', );
$lapicon-report-name: 'lapicon-report';
$lapicon-report-x: 987px;
$lapicon-report-y: 103px;
$lapicon-report-offset-x: -987px;
$lapicon-report-offset-y: -103px;
$lapicon-report-width: 97px;
$lapicon-report-height: 101px;
$lapicon-report-total-width: 1278px;
$lapicon-report-total-height: 1178px;
$lapicon-report-image: 'images/sprite.png';
$lapicon-report: (987px, 103px, -987px, -103px, 97px, 101px, 1278px, 1178px, 'images/sprite.png', 'lapicon-report', );
$lapicon-requirement-name: 'lapicon-requirement';
$lapicon-requirement-x: 240px;
$lapicon-requirement-y: 801px;
$lapicon-requirement-offset-x: -240px;
$lapicon-requirement-offset-y: -801px;
$lapicon-requirement-width: 120px;
$lapicon-requirement-height: 120px;
$lapicon-requirement-total-width: 1278px;
$lapicon-requirement-total-height: 1178px;
$lapicon-requirement-image: 'images/sprite.png';
$lapicon-requirement: (240px, 801px, -240px, -801px, 120px, 120px, 1278px, 1178px, 'images/sprite.png', 'lapicon-requirement', );
$lapicon-right-arrow-large-name: 'lapicon-right-arrow-large';
$lapicon-right-arrow-large-x: 739px;
$lapicon-right-arrow-large-y: 128px;
$lapicon-right-arrow-large-offset-x: -739px;
$lapicon-right-arrow-large-offset-y: -128px;
$lapicon-right-arrow-large-width: 128px;
$lapicon-right-arrow-large-height: 128px;
$lapicon-right-arrow-large-total-width: 1278px;
$lapicon-right-arrow-large-total-height: 1178px;
$lapicon-right-arrow-large-image: 'images/sprite.png';
$lapicon-right-arrow-large: (739px, 128px, -739px, -128px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-right-arrow-large', );
$lapicon-right-arrow-name: 'lapicon-right-arrow';
$lapicon-right-arrow-x: 931px;
$lapicon-right-arrow-y: 720px;
$lapicon-right-arrow-offset-x: -931px;
$lapicon-right-arrow-offset-y: -720px;
$lapicon-right-arrow-width: 32px;
$lapicon-right-arrow-height: 32px;
$lapicon-right-arrow-total-width: 1278px;
$lapicon-right-arrow-total-height: 1178px;
$lapicon-right-arrow-image: 'images/sprite.png';
$lapicon-right-arrow: (931px, 720px, -931px, -720px, 32px, 32px, 1278px, 1178px, 'images/sprite.png', 'lapicon-right-arrow', );
$lapicon-rouble-name: 'lapicon-rouble';
$lapicon-rouble-x: 1059px;
$lapicon-rouble-y: 879px;
$lapicon-rouble-offset-x: -1059px;
$lapicon-rouble-offset-y: -879px;
$lapicon-rouble-width: 25px;
$lapicon-rouble-height: 25px;
$lapicon-rouble-total-width: 1278px;
$lapicon-rouble-total-height: 1178px;
$lapicon-rouble-image: 'images/sprite.png';
$lapicon-rouble: (1059px, 879px, -1059px, -879px, 25px, 25px, 1278px, 1178px, 'images/sprite.png', 'lapicon-rouble', );
$lapicon-shopping-cart-name: 'lapicon-shopping-cart';
$lapicon-shopping-cart-x: 987px;
$lapicon-shopping-cart-y: 302px;
$lapicon-shopping-cart-offset-x: -987px;
$lapicon-shopping-cart-offset-y: -302px;
$lapicon-shopping-cart-width: 98px;
$lapicon-shopping-cart-height: 98px;
$lapicon-shopping-cart-total-width: 1278px;
$lapicon-shopping-cart-total-height: 1178px;
$lapicon-shopping-cart-image: 'images/sprite.png';
$lapicon-shopping-cart: (987px, 302px, -987px, -302px, 98px, 98px, 1278px, 1178px, 'images/sprite.png', 'lapicon-shopping-cart', );
$lapicon-shopping-name: 'lapicon-shopping';
$lapicon-shopping-x: 360px;
$lapicon-shopping-y: 801px;
$lapicon-shopping-offset-x: -360px;
$lapicon-shopping-offset-y: -801px;
$lapicon-shopping-width: 120px;
$lapicon-shopping-height: 120px;
$lapicon-shopping-total-width: 1278px;
$lapicon-shopping-total-height: 1178px;
$lapicon-shopping-image: 'images/sprite.png';
$lapicon-shopping: (360px, 801px, -360px, -801px, 120px, 120px, 1278px, 1178px, 'images/sprite.png', 'lapicon-shopping', );
$lapicon-smartphone-name: 'lapicon-smartphone';
$lapicon-smartphone-x: 480px;
$lapicon-smartphone-y: 801px;
$lapicon-smartphone-offset-x: -480px;
$lapicon-smartphone-offset-y: -801px;
$lapicon-smartphone-width: 120px;
$lapicon-smartphone-height: 120px;
$lapicon-smartphone-total-width: 1278px;
$lapicon-smartphone-total-height: 1178px;
$lapicon-smartphone-image: 'images/sprite.png';
$lapicon-smartphone: (480px, 801px, -480px, -801px, 120px, 120px, 1278px, 1178px, 'images/sprite.png', 'lapicon-smartphone', );
$lapicon-spa-name: 'lapicon-spa';
$lapicon-spa-x: 739px;
$lapicon-spa-y: 256px;
$lapicon-spa-offset-x: -739px;
$lapicon-spa-offset-y: -256px;
$lapicon-spa-width: 128px;
$lapicon-spa-height: 128px;
$lapicon-spa-total-width: 1278px;
$lapicon-spa-total-height: 1178px;
$lapicon-spa-image: 'images/sprite.png';
$lapicon-spa: (739px, 256px, -739px, -256px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-spa', );
$lapicon-speedometer-name: 'lapicon-speedometer';
$lapicon-speedometer-x: 1190px;
$lapicon-speedometer-y: 792px;
$lapicon-speedometer-offset-x: -1190px;
$lapicon-speedometer-offset-y: -792px;
$lapicon-speedometer-width: 83px;
$lapicon-speedometer-height: 82px;
$lapicon-speedometer-total-width: 1278px;
$lapicon-speedometer-total-height: 1178px;
$lapicon-speedometer-image: 'images/sprite.png';
$lapicon-speedometer: (1190px, 792px, -1190px, -792px, 83px, 82px, 1278px, 1178px, 'images/sprite.png', 'lapicon-speedometer', );
$lapicon-ssl-certificate-name: 'lapicon-ssl-certificate';
$lapicon-ssl-certificate-x: 1086px;
$lapicon-ssl-certificate-y: 0px;
$lapicon-ssl-certificate-offset-x: -1086px;
$lapicon-ssl-certificate-offset-y: 0px;
$lapicon-ssl-certificate-width: 104px;
$lapicon-ssl-certificate-height: 92px;
$lapicon-ssl-certificate-total-width: 1278px;
$lapicon-ssl-certificate-total-height: 1178px;
$lapicon-ssl-certificate-image: 'images/sprite.png';
$lapicon-ssl-certificate: (1086px, 0px, -1086px, 0px, 104px, 92px, 1278px, 1178px, 'images/sprite.png', 'lapicon-ssl-certificate', );
$lapicon-st-name: 'lapicon-st';
$lapicon-st-x: 268px;
$lapicon-st-y: 0px;
$lapicon-st-offset-x: -268px;
$lapicon-st-offset-y: 0px;
$lapicon-st-width: 283px;
$lapicon-st-height: 212px;
$lapicon-st-total-width: 1278px;
$lapicon-st-total-height: 1178px;
$lapicon-st-image: 'images/sprite.png';
$lapicon-st: (268px, 0px, -268px, 0px, 283px, 212px, 1278px, 1178px, 'images/sprite.png', 'lapicon-st', );
$lapicon-st1-name: 'lapicon-st1';
$lapicon-st1-x: 268px;
$lapicon-st1-y: 212px;
$lapicon-st1-offset-x: -268px;
$lapicon-st1-offset-y: -212px;
$lapicon-st1-width: 188px;
$lapicon-st1-height: 40px;
$lapicon-st1-total-width: 1278px;
$lapicon-st1-total-height: 1178px;
$lapicon-st1-image: 'images/sprite.png';
$lapicon-st1: (268px, 212px, -268px, -212px, 188px, 40px, 1278px, 1178px, 'images/sprite.png', 'lapicon-st1', );
$lapicon-st2-name: 'lapicon-st2';
$lapicon-st2-x: 512px;
$lapicon-st2-y: 673px;
$lapicon-st2-offset-x: -512px;
$lapicon-st2-offset-y: -673px;
$lapicon-st2-width: 188px;
$lapicon-st2-height: 80px;
$lapicon-st2-total-width: 1278px;
$lapicon-st2-total-height: 1178px;
$lapicon-st2-image: 'images/sprite.png';
$lapicon-st2: (512px, 673px, -512px, -673px, 188px, 80px, 1278px, 1178px, 'images/sprite.png', 'lapicon-st2', );
$lapicon-st3-name: 'lapicon-st3';
$lapicon-st3-x: 551px;
$lapicon-st3-y: 0px;
$lapicon-st3-offset-x: -551px;
$lapicon-st3-offset-y: 0px;
$lapicon-st3-width: 188px;
$lapicon-st3-height: 168px;
$lapicon-st3-total-width: 1278px;
$lapicon-st3-total-height: 1178px;
$lapicon-st3-image: 'images/sprite.png';
$lapicon-st3: (551px, 0px, -551px, 0px, 188px, 168px, 1278px, 1178px, 'images/sprite.png', 'lapicon-st3', );
$lapicon-st4-name: 'lapicon-st4';
$lapicon-st4-x: 0px;
$lapicon-st4-y: 268px;
$lapicon-st4-offset-x: 0px;
$lapicon-st4-offset-y: -268px;
$lapicon-st4-width: 188px;
$lapicon-st4-height: 277px;
$lapicon-st4-total-width: 1278px;
$lapicon-st4-total-height: 1178px;
$lapicon-st4-image: 'images/sprite.png';
$lapicon-st4: (0px, 268px, 0px, -268px, 188px, 277px, 1278px, 1178px, 'images/sprite.png', 'lapicon-st4', );
$lapicon-star-large-name: 'lapicon-star-large';
$lapicon-star-large-x: 739px;
$lapicon-star-large-y: 384px;
$lapicon-star-large-offset-x: -739px;
$lapicon-star-large-offset-y: -384px;
$lapicon-star-large-width: 128px;
$lapicon-star-large-height: 128px;
$lapicon-star-large-total-width: 1278px;
$lapicon-star-large-total-height: 1178px;
$lapicon-star-large-image: 'images/sprite.png';
$lapicon-star-large: (739px, 384px, -739px, -384px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-star-large', );
$lapicon-star-name: 'lapicon-star';
$lapicon-star-x: 1086px;
$lapicon-star-y: 960px;
$lapicon-star-offset-x: -1086px;
$lapicon-star-offset-y: -960px;
$lapicon-star-width: 44px;
$lapicon-star-height: 42px;
$lapicon-star-total-width: 1278px;
$lapicon-star-total-height: 1178px;
$lapicon-star-image: 'images/sprite.png';
$lapicon-star: (1086px, 960px, -1086px, -960px, 44px, 42px, 1278px, 1178px, 'images/sprite.png', 'lapicon-star', );
$lapicon-stopwatch-2-name: 'lapicon-stopwatch-2';
$lapicon-stopwatch-2-x: 600px;
$lapicon-stopwatch-2-y: 801px;
$lapicon-stopwatch-2-offset-x: -600px;
$lapicon-stopwatch-2-offset-y: -801px;
$lapicon-stopwatch-2-width: 120px;
$lapicon-stopwatch-2-height: 120px;
$lapicon-stopwatch-2-total-width: 1278px;
$lapicon-stopwatch-2-total-height: 1178px;
$lapicon-stopwatch-2-image: 'images/sprite.png';
$lapicon-stopwatch-2: (600px, 801px, -600px, -801px, 120px, 120px, 1278px, 1178px, 'images/sprite.png', 'lapicon-stopwatch-2', );
$lapicon-stopwatch-name: 'lapicon-stopwatch';
$lapicon-stopwatch-x: 1086px;
$lapicon-stopwatch-y: 670px;
$lapicon-stopwatch-offset-x: -1086px;
$lapicon-stopwatch-offset-y: -670px;
$lapicon-stopwatch-width: 94px;
$lapicon-stopwatch-height: 98px;
$lapicon-stopwatch-total-width: 1278px;
$lapicon-stopwatch-total-height: 1178px;
$lapicon-stopwatch-image: 'images/sprite.png';
$lapicon-stopwatch: (1086px, 670px, -1086px, -670px, 94px, 98px, 1278px, 1178px, 'images/sprite.png', 'lapicon-stopwatch', );
$lapicon-superman-name: 'lapicon-superman';
$lapicon-superman-x: 0px;
$lapicon-superman-y: 921px;
$lapicon-superman-offset-x: 0px;
$lapicon-superman-offset-y: -921px;
$lapicon-superman-width: 120px;
$lapicon-superman-height: 82px;
$lapicon-superman-total-width: 1278px;
$lapicon-superman-total-height: 1178px;
$lapicon-superman-image: 'images/sprite.png';
$lapicon-superman: (0px, 921px, 0px, -921px, 120px, 82px, 1278px, 1178px, 'images/sprite.png', 'lapicon-superman', );
$lapicon-target-arrow-name: 'lapicon-target-arrow';
$lapicon-target-arrow-x: 840px;
$lapicon-target-arrow-y: 801px;
$lapicon-target-arrow-offset-x: -840px;
$lapicon-target-arrow-offset-y: -801px;
$lapicon-target-arrow-width: 110px;
$lapicon-target-arrow-height: 115px;
$lapicon-target-arrow-total-width: 1278px;
$lapicon-target-arrow-total-height: 1178px;
$lapicon-target-arrow-image: 'images/sprite.png';
$lapicon-target-arrow: (840px, 801px, -840px, -801px, 110px, 115px, 1278px, 1178px, 'images/sprite.png', 'lapicon-target-arrow', );
$lapicon-target-center-name: 'lapicon-target-center';
$lapicon-target-center-x: 0px;
$lapicon-target-center-y: 0px;
$lapicon-target-center-offset-x: 0px;
$lapicon-target-center-offset-y: 0px;
$lapicon-target-center-width: 268px;
$lapicon-target-center-height: 268px;
$lapicon-target-center-total-width: 1278px;
$lapicon-target-center-total-height: 1178px;
$lapicon-target-center-image: 'images/sprite.png';
$lapicon-target-center: (0px, 0px, 0px, 0px, 268px, 268px, 1278px, 1178px, 'images/sprite.png', 'lapicon-target-center', );
$lapicon-target-name: 'lapicon-target';
$lapicon-target-x: 739px;
$lapicon-target-y: 512px;
$lapicon-target-offset-x: -739px;
$lapicon-target-offset-y: -512px;
$lapicon-target-width: 128px;
$lapicon-target-height: 128px;
$lapicon-target-total-width: 1278px;
$lapicon-target-total-height: 1178px;
$lapicon-target-image: 'images/sprite.png';
$lapicon-target: (739px, 512px, -739px, -512px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-target', );
$lapicon-technical-support-name: 'lapicon-technical-support';
$lapicon-technical-support-x: 1086px;
$lapicon-technical-support-y: 768px;
$lapicon-technical-support-offset-x: -1086px;
$lapicon-technical-support-offset-y: -768px;
$lapicon-technical-support-width: 94px;
$lapicon-technical-support-height: 96px;
$lapicon-technical-support-total-width: 1278px;
$lapicon-technical-support-total-height: 1178px;
$lapicon-technical-support-image: 'images/sprite.png';
$lapicon-technical-support: (1086px, 768px, -1086px, -768px, 94px, 96px, 1278px, 1178px, 'images/sprite.png', 'lapicon-technical-support', );
$lapicon-telegram-name: 'lapicon-telegram';
$lapicon-telegram-x: 0px;
$lapicon-telegram-y: 673px;
$lapicon-telegram-offset-x: 0px;
$lapicon-telegram-offset-y: -673px;
$lapicon-telegram-width: 128px;
$lapicon-telegram-height: 128px;
$lapicon-telegram-total-width: 1278px;
$lapicon-telegram-total-height: 1178px;
$lapicon-telegram-image: 'images/sprite.png';
$lapicon-telegram: (0px, 673px, 0px, -673px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-telegram', );
$lapicon-test-name: 'lapicon-test';
$lapicon-test-x: 987px;
$lapicon-test-y: 400px;
$lapicon-test-offset-x: -987px;
$lapicon-test-offset-y: -400px;
$lapicon-test-width: 98px;
$lapicon-test-height: 98px;
$lapicon-test-total-width: 1278px;
$lapicon-test-total-height: 1178px;
$lapicon-test-image: 'images/sprite.png';
$lapicon-test: (987px, 400px, -987px, -400px, 98px, 98px, 1278px, 1178px, 'images/sprite.png', 'lapicon-test', );
$lapicon-text-name: 'lapicon-text';
$lapicon-text-x: 764px;
$lapicon-text-y: 673px;
$lapicon-text-offset-x: -764px;
$lapicon-text-offset-y: -673px;
$lapicon-text-width: 64px;
$lapicon-text-height: 64px;
$lapicon-text-total-width: 1278px;
$lapicon-text-total-height: 1178px;
$lapicon-text-image: 'images/sprite.png';
$lapicon-text: (764px, 673px, -764px, -673px, 64px, 64px, 1278px, 1178px, 'images/sprite.png', 'lapicon-text', );
$lapicon-viber-name: 'lapicon-viber';
$lapicon-viber-x: 128px;
$lapicon-viber-y: 673px;
$lapicon-viber-offset-x: -128px;
$lapicon-viber-offset-y: -673px;
$lapicon-viber-width: 128px;
$lapicon-viber-height: 128px;
$lapicon-viber-total-width: 1278px;
$lapicon-viber-total-height: 1178px;
$lapicon-viber-image: 'images/sprite.png';
$lapicon-viber: (128px, 673px, -128px, -673px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-viber', );
$lapicon-vk-messenger-name: 'lapicon-vk-messenger';
$lapicon-vk-messenger-x: 256px;
$lapicon-vk-messenger-y: 673px;
$lapicon-vk-messenger-offset-x: -256px;
$lapicon-vk-messenger-offset-y: -673px;
$lapicon-vk-messenger-width: 128px;
$lapicon-vk-messenger-height: 128px;
$lapicon-vk-messenger-total-width: 1278px;
$lapicon-vk-messenger-total-height: 1178px;
$lapicon-vk-messenger-image: 'images/sprite.png';
$lapicon-vk-messenger: (256px, 673px, -256px, -673px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-vk-messenger', );
$lapicon-web-design-name: 'lapicon-web-design';
$lapicon-web-design-x: 720px;
$lapicon-web-design-y: 801px;
$lapicon-web-design-offset-x: -720px;
$lapicon-web-design-offset-y: -801px;
$lapicon-web-design-width: 120px;
$lapicon-web-design-height: 120px;
$lapicon-web-design-total-width: 1278px;
$lapicon-web-design-total-height: 1178px;
$lapicon-web-design-image: 'images/sprite.png';
$lapicon-web-design: (720px, 801px, -720px, -801px, 120px, 120px, 1278px, 1178px, 'images/sprite.png', 'lapicon-web-design', );
$lapicon-whatsapp-name: 'lapicon-whatsapp';
$lapicon-whatsapp-x: 384px;
$lapicon-whatsapp-y: 673px;
$lapicon-whatsapp-offset-x: -384px;
$lapicon-whatsapp-offset-y: -673px;
$lapicon-whatsapp-width: 128px;
$lapicon-whatsapp-height: 128px;
$lapicon-whatsapp-total-width: 1278px;
$lapicon-whatsapp-total-height: 1178px;
$lapicon-whatsapp-image: 'images/sprite.png';
$lapicon-whatsapp: (384px, 673px, -384px, -673px, 128px, 128px, 1278px, 1178px, 'images/sprite.png', 'lapicon-whatsapp', );
$lapicon-wordpress-name: 'lapicon-wordpress';
$lapicon-wordpress-x: 1086px;
$lapicon-wordpress-y: 478px;
$lapicon-wordpress-offset-x: -1086px;
$lapicon-wordpress-offset-y: -478px;
$lapicon-wordpress-width: 96px;
$lapicon-wordpress-height: 96px;
$lapicon-wordpress-total-width: 1278px;
$lapicon-wordpress-total-height: 1178px;
$lapicon-wordpress-image: 'images/sprite.png';
$lapicon-wordpress: (1086px, 478px, -1086px, -478px, 96px, 96px, 1278px, 1178px, 'images/sprite.png', 'lapicon-wordpress', );
$lapicon-www-name: 'lapicon-www';
$lapicon-www-x: 120px;
$lapicon-www-y: 921px;
$lapicon-www-offset-x: -120px;
$lapicon-www-offset-y: -921px;
$lapicon-www-width: 64px;
$lapicon-www-height: 64px;
$lapicon-www-total-width: 1278px;
$lapicon-www-total-height: 1178px;
$lapicon-www-image: 'images/sprite.png';
$lapicon-www: (120px, 921px, -120px, -921px, 64px, 64px, 1278px, 1178px, 'images/sprite.png', 'lapicon-www', );
$lapicon-yii-name: 'lapicon-yii';
$lapicon-yii-x: 1086px;
$lapicon-yii-y: 574px;
$lapicon-yii-offset-x: -1086px;
$lapicon-yii-offset-y: -574px;
$lapicon-yii-width: 96px;
$lapicon-yii-height: 96px;
$lapicon-yii-total-width: 1278px;
$lapicon-yii-total-height: 1178px;
$lapicon-yii-image: 'images/sprite.png';
$lapicon-yii: (1086px, 574px, -1086px, -574px, 96px, 96px, 1278px, 1178px, 'images/sprite.png', 'lapicon-yii', );
$spritesheet-width: 1278px;
$spritesheet-height: 1178px;
$spritesheet-image: 'images/sprite.png';
$spritesheet-sprites: ($lapicon-1c-bitrix, $lapicon-active-search, $lapicon-analytics-desktop, $lapicon-analytics, $lapicon-audit, $lapicon-bar-chart, $lapicon-bitrix-full, $lapicon-bullseye, $lapicon-business-website, $lapicon-business, $lapicon-calendar, $lapicon-call-large, $lapicon-call-white, $lapicon-call, $lapicon-chat, $lapicon-chat2, $lapicon-check-mark, $lapicon-checkbox-checked, $lapicon-checkbox-unchecked, $lapicon-checklist, $lapicon-close, $lapicon-consulting, $lapicon-customer-service, $lapicon-customer-support, $lapicon-deadline, $lapicon-debt, $lapicon-delivery-truck, $lapicon-development, $lapicon-diagram, $lapicon-disable, $lapicon-drupal, $lapicon-email, $lapicon-enable-white, $lapicon-enable, $lapicon-facebook, $lapicon-faq, $lapicon-file, $lapicon-fire, $lapicon-gear, $lapicon-gym, $lapicon-high-five, $lapicon-human-resources, $lapicon-icon-circle-facebook, $lapicon-icon-circle-instagram, $lapicon-icon-circle-telegram, $lapicon-icon-circle-vk, $lapicon-info-icon, $lapicon-landing-page, $lapicon-laravel, $lapicon-launch, $lapicon-layout, $lapicon-learning, $lapicon-left-arror, $lapicon-left-arrow-large, $lapicon-location-map, $lapicon-location-white, $lapicon-location, $lapicon-logo-sm, $lapicon-logo-small, $lapicon-logo, $lapicon-manager, $lapicon-menu, $lapicon-message, $lapicon-minus, $lapicon-modx, $lapicon-olive, $lapicon-online-shop, $lapicon-opencart, $lapicon-operation, $lapicon-piggy-bank, $lapicon-podium, $lapicon-portfolio, $lapicon-presentation, $lapicon-quotation, $lapicon-radio-checked, $lapicon-radio-unchecked, $lapicon-report, $lapicon-requirement, $lapicon-right-arrow-large, $lapicon-right-arrow, $lapicon-rouble, $lapicon-shopping-cart, $lapicon-shopping, $lapicon-smartphone, $lapicon-spa, $lapicon-speedometer, $lapicon-ssl-certificate, $lapicon-st, $lapicon-st1, $lapicon-st2, $lapicon-st3, $lapicon-st4, $lapicon-star-large, $lapicon-star, $lapicon-stopwatch-2, $lapicon-stopwatch, $lapicon-superman, $lapicon-target-arrow, $lapicon-target-center, $lapicon-target, $lapicon-technical-support, $lapicon-telegram, $lapicon-test, $lapicon-text, $lapicon-viber, $lapicon-vk-messenger, $lapicon-web-design, $lapicon-whatsapp, $lapicon-wordpress, $lapicon-www, $lapicon-yii, );
$spritesheet: (1278px, 1178px, 'images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
