// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$lapicon-1c-bitrix-name: 'lapicon-1c-bitrix';
$lapicon-1c-bitrix-x: 194px;
$lapicon-1c-bitrix-y: 771px;
$lapicon-1c-bitrix-offset-x: -194px;
$lapicon-1c-bitrix-offset-y: -771px;
$lapicon-1c-bitrix-width: 96px;
$lapicon-1c-bitrix-height: 96px;
$lapicon-1c-bitrix-total-width: 1190px;
$lapicon-1c-bitrix-total-height: 1052px;
$lapicon-1c-bitrix-image: 'images/sprite.png';
$lapicon-1c-bitrix: (194px, 771px, -194px, -771px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-1c-bitrix', );
$lapicon-active-search-name: 'lapicon-active-search';
$lapicon-active-search-x: 1023px;
$lapicon-active-search-y: 580px;
$lapicon-active-search-offset-x: -1023px;
$lapicon-active-search-offset-y: -580px;
$lapicon-active-search-width: 87px;
$lapicon-active-search-height: 98px;
$lapicon-active-search-total-width: 1190px;
$lapicon-active-search-total-height: 1052px;
$lapicon-active-search-image: 'images/sprite.png';
$lapicon-active-search: (1023px, 580px, -1023px, -580px, 87px, 98px, 1190px, 1052px, 'images/sprite.png', 'lapicon-active-search', );
$lapicon-analytics-desktop-name: 'lapicon-analytics-desktop';
$lapicon-analytics-desktop-x: 551px;
$lapicon-analytics-desktop-y: 398px;
$lapicon-analytics-desktop-offset-x: -551px;
$lapicon-analytics-desktop-offset-y: -398px;
$lapicon-analytics-desktop-width: 128px;
$lapicon-analytics-desktop-height: 128px;
$lapicon-analytics-desktop-total-width: 1190px;
$lapicon-analytics-desktop-total-height: 1052px;
$lapicon-analytics-desktop-image: 'images/sprite.png';
$lapicon-analytics-desktop: (551px, 398px, -551px, -398px, 128px, 128px, 1190px, 1052px, 'images/sprite.png', 'lapicon-analytics-desktop', );
$lapicon-analytics-name: 'lapicon-analytics';
$lapicon-analytics-x: 1119px;
$lapicon-analytics-y: 174px;
$lapicon-analytics-offset-x: -1119px;
$lapicon-analytics-offset-y: -174px;
$lapicon-analytics-width: 64px;
$lapicon-analytics-height: 64px;
$lapicon-analytics-total-width: 1190px;
$lapicon-analytics-total-height: 1052px;
$lapicon-analytics-image: 'images/sprite.png';
$lapicon-analytics: (1119px, 174px, -1119px, -174px, 64px, 64px, 1190px, 1052px, 'images/sprite.png', 'lapicon-analytics', );
$lapicon-audit-name: 'lapicon-audit';
$lapicon-audit-x: 1023px;
$lapicon-audit-y: 678px;
$lapicon-audit-offset-x: -1023px;
$lapicon-audit-offset-y: -678px;
$lapicon-audit-width: 94px;
$lapicon-audit-height: 89px;
$lapicon-audit-total-width: 1190px;
$lapicon-audit-total-height: 1052px;
$lapicon-audit-image: 'images/sprite.png';
$lapicon-audit: (1023px, 678px, -1023px, -678px, 94px, 89px, 1190px, 1052px, 'images/sprite.png', 'lapicon-audit', );
$lapicon-bar-chart-name: 'lapicon-bar-chart';
$lapicon-bar-chart-x: 1119px;
$lapicon-bar-chart-y: 238px;
$lapicon-bar-chart-offset-x: -1119px;
$lapicon-bar-chart-offset-y: -238px;
$lapicon-bar-chart-width: 64px;
$lapicon-bar-chart-height: 64px;
$lapicon-bar-chart-total-width: 1190px;
$lapicon-bar-chart-total-height: 1052px;
$lapicon-bar-chart-image: 'images/sprite.png';
$lapicon-bar-chart: (1119px, 238px, -1119px, -238px, 64px, 64px, 1190px, 1052px, 'images/sprite.png', 'lapicon-bar-chart', );
$lapicon-bitrix-full-name: 'lapicon-bitrix-full';
$lapicon-bitrix-full-x: 551px;
$lapicon-bitrix-full-y: 168px;
$lapicon-bitrix-full-offset-x: -551px;
$lapicon-bitrix-full-offset-y: -168px;
$lapicon-bitrix-full-width: 180px;
$lapicon-bitrix-full-height: 124px;
$lapicon-bitrix-full-total-width: 1190px;
$lapicon-bitrix-full-total-height: 1052px;
$lapicon-bitrix-full-image: 'images/sprite.png';
$lapicon-bitrix-full: (551px, 168px, -551px, -168px, 180px, 124px, 1190px, 1052px, 'images/sprite.png', 'lapicon-bitrix-full', );
$lapicon-bullseye-name: 'lapicon-bullseye';
$lapicon-bullseye-x: 176px;
$lapicon-bullseye-y: 964px;
$lapicon-bullseye-offset-x: -176px;
$lapicon-bullseye-offset-y: -964px;
$lapicon-bullseye-width: 86px;
$lapicon-bullseye-height: 86px;
$lapicon-bullseye-total-width: 1190px;
$lapicon-bullseye-total-height: 1052px;
$lapicon-bullseye-image: 'images/sprite.png';
$lapicon-bullseye: (176px, 964px, -176px, -964px, 86px, 86px, 1190px, 1052px, 'images/sprite.png', 'lapicon-bullseye', );
$lapicon-business-website-name: 'lapicon-business-website';
$lapicon-business-website-x: 739px;
$lapicon-business-website-y: 426px;
$lapicon-business-website-offset-x: -739px;
$lapicon-business-website-offset-y: -426px;
$lapicon-business-website-width: 99px;
$lapicon-business-website-height: 103px;
$lapicon-business-website-total-width: 1190px;
$lapicon-business-website-total-height: 1052px;
$lapicon-business-website-image: 'images/sprite.png';
$lapicon-business-website: (739px, 426px, -739px, -426px, 99px, 103px, 1190px, 1052px, 'images/sprite.png', 'lapicon-business-website', );
$lapicon-business-name: 'lapicon-business';
$lapicon-business-x: 739px;
$lapicon-business-y: 529px;
$lapicon-business-offset-x: -739px;
$lapicon-business-offset-y: -529px;
$lapicon-business-width: 99px;
$lapicon-business-height: 103px;
$lapicon-business-total-width: 1190px;
$lapicon-business-total-height: 1052px;
$lapicon-business-image: 'images/sprite.png';
$lapicon-business: (739px, 529px, -739px, -529px, 99px, 103px, 1190px, 1052px, 'images/sprite.png', 'lapicon-business', );
$lapicon-calendar-name: 'lapicon-calendar';
$lapicon-calendar-x: 1119px;
$lapicon-calendar-y: 844px;
$lapicon-calendar-offset-x: -1119px;
$lapicon-calendar-offset-y: -844px;
$lapicon-calendar-width: 23px;
$lapicon-calendar-height: 25px;
$lapicon-calendar-total-width: 1190px;
$lapicon-calendar-total-height: 1052px;
$lapicon-calendar-image: 'images/sprite.png';
$lapicon-calendar: (1119px, 844px, -1119px, -844px, 23px, 25px, 1190px, 1052px, 'images/sprite.png', 'lapicon-calendar', );
$lapicon-call-large-name: 'lapicon-call-large';
$lapicon-call-large-x: 0px;
$lapicon-call-large-y: 964px;
$lapicon-call-large-offset-x: 0px;
$lapicon-call-large-offset-y: -964px;
$lapicon-call-large-width: 88px;
$lapicon-call-large-height: 88px;
$lapicon-call-large-total-width: 1190px;
$lapicon-call-large-total-height: 1052px;
$lapicon-call-large-image: 'images/sprite.png';
$lapicon-call-large: (0px, 964px, 0px, -964px, 88px, 88px, 1190px, 1052px, 'images/sprite.png', 'lapicon-call-large', );
$lapicon-call-white-name: 'lapicon-call-white';
$lapicon-call-white-x: 1119px;
$lapicon-call-white-y: 772px;
$lapicon-call-white-offset-x: -1119px;
$lapicon-call-white-offset-y: -772px;
$lapicon-call-white-width: 24px;
$lapicon-call-white-height: 24px;
$lapicon-call-white-total-width: 1190px;
$lapicon-call-white-total-height: 1052px;
$lapicon-call-white-image: 'images/sprite.png';
$lapicon-call-white: (1119px, 772px, -1119px, -772px, 24px, 24px, 1190px, 1052px, 'images/sprite.png', 'lapicon-call-white', );
$lapicon-call-name: 'lapicon-call';
$lapicon-call-x: 1143px;
$lapicon-call-y: 772px;
$lapicon-call-offset-x: -1143px;
$lapicon-call-offset-y: -772px;
$lapicon-call-width: 24px;
$lapicon-call-height: 24px;
$lapicon-call-total-width: 1190px;
$lapicon-call-total-height: 1052px;
$lapicon-call-image: 'images/sprite.png';
$lapicon-call: (1143px, 772px, -1143px, -772px, 24px, 24px, 1190px, 1052px, 'images/sprite.png', 'lapicon-call', );
$lapicon-chat-name: 'lapicon-chat';
$lapicon-chat-x: 838px;
$lapicon-chat-y: 426px;
$lapicon-chat-offset-x: -838px;
$lapicon-chat-offset-y: -426px;
$lapicon-chat-width: 88px;
$lapicon-chat-height: 90px;
$lapicon-chat-total-width: 1190px;
$lapicon-chat-total-height: 1052px;
$lapicon-chat-image: 'images/sprite.png';
$lapicon-chat: (838px, 426px, -838px, -426px, 88px, 90px, 1190px, 1052px, 'images/sprite.png', 'lapicon-chat', );
$lapicon-chat2-name: 'lapicon-chat2';
$lapicon-chat2-x: 290px;
$lapicon-chat2-y: 771px;
$lapicon-chat2-offset-x: -290px;
$lapicon-chat2-offset-y: -771px;
$lapicon-chat2-width: 96px;
$lapicon-chat2-height: 96px;
$lapicon-chat2-total-width: 1190px;
$lapicon-chat2-total-height: 1052px;
$lapicon-chat2-image: 'images/sprite.png';
$lapicon-chat2: (290px, 771px, -290px, -771px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-chat2', );
$lapicon-check-mark-name: 'lapicon-check-mark';
$lapicon-check-mark-x: 1159px;
$lapicon-check-mark-y: 869px;
$lapicon-check-mark-offset-x: -1159px;
$lapicon-check-mark-offset-y: -869px;
$lapicon-check-mark-width: 20px;
$lapicon-check-mark-height: 18px;
$lapicon-check-mark-total-width: 1190px;
$lapicon-check-mark-total-height: 1052px;
$lapicon-check-mark-image: 'images/sprite.png';
$lapicon-check-mark: (1159px, 869px, -1159px, -869px, 20px, 18px, 1190px, 1052px, 'images/sprite.png', 'lapicon-check-mark', );
$lapicon-checkbox-checked-name: 'lapicon-checkbox-checked';
$lapicon-checkbox-checked-x: 1167px;
$lapicon-checkbox-checked-y: 772px;
$lapicon-checkbox-checked-offset-x: -1167px;
$lapicon-checkbox-checked-offset-y: -772px;
$lapicon-checkbox-checked-width: 20px;
$lapicon-checkbox-checked-height: 20px;
$lapicon-checkbox-checked-total-width: 1190px;
$lapicon-checkbox-checked-total-height: 1052px;
$lapicon-checkbox-checked-image: 'images/sprite.png';
$lapicon-checkbox-checked: (1167px, 772px, -1167px, -772px, 20px, 20px, 1190px, 1052px, 'images/sprite.png', 'lapicon-checkbox-checked', );
$lapicon-checkbox-unchecked-name: 'lapicon-checkbox-unchecked';
$lapicon-checkbox-unchecked-x: 1167px;
$lapicon-checkbox-unchecked-y: 796px;
$lapicon-checkbox-unchecked-offset-x: -1167px;
$lapicon-checkbox-unchecked-offset-y: -796px;
$lapicon-checkbox-unchecked-width: 20px;
$lapicon-checkbox-unchecked-height: 20px;
$lapicon-checkbox-unchecked-total-width: 1190px;
$lapicon-checkbox-unchecked-total-height: 1052px;
$lapicon-checkbox-unchecked-image: 'images/sprite.png';
$lapicon-checkbox-unchecked: (1167px, 796px, -1167px, -796px, 20px, 20px, 1190px, 1052px, 'images/sprite.png', 'lapicon-checkbox-unchecked', );
$lapicon-checklist-name: 'lapicon-checklist';
$lapicon-checklist-x: 1119px;
$lapicon-checklist-y: 302px;
$lapicon-checklist-offset-x: -1119px;
$lapicon-checklist-offset-y: -302px;
$lapicon-checklist-width: 64px;
$lapicon-checklist-height: 64px;
$lapicon-checklist-total-width: 1190px;
$lapicon-checklist-total-height: 1052px;
$lapicon-checklist-image: 'images/sprite.png';
$lapicon-checklist: (1119px, 302px, -1119px, -302px, 64px, 64px, 1190px, 1052px, 'images/sprite.png', 'lapicon-checklist', );
$lapicon-close-name: 'lapicon-close';
$lapicon-close-x: 1119px;
$lapicon-close-y: 660px;
$lapicon-close-offset-x: -1119px;
$lapicon-close-offset-y: -660px;
$lapicon-close-width: 40px;
$lapicon-close-height: 40px;
$lapicon-close-total-width: 1190px;
$lapicon-close-total-height: 1052px;
$lapicon-close-image: 'images/sprite.png';
$lapicon-close: (1119px, 660px, -1119px, -660px, 40px, 40px, 1190px, 1052px, 'images/sprite.png', 'lapicon-close', );
$lapicon-consulting-name: 'lapicon-consulting';
$lapicon-consulting-x: 1023px;
$lapicon-consulting-y: 482px;
$lapicon-consulting-offset-x: -1023px;
$lapicon-consulting-offset-y: -482px;
$lapicon-consulting-width: 89px;
$lapicon-consulting-height: 98px;
$lapicon-consulting-total-width: 1190px;
$lapicon-consulting-total-height: 1052px;
$lapicon-consulting-image: 'images/sprite.png';
$lapicon-consulting: (1023px, 482px, -1023px, -482px, 89px, 98px, 1190px, 1052px, 'images/sprite.png', 'lapicon-consulting', );
$lapicon-customer-service-name: 'lapicon-customer-service';
$lapicon-customer-service-x: 88px;
$lapicon-customer-service-y: 964px;
$lapicon-customer-service-offset-x: -88px;
$lapicon-customer-service-offset-y: -964px;
$lapicon-customer-service-width: 88px;
$lapicon-customer-service-height: 88px;
$lapicon-customer-service-total-width: 1190px;
$lapicon-customer-service-total-height: 1052px;
$lapicon-customer-service-image: 'images/sprite.png';
$lapicon-customer-service: (88px, 964px, -88px, -964px, 88px, 88px, 1190px, 1052px, 'images/sprite.png', 'lapicon-customer-service', );
$lapicon-customer-support-name: 'lapicon-customer-support';
$lapicon-customer-support-x: 0px;
$lapicon-customer-support-y: 771px;
$lapicon-customer-support-offset-x: 0px;
$lapicon-customer-support-offset-y: -771px;
$lapicon-customer-support-width: 97px;
$lapicon-customer-support-height: 97px;
$lapicon-customer-support-total-width: 1190px;
$lapicon-customer-support-total-height: 1052px;
$lapicon-customer-support-image: 'images/sprite.png';
$lapicon-customer-support: (0px, 771px, 0px, -771px, 97px, 97px, 1190px, 1052px, 'images/sprite.png', 'lapicon-customer-support', );
$lapicon-deadline-name: 'lapicon-deadline';
$lapicon-deadline-x: 739px;
$lapicon-deadline-y: 315px;
$lapicon-deadline-offset-x: -739px;
$lapicon-deadline-offset-y: -315px;
$lapicon-deadline-width: 95px;
$lapicon-deadline-height: 111px;
$lapicon-deadline-total-width: 1190px;
$lapicon-deadline-total-height: 1052px;
$lapicon-deadline-image: 'images/sprite.png';
$lapicon-deadline: (739px, 315px, -739px, -315px, 95px, 111px, 1190px, 1052px, 'images/sprite.png', 'lapicon-deadline', );
$lapicon-debt-name: 'lapicon-debt';
$lapicon-debt-x: 386px;
$lapicon-debt-y: 771px;
$lapicon-debt-offset-x: -386px;
$lapicon-debt-offset-y: -771px;
$lapicon-debt-width: 96px;
$lapicon-debt-height: 96px;
$lapicon-debt-total-width: 1190px;
$lapicon-debt-total-height: 1052px;
$lapicon-debt-image: 'images/sprite.png';
$lapicon-debt: (386px, 771px, -386px, -771px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-debt', );
$lapicon-delivery-truck-name: 'lapicon-delivery-truck';
$lapicon-delivery-truck-x: 482px;
$lapicon-delivery-truck-y: 771px;
$lapicon-delivery-truck-offset-x: -482px;
$lapicon-delivery-truck-offset-y: -771px;
$lapicon-delivery-truck-width: 96px;
$lapicon-delivery-truck-height: 96px;
$lapicon-delivery-truck-total-width: 1190px;
$lapicon-delivery-truck-total-height: 1052px;
$lapicon-delivery-truck-image: 'images/sprite.png';
$lapicon-delivery-truck: (482px, 771px, -482px, -771px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-delivery-truck', );
$lapicon-development-name: 'lapicon-development';
$lapicon-development-x: 578px;
$lapicon-development-y: 771px;
$lapicon-development-offset-x: -578px;
$lapicon-development-offset-y: -771px;
$lapicon-development-width: 96px;
$lapicon-development-height: 96px;
$lapicon-development-total-width: 1190px;
$lapicon-development-total-height: 1052px;
$lapicon-development-image: 'images/sprite.png';
$lapicon-development: (578px, 771px, -578px, -771px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-development', );
$lapicon-diagram-name: 'lapicon-diagram';
$lapicon-diagram-x: 640px;
$lapicon-diagram-y: 545px;
$lapicon-diagram-offset-x: -640px;
$lapicon-diagram-offset-y: -545px;
$lapicon-diagram-width: 98px;
$lapicon-diagram-height: 98px;
$lapicon-diagram-total-width: 1190px;
$lapicon-diagram-total-height: 1052px;
$lapicon-diagram-image: 'images/sprite.png';
$lapicon-diagram: (640px, 545px, -640px, -545px, 98px, 98px, 1190px, 1052px, 'images/sprite.png', 'lapicon-diagram', );
$lapicon-disable-name: 'lapicon-disable';
$lapicon-disable-x: 1119px;
$lapicon-disable-y: 796px;
$lapicon-disable-offset-x: -1119px;
$lapicon-disable-offset-y: -796px;
$lapicon-disable-width: 24px;
$lapicon-disable-height: 24px;
$lapicon-disable-total-width: 1190px;
$lapicon-disable-total-height: 1052px;
$lapicon-disable-image: 'images/sprite.png';
$lapicon-disable: (1119px, 796px, -1119px, -796px, 24px, 24px, 1190px, 1052px, 'images/sprite.png', 'lapicon-disable', );
$lapicon-drupal-name: 'lapicon-drupal';
$lapicon-drupal-x: 674px;
$lapicon-drupal-y: 771px;
$lapicon-drupal-offset-x: -674px;
$lapicon-drupal-offset-y: -771px;
$lapicon-drupal-width: 96px;
$lapicon-drupal-height: 96px;
$lapicon-drupal-total-width: 1190px;
$lapicon-drupal-total-height: 1052px;
$lapicon-drupal-image: 'images/sprite.png';
$lapicon-drupal: (674px, 771px, -674px, -771px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-drupal', );
$lapicon-email-name: 'lapicon-email';
$lapicon-email-x: 262px;
$lapicon-email-y: 964px;
$lapicon-email-offset-x: -262px;
$lapicon-email-offset-y: -964px;
$lapicon-email-width: 86px;
$lapicon-email-height: 86px;
$lapicon-email-total-width: 1190px;
$lapicon-email-total-height: 1052px;
$lapicon-email-image: 'images/sprite.png';
$lapicon-email: (262px, 964px, -262px, -964px, 86px, 86px, 1190px, 1052px, 'images/sprite.png', 'lapicon-email', );
$lapicon-enable-white-name: 'lapicon-enable-white';
$lapicon-enable-white-x: 1143px;
$lapicon-enable-white-y: 796px;
$lapicon-enable-white-offset-x: -1143px;
$lapicon-enable-white-offset-y: -796px;
$lapicon-enable-white-width: 24px;
$lapicon-enable-white-height: 24px;
$lapicon-enable-white-total-width: 1190px;
$lapicon-enable-white-total-height: 1052px;
$lapicon-enable-white-image: 'images/sprite.png';
$lapicon-enable-white: (1143px, 796px, -1143px, -796px, 24px, 24px, 1190px, 1052px, 'images/sprite.png', 'lapicon-enable-white', );
$lapicon-enable-name: 'lapicon-enable';
$lapicon-enable-x: 1119px;
$lapicon-enable-y: 820px;
$lapicon-enable-offset-x: -1119px;
$lapicon-enable-offset-y: -820px;
$lapicon-enable-width: 24px;
$lapicon-enable-height: 24px;
$lapicon-enable-total-width: 1190px;
$lapicon-enable-total-height: 1052px;
$lapicon-enable-image: 'images/sprite.png';
$lapicon-enable: (1119px, 820px, -1119px, -820px, 24px, 24px, 1190px, 1052px, 'images/sprite.png', 'lapicon-enable', );
$lapicon-facebook-name: 'lapicon-facebook';
$lapicon-facebook-x: 770px;
$lapicon-facebook-y: 771px;
$lapicon-facebook-offset-x: -770px;
$lapicon-facebook-offset-y: -771px;
$lapicon-facebook-width: 96px;
$lapicon-facebook-height: 96px;
$lapicon-facebook-total-width: 1190px;
$lapicon-facebook-total-height: 1052px;
$lapicon-facebook-image: 'images/sprite.png';
$lapicon-facebook: (770px, 771px, -770px, -771px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-facebook', );
$lapicon-faq-name: 'lapicon-faq';
$lapicon-faq-x: 838px;
$lapicon-faq-y: 529px;
$lapicon-faq-offset-x: -838px;
$lapicon-faq-offset-y: -529px;
$lapicon-faq-width: 88px;
$lapicon-faq-height: 90px;
$lapicon-faq-total-width: 1190px;
$lapicon-faq-total-height: 1052px;
$lapicon-faq-image: 'images/sprite.png';
$lapicon-faq: (838px, 529px, -838px, -529px, 88px, 90px, 1190px, 1052px, 'images/sprite.png', 'lapicon-faq', );
$lapicon-file-name: 'lapicon-file';
$lapicon-file-x: 1119px;
$lapicon-file-y: 0px;
$lapicon-file-offset-x: -1119px;
$lapicon-file-offset-y: 0px;
$lapicon-file-width: 71px;
$lapicon-file-height: 89px;
$lapicon-file-total-width: 1190px;
$lapicon-file-total-height: 1052px;
$lapicon-file-image: 'images/sprite.png';
$lapicon-file: (1119px, 0px, -1119px, 0px, 71px, 89px, 1190px, 1052px, 'images/sprite.png', 'lapicon-file', );
$lapicon-fire-name: 'lapicon-fire';
$lapicon-fire-x: 188px;
$lapicon-fire-y: 392px;
$lapicon-fire-offset-x: -188px;
$lapicon-fire-offset-y: -392px;
$lapicon-fire-width: 128px;
$lapicon-fire-height: 128px;
$lapicon-fire-total-width: 1190px;
$lapicon-fire-total-height: 1052px;
$lapicon-fire-image: 'images/sprite.png';
$lapicon-fire: (188px, 392px, -188px, -392px, 128px, 128px, 1190px, 1052px, 'images/sprite.png', 'lapicon-fire', );
$lapicon-gear-name: 'lapicon-gear';
$lapicon-gear-x: 434px;
$lapicon-gear-y: 964px;
$lapicon-gear-offset-x: -434px;
$lapicon-gear-offset-y: -964px;
$lapicon-gear-width: 85px;
$lapicon-gear-height: 85px;
$lapicon-gear-total-width: 1190px;
$lapicon-gear-total-height: 1052px;
$lapicon-gear-image: 'images/sprite.png';
$lapicon-gear: (434px, 964px, -434px, -964px, 85px, 85px, 1190px, 1052px, 'images/sprite.png', 'lapicon-gear', );
$lapicon-gym-name: 'lapicon-gym';
$lapicon-gym-x: 927px;
$lapicon-gym-y: 0px;
$lapicon-gym-offset-x: -927px;
$lapicon-gym-offset-y: 0px;
$lapicon-gym-width: 96px;
$lapicon-gym-height: 96px;
$lapicon-gym-total-width: 1190px;
$lapicon-gym-total-height: 1052px;
$lapicon-gym-image: 'images/sprite.png';
$lapicon-gym: (927px, 0px, -927px, 0px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-gym', );
$lapicon-high-five-name: 'lapicon-high-five';
$lapicon-high-five-x: 97px;
$lapicon-high-five-y: 771px;
$lapicon-high-five-offset-x: -97px;
$lapicon-high-five-offset-y: -771px;
$lapicon-high-five-width: 97px;
$lapicon-high-five-height: 97px;
$lapicon-high-five-total-width: 1190px;
$lapicon-high-five-total-height: 1052px;
$lapicon-high-five-image: 'images/sprite.png';
$lapicon-high-five: (97px, 771px, -97px, -771px, 97px, 97px, 1190px, 1052px, 'images/sprite.png', 'lapicon-high-five', );
$lapicon-human-resources-name: 'lapicon-human-resources';
$lapicon-human-resources-x: 348px;
$lapicon-human-resources-y: 964px;
$lapicon-human-resources-offset-x: -348px;
$lapicon-human-resources-offset-y: -964px;
$lapicon-human-resources-width: 86px;
$lapicon-human-resources-height: 86px;
$lapicon-human-resources-total-width: 1190px;
$lapicon-human-resources-total-height: 1052px;
$lapicon-human-resources-image: 'images/sprite.png';
$lapicon-human-resources: (348px, 964px, -348px, -964px, 86px, 86px, 1190px, 1052px, 'images/sprite.png', 'lapicon-human-resources', );
$lapicon-icon-circle-facebook-name: 'lapicon-icon-circle-facebook';
$lapicon-icon-circle-facebook-x: 1143px;
$lapicon-icon-circle-facebook-y: 820px;
$lapicon-icon-circle-facebook-offset-x: -1143px;
$lapicon-icon-circle-facebook-offset-y: -820px;
$lapicon-icon-circle-facebook-width: 20px;
$lapicon-icon-circle-facebook-height: 20px;
$lapicon-icon-circle-facebook-total-width: 1190px;
$lapicon-icon-circle-facebook-total-height: 1052px;
$lapicon-icon-circle-facebook-image: 'images/sprite.png';
$lapicon-icon-circle-facebook: (1143px, 820px, -1143px, -820px, 20px, 20px, 1190px, 1052px, 'images/sprite.png', 'lapicon-icon-circle-facebook', );
$lapicon-icon-circle-instagram-name: 'lapicon-icon-circle-instagram';
$lapicon-icon-circle-instagram-x: 1163px;
$lapicon-icon-circle-instagram-y: 820px;
$lapicon-icon-circle-instagram-offset-x: -1163px;
$lapicon-icon-circle-instagram-offset-y: -820px;
$lapicon-icon-circle-instagram-width: 20px;
$lapicon-icon-circle-instagram-height: 20px;
$lapicon-icon-circle-instagram-total-width: 1190px;
$lapicon-icon-circle-instagram-total-height: 1052px;
$lapicon-icon-circle-instagram-image: 'images/sprite.png';
$lapicon-icon-circle-instagram: (1163px, 820px, -1163px, -820px, 20px, 20px, 1190px, 1052px, 'images/sprite.png', 'lapicon-icon-circle-instagram', );
$lapicon-icon-circle-telegram-name: 'lapicon-icon-circle-telegram';
$lapicon-icon-circle-telegram-x: 1142px;
$lapicon-icon-circle-telegram-y: 844px;
$lapicon-icon-circle-telegram-offset-x: -1142px;
$lapicon-icon-circle-telegram-offset-y: -844px;
$lapicon-icon-circle-telegram-width: 20px;
$lapicon-icon-circle-telegram-height: 20px;
$lapicon-icon-circle-telegram-total-width: 1190px;
$lapicon-icon-circle-telegram-total-height: 1052px;
$lapicon-icon-circle-telegram-image: 'images/sprite.png';
$lapicon-icon-circle-telegram: (1142px, 844px, -1142px, -844px, 20px, 20px, 1190px, 1052px, 'images/sprite.png', 'lapicon-icon-circle-telegram', );
$lapicon-icon-circle-vk-name: 'lapicon-icon-circle-vk';
$lapicon-icon-circle-vk-x: 1162px;
$lapicon-icon-circle-vk-y: 844px;
$lapicon-icon-circle-vk-offset-x: -1162px;
$lapicon-icon-circle-vk-offset-y: -844px;
$lapicon-icon-circle-vk-width: 20px;
$lapicon-icon-circle-vk-height: 20px;
$lapicon-icon-circle-vk-total-width: 1190px;
$lapicon-icon-circle-vk-total-height: 1052px;
$lapicon-icon-circle-vk-image: 'images/sprite.png';
$lapicon-icon-circle-vk: (1162px, 844px, -1162px, -844px, 20px, 20px, 1190px, 1052px, 'images/sprite.png', 'lapicon-icon-circle-vk', );
$lapicon-info-icon-name: 'lapicon-info-icon';
$lapicon-info-icon-x: 1159px;
$lapicon-info-icon-y: 700px;
$lapicon-info-icon-offset-x: -1159px;
$lapicon-info-icon-offset-y: -700px;
$lapicon-info-icon-width: 29px;
$lapicon-info-icon-height: 29px;
$lapicon-info-icon-total-width: 1190px;
$lapicon-info-icon-total-height: 1052px;
$lapicon-info-icon-image: 'images/sprite.png';
$lapicon-info-icon: (1159px, 700px, -1159px, -700px, 29px, 29px, 1190px, 1052px, 'images/sprite.png', 'lapicon-info-icon', );
$lapicon-landing-page-name: 'lapicon-landing-page';
$lapicon-landing-page-x: 849px;
$lapicon-landing-page-y: 200px;
$lapicon-landing-page-offset-x: -849px;
$lapicon-landing-page-offset-y: -200px;
$lapicon-landing-page-width: 75px;
$lapicon-landing-page-height: 93px;
$lapicon-landing-page-total-width: 1190px;
$lapicon-landing-page-total-height: 1052px;
$lapicon-landing-page-image: 'images/sprite.png';
$lapicon-landing-page: (849px, 200px, -849px, -200px, 75px, 93px, 1190px, 1052px, 'images/sprite.png', 'lapicon-landing-page', );
$lapicon-laravel-name: 'lapicon-laravel';
$lapicon-laravel-x: 1023px;
$lapicon-laravel-y: 290px;
$lapicon-laravel-offset-x: -1023px;
$lapicon-laravel-offset-y: -290px;
$lapicon-laravel-width: 93px;
$lapicon-laravel-height: 96px;
$lapicon-laravel-total-width: 1190px;
$lapicon-laravel-total-height: 1052px;
$lapicon-laravel-image: 'images/sprite.png';
$lapicon-laravel: (1023px, 290px, -1023px, -290px, 93px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-laravel', );
$lapicon-launch-name: 'lapicon-launch';
$lapicon-launch-x: 927px;
$lapicon-launch-y: 96px;
$lapicon-launch-offset-x: -927px;
$lapicon-launch-offset-y: -96px;
$lapicon-launch-width: 96px;
$lapicon-launch-height: 96px;
$lapicon-launch-total-width: 1190px;
$lapicon-launch-total-height: 1052px;
$lapicon-launch-image: 'images/sprite.png';
$lapicon-launch: (927px, 96px, -927px, -96px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-launch', );
$lapicon-layout-name: 'lapicon-layout';
$lapicon-layout-x: 202px;
$lapicon-layout-y: 673px;
$lapicon-layout-offset-x: -202px;
$lapicon-layout-offset-y: -673px;
$lapicon-layout-width: 96px;
$lapicon-layout-height: 84px;
$lapicon-layout-total-width: 1190px;
$lapicon-layout-total-height: 1052px;
$lapicon-layout-image: 'images/sprite.png';
$lapicon-layout: (202px, 673px, -202px, -673px, 96px, 84px, 1190px, 1052px, 'images/sprite.png', 'lapicon-layout', );
$lapicon-learning-name: 'lapicon-learning';
$lapicon-learning-x: 927px;
$lapicon-learning-y: 192px;
$lapicon-learning-offset-x: -927px;
$lapicon-learning-offset-y: -192px;
$lapicon-learning-width: 96px;
$lapicon-learning-height: 96px;
$lapicon-learning-total-width: 1190px;
$lapicon-learning-total-height: 1052px;
$lapicon-learning-image: 'images/sprite.png';
$lapicon-learning: (927px, 192px, -927px, -192px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-learning', );
$lapicon-left-arror-name: 'lapicon-left-arror';
$lapicon-left-arror-x: 1119px;
$lapicon-left-arror-y: 740px;
$lapicon-left-arror-offset-x: -1119px;
$lapicon-left-arror-offset-y: -740px;
$lapicon-left-arror-width: 32px;
$lapicon-left-arror-height: 32px;
$lapicon-left-arror-total-width: 1190px;
$lapicon-left-arror-total-height: 1052px;
$lapicon-left-arror-image: 'images/sprite.png';
$lapicon-left-arror: (1119px, 740px, -1119px, -740px, 32px, 32px, 1190px, 1052px, 'images/sprite.png', 'lapicon-left-arror', );
$lapicon-left-arrow-large-name: 'lapicon-left-arrow-large';
$lapicon-left-arrow-large-x: 316px;
$lapicon-left-arrow-large-y: 392px;
$lapicon-left-arrow-large-offset-x: -316px;
$lapicon-left-arrow-large-offset-y: -392px;
$lapicon-left-arrow-large-width: 128px;
$lapicon-left-arrow-large-height: 128px;
$lapicon-left-arrow-large-total-width: 1190px;
$lapicon-left-arrow-large-total-height: 1052px;
$lapicon-left-arrow-large-image: 'images/sprite.png';
$lapicon-left-arrow-large: (316px, 392px, -316px, -392px, 128px, 128px, 1190px, 1052px, 'images/sprite.png', 'lapicon-left-arrow-large', );
$lapicon-location-map-name: 'lapicon-location-map';
$lapicon-location-map-x: 1023px;
$lapicon-location-map-y: 853px;
$lapicon-location-map-offset-x: -1023px;
$lapicon-location-map-offset-y: -853px;
$lapicon-location-map-width: 91px;
$lapicon-location-map-height: 89px;
$lapicon-location-map-total-width: 1190px;
$lapicon-location-map-total-height: 1052px;
$lapicon-location-map-image: 'images/sprite.png';
$lapicon-location-map: (1023px, 853px, -1023px, -853px, 91px, 89px, 1190px, 1052px, 'images/sprite.png', 'lapicon-location-map', );
$lapicon-location-white-name: 'lapicon-location-white';
$lapicon-location-white-x: 1119px;
$lapicon-location-white-y: 889px;
$lapicon-location-white-offset-x: -1119px;
$lapicon-location-white-offset-y: -889px;
$lapicon-location-white-width: 17px;
$lapicon-location-white-height: 21px;
$lapicon-location-white-total-width: 1190px;
$lapicon-location-white-total-height: 1052px;
$lapicon-location-white-image: 'images/sprite.png';
$lapicon-location-white: (1119px, 889px, -1119px, -889px, 17px, 21px, 1190px, 1052px, 'images/sprite.png', 'lapicon-location-white', );
$lapicon-location-name: 'lapicon-location';
$lapicon-location-x: 1136px;
$lapicon-location-y: 889px;
$lapicon-location-offset-x: -1136px;
$lapicon-location-offset-y: -889px;
$lapicon-location-width: 17px;
$lapicon-location-height: 21px;
$lapicon-location-total-width: 1190px;
$lapicon-location-total-height: 1052px;
$lapicon-location-image: 'images/sprite.png';
$lapicon-location: (1136px, 889px, -1136px, -889px, 17px, 21px, 1190px, 1052px, 'images/sprite.png', 'lapicon-location', );
$lapicon-logo-sm-name: 'lapicon-logo-sm';
$lapicon-logo-sm-x: 739px;
$lapicon-logo-sm-y: 80px;
$lapicon-logo-sm-offset-x: -739px;
$lapicon-logo-sm-offset-y: -80px;
$lapicon-logo-sm-width: 120px;
$lapicon-logo-sm-height: 120px;
$lapicon-logo-sm-total-width: 1190px;
$lapicon-logo-sm-total-height: 1052px;
$lapicon-logo-sm-image: 'images/sprite.png';
$lapicon-logo-sm: (739px, 80px, -739px, -80px, 120px, 120px, 1190px, 1052px, 'images/sprite.png', 'lapicon-logo-sm', );
$lapicon-logo-small-name: 'lapicon-logo-small';
$lapicon-logo-small-x: 1119px;
$lapicon-logo-small-y: 558px;
$lapicon-logo-small-offset-x: -1119px;
$lapicon-logo-small-offset-y: -558px;
$lapicon-logo-small-width: 60px;
$lapicon-logo-small-height: 60px;
$lapicon-logo-small-total-width: 1190px;
$lapicon-logo-small-total-height: 1052px;
$lapicon-logo-small-image: 'images/sprite.png';
$lapicon-logo-small: (1119px, 558px, -1119px, -558px, 60px, 60px, 1190px, 1052px, 'images/sprite.png', 'lapicon-logo-small', );
$lapicon-logo-name: 'lapicon-logo';
$lapicon-logo-x: 188px;
$lapicon-logo-y: 268px;
$lapicon-logo-offset-x: -188px;
$lapicon-logo-offset-y: -268px;
$lapicon-logo-width: 350px;
$lapicon-logo-height: 124px;
$lapicon-logo-total-width: 1190px;
$lapicon-logo-total-height: 1052px;
$lapicon-logo-image: 'images/sprite.png';
$lapicon-logo: (188px, 268px, -188px, -268px, 350px, 124px, 1190px, 1052px, 'images/sprite.png', 'lapicon-logo', );
$lapicon-manager-name: 'lapicon-manager';
$lapicon-manager-x: 834px;
$lapicon-manager-y: 315px;
$lapicon-manager-offset-x: -834px;
$lapicon-manager-offset-y: -315px;
$lapicon-manager-width: 89px;
$lapicon-manager-height: 89px;
$lapicon-manager-total-width: 1190px;
$lapicon-manager-total-height: 1052px;
$lapicon-manager-image: 'images/sprite.png';
$lapicon-manager: (834px, 315px, -834px, -315px, 89px, 89px, 1190px, 1052px, 'images/sprite.png', 'lapicon-manager', );
$lapicon-menu-name: 'lapicon-menu';
$lapicon-menu-x: 1119px;
$lapicon-menu-y: 700px;
$lapicon-menu-offset-x: -1119px;
$lapicon-menu-offset-y: -700px;
$lapicon-menu-width: 40px;
$lapicon-menu-height: 40px;
$lapicon-menu-total-width: 1190px;
$lapicon-menu-total-height: 1052px;
$lapicon-menu-image: 'images/sprite.png';
$lapicon-menu: (1119px, 700px, -1119px, -700px, 40px, 40px, 1190px, 1052px, 'images/sprite.png', 'lapicon-menu', );
$lapicon-message-name: 'lapicon-message';
$lapicon-message-x: 927px;
$lapicon-message-y: 288px;
$lapicon-message-offset-x: -927px;
$lapicon-message-offset-y: -288px;
$lapicon-message-width: 96px;
$lapicon-message-height: 96px;
$lapicon-message-total-width: 1190px;
$lapicon-message-total-height: 1052px;
$lapicon-message-image: 'images/sprite.png';
$lapicon-message: (927px, 288px, -927px, -288px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-message', );
$lapicon-minus-name: 'lapicon-minus';
$lapicon-minus-x: 1163px;
$lapicon-minus-y: 643px;
$lapicon-minus-offset-x: -1163px;
$lapicon-minus-offset-y: -643px;
$lapicon-minus-width: 20px;
$lapicon-minus-height: 7px;
$lapicon-minus-total-width: 1190px;
$lapicon-minus-total-height: 1052px;
$lapicon-minus-image: 'images/sprite.png';
$lapicon-minus: (1163px, 643px, -1163px, -643px, 20px, 7px, 1190px, 1052px, 'images/sprite.png', 'lapicon-minus', );
$lapicon-modx-name: 'lapicon-modx';
$lapicon-modx-x: 1023px;
$lapicon-modx-y: 386px;
$lapicon-modx-offset-x: -1023px;
$lapicon-modx-offset-y: -386px;
$lapicon-modx-width: 93px;
$lapicon-modx-height: 96px;
$lapicon-modx-total-width: 1190px;
$lapicon-modx-total-height: 1052px;
$lapicon-modx-image: 'images/sprite.png';
$lapicon-modx: (1023px, 386px, -1023px, -386px, 93px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-modx', );
$lapicon-olive-name: 'lapicon-olive';
$lapicon-olive-x: 0px;
$lapicon-olive-y: 545px;
$lapicon-olive-offset-x: 0px;
$lapicon-olive-offset-y: -545px;
$lapicon-olive-width: 128px;
$lapicon-olive-height: 128px;
$lapicon-olive-total-width: 1190px;
$lapicon-olive-total-height: 1052px;
$lapicon-olive-image: 'images/sprite.png';
$lapicon-olive: (0px, 545px, 0px, -545px, 128px, 128px, 1190px, 1052px, 'images/sprite.png', 'lapicon-olive', );
$lapicon-online-shop-name: 'lapicon-online-shop';
$lapicon-online-shop-x: 1023px;
$lapicon-online-shop-y: 767px;
$lapicon-online-shop-offset-x: -1023px;
$lapicon-online-shop-offset-y: -767px;
$lapicon-online-shop-width: 96px;
$lapicon-online-shop-height: 86px;
$lapicon-online-shop-total-width: 1190px;
$lapicon-online-shop-total-height: 1052px;
$lapicon-online-shop-image: 'images/sprite.png';
$lapicon-online-shop: (1023px, 767px, -1023px, -767px, 96px, 86px, 1190px, 1052px, 'images/sprite.png', 'lapicon-online-shop', );
$lapicon-opencart-name: 'lapicon-opencart';
$lapicon-opencart-x: 551px;
$lapicon-opencart-y: 292px;
$lapicon-opencart-offset-x: -551px;
$lapicon-opencart-offset-y: -292px;
$lapicon-opencart-width: 158px;
$lapicon-opencart-height: 106px;
$lapicon-opencart-total-width: 1190px;
$lapicon-opencart-total-height: 1052px;
$lapicon-opencart-image: 'images/sprite.png';
$lapicon-opencart: (551px, 292px, -551px, -292px, 158px, 106px, 1190px, 1052px, 'images/sprite.png', 'lapicon-opencart', );
$lapicon-operation-name: 'lapicon-operation';
$lapicon-operation-x: 128px;
$lapicon-operation-y: 545px;
$lapicon-operation-offset-x: -128px;
$lapicon-operation-offset-y: -545px;
$lapicon-operation-width: 128px;
$lapicon-operation-height: 128px;
$lapicon-operation-total-width: 1190px;
$lapicon-operation-total-height: 1052px;
$lapicon-operation-image: 'images/sprite.png';
$lapicon-operation: (128px, 545px, -128px, -545px, 128px, 128px, 1190px, 1052px, 'images/sprite.png', 'lapicon-operation', );
$lapicon-piggy-bank-name: 'lapicon-piggy-bank';
$lapicon-piggy-bank-x: 927px;
$lapicon-piggy-bank-y: 384px;
$lapicon-piggy-bank-offset-x: -927px;
$lapicon-piggy-bank-offset-y: -384px;
$lapicon-piggy-bank-width: 96px;
$lapicon-piggy-bank-height: 96px;
$lapicon-piggy-bank-total-width: 1190px;
$lapicon-piggy-bank-total-height: 1052px;
$lapicon-piggy-bank-image: 'images/sprite.png';
$lapicon-piggy-bank: (927px, 384px, -927px, -384px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-piggy-bank', );
$lapicon-podium-name: 'lapicon-podium';
$lapicon-podium-x: 1119px;
$lapicon-podium-y: 366px;
$lapicon-podium-offset-x: -1119px;
$lapicon-podium-offset-y: -366px;
$lapicon-podium-width: 64px;
$lapicon-podium-height: 64px;
$lapicon-podium-total-width: 1190px;
$lapicon-podium-total-height: 1052px;
$lapicon-podium-image: 'images/sprite.png';
$lapicon-podium: (1119px, 366px, -1119px, -366px, 64px, 64px, 1190px, 1052px, 'images/sprite.png', 'lapicon-podium', );
$lapicon-portfolio-name: 'lapicon-portfolio';
$lapicon-portfolio-x: 1119px;
$lapicon-portfolio-y: 89px;
$lapicon-portfolio-offset-x: -1119px;
$lapicon-portfolio-offset-y: -89px;
$lapicon-portfolio-width: 68px;
$lapicon-portfolio-height: 85px;
$lapicon-portfolio-total-width: 1190px;
$lapicon-portfolio-total-height: 1052px;
$lapicon-portfolio-image: 'images/sprite.png';
$lapicon-portfolio: (1119px, 89px, -1119px, -89px, 68px, 85px, 1190px, 1052px, 'images/sprite.png', 'lapicon-portfolio', );
$lapicon-presentation-name: 'lapicon-presentation';
$lapicon-presentation-x: 927px;
$lapicon-presentation-y: 480px;
$lapicon-presentation-offset-x: -927px;
$lapicon-presentation-offset-y: -480px;
$lapicon-presentation-width: 96px;
$lapicon-presentation-height: 96px;
$lapicon-presentation-total-width: 1190px;
$lapicon-presentation-total-height: 1052px;
$lapicon-presentation-image: 'images/sprite.png';
$lapicon-presentation: (927px, 480px, -927px, -480px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-presentation', );
$lapicon-quotation-name: 'lapicon-quotation';
$lapicon-quotation-x: 1159px;
$lapicon-quotation-y: 660px;
$lapicon-quotation-offset-x: -1159px;
$lapicon-quotation-offset-y: -660px;
$lapicon-quotation-width: 31px;
$lapicon-quotation-height: 29px;
$lapicon-quotation-total-width: 1190px;
$lapicon-quotation-total-height: 1052px;
$lapicon-quotation-image: 'images/sprite.png';
$lapicon-quotation: (1159px, 660px, -1159px, -660px, 31px, 29px, 1190px, 1052px, 'images/sprite.png', 'lapicon-quotation', );
$lapicon-radio-checked-name: 'lapicon-radio-checked';
$lapicon-radio-checked-x: 1119px;
$lapicon-radio-checked-y: 869px;
$lapicon-radio-checked-offset-x: -1119px;
$lapicon-radio-checked-offset-y: -869px;
$lapicon-radio-checked-width: 20px;
$lapicon-radio-checked-height: 20px;
$lapicon-radio-checked-total-width: 1190px;
$lapicon-radio-checked-total-height: 1052px;
$lapicon-radio-checked-image: 'images/sprite.png';
$lapicon-radio-checked: (1119px, 869px, -1119px, -869px, 20px, 20px, 1190px, 1052px, 'images/sprite.png', 'lapicon-radio-checked', );
$lapicon-radio-unchecked-name: 'lapicon-radio-unchecked';
$lapicon-radio-unchecked-x: 1139px;
$lapicon-radio-unchecked-y: 869px;
$lapicon-radio-unchecked-offset-x: -1139px;
$lapicon-radio-unchecked-offset-y: -869px;
$lapicon-radio-unchecked-width: 20px;
$lapicon-radio-unchecked-height: 20px;
$lapicon-radio-unchecked-total-width: 1190px;
$lapicon-radio-unchecked-total-height: 1052px;
$lapicon-radio-unchecked-image: 'images/sprite.png';
$lapicon-radio-unchecked: (1139px, 869px, -1139px, -869px, 20px, 20px, 1190px, 1052px, 'images/sprite.png', 'lapicon-radio-unchecked', );
$lapicon-report-name: 'lapicon-report';
$lapicon-report-x: 444px;
$lapicon-report-y: 392px;
$lapicon-report-offset-x: -444px;
$lapicon-report-offset-y: -392px;
$lapicon-report-width: 97px;
$lapicon-report-height: 101px;
$lapicon-report-total-width: 1190px;
$lapicon-report-total-height: 1052px;
$lapicon-report-image: 'images/sprite.png';
$lapicon-report: (444px, 392px, -444px, -392px, 97px, 101px, 1190px, 1052px, 'images/sprite.png', 'lapicon-report', );
$lapicon-requirement-name: 'lapicon-requirement';
$lapicon-requirement-x: 927px;
$lapicon-requirement-y: 576px;
$lapicon-requirement-offset-x: -927px;
$lapicon-requirement-offset-y: -576px;
$lapicon-requirement-width: 96px;
$lapicon-requirement-height: 96px;
$lapicon-requirement-total-width: 1190px;
$lapicon-requirement-total-height: 1052px;
$lapicon-requirement-image: 'images/sprite.png';
$lapicon-requirement: (927px, 576px, -927px, -576px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-requirement', );
$lapicon-right-arrow-large-name: 'lapicon-right-arrow-large';
$lapicon-right-arrow-large-x: 256px;
$lapicon-right-arrow-large-y: 545px;
$lapicon-right-arrow-large-offset-x: -256px;
$lapicon-right-arrow-large-offset-y: -545px;
$lapicon-right-arrow-large-width: 128px;
$lapicon-right-arrow-large-height: 128px;
$lapicon-right-arrow-large-total-width: 1190px;
$lapicon-right-arrow-large-total-height: 1052px;
$lapicon-right-arrow-large-image: 'images/sprite.png';
$lapicon-right-arrow-large: (256px, 545px, -256px, -545px, 128px, 128px, 1190px, 1052px, 'images/sprite.png', 'lapicon-right-arrow-large', );
$lapicon-right-arrow-name: 'lapicon-right-arrow';
$lapicon-right-arrow-x: 1151px;
$lapicon-right-arrow-y: 740px;
$lapicon-right-arrow-offset-x: -1151px;
$lapicon-right-arrow-offset-y: -740px;
$lapicon-right-arrow-width: 32px;
$lapicon-right-arrow-height: 32px;
$lapicon-right-arrow-total-width: 1190px;
$lapicon-right-arrow-total-height: 1052px;
$lapicon-right-arrow-image: 'images/sprite.png';
$lapicon-right-arrow: (1151px, 740px, -1151px, -740px, 32px, 32px, 1190px, 1052px, 'images/sprite.png', 'lapicon-right-arrow', );
$lapicon-rouble-name: 'lapicon-rouble';
$lapicon-rouble-x: 1163px;
$lapicon-rouble-y: 618px;
$lapicon-rouble-offset-x: -1163px;
$lapicon-rouble-offset-y: -618px;
$lapicon-rouble-width: 25px;
$lapicon-rouble-height: 25px;
$lapicon-rouble-total-width: 1190px;
$lapicon-rouble-total-height: 1052px;
$lapicon-rouble-image: 'images/sprite.png';
$lapicon-rouble: (1163px, 618px, -1163px, -618px, 25px, 25px, 1190px, 1052px, 'images/sprite.png', 'lapicon-rouble', );
$lapicon-shopping-cart-name: 'lapicon-shopping-cart';
$lapicon-shopping-cart-x: 0px;
$lapicon-shopping-cart-y: 673px;
$lapicon-shopping-cart-offset-x: 0px;
$lapicon-shopping-cart-offset-y: -673px;
$lapicon-shopping-cart-width: 98px;
$lapicon-shopping-cart-height: 98px;
$lapicon-shopping-cart-total-width: 1190px;
$lapicon-shopping-cart-total-height: 1052px;
$lapicon-shopping-cart-image: 'images/sprite.png';
$lapicon-shopping-cart: (0px, 673px, 0px, -673px, 98px, 98px, 1190px, 1052px, 'images/sprite.png', 'lapicon-shopping-cart', );
$lapicon-shopping-name: 'lapicon-shopping';
$lapicon-shopping-x: 927px;
$lapicon-shopping-y: 672px;
$lapicon-shopping-offset-x: -927px;
$lapicon-shopping-offset-y: -672px;
$lapicon-shopping-width: 96px;
$lapicon-shopping-height: 96px;
$lapicon-shopping-total-width: 1190px;
$lapicon-shopping-total-height: 1052px;
$lapicon-shopping-image: 'images/sprite.png';
$lapicon-shopping: (927px, 672px, -927px, -672px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-shopping', );
$lapicon-smartphone-name: 'lapicon-smartphone';
$lapicon-smartphone-x: 927px;
$lapicon-smartphone-y: 768px;
$lapicon-smartphone-offset-x: -927px;
$lapicon-smartphone-offset-y: -768px;
$lapicon-smartphone-width: 96px;
$lapicon-smartphone-height: 96px;
$lapicon-smartphone-total-width: 1190px;
$lapicon-smartphone-total-height: 1052px;
$lapicon-smartphone-image: 'images/sprite.png';
$lapicon-smartphone: (927px, 768px, -927px, -768px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-smartphone', );
$lapicon-spa-name: 'lapicon-spa';
$lapicon-spa-x: 0px;
$lapicon-spa-y: 868px;
$lapicon-spa-offset-x: 0px;
$lapicon-spa-offset-y: -868px;
$lapicon-spa-width: 96px;
$lapicon-spa-height: 96px;
$lapicon-spa-total-width: 1190px;
$lapicon-spa-total-height: 1052px;
$lapicon-spa-image: 'images/sprite.png';
$lapicon-spa: (0px, 868px, 0px, -868px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-spa', );
$lapicon-speedometer-name: 'lapicon-speedometer';
$lapicon-speedometer-x: 298px;
$lapicon-speedometer-y: 673px;
$lapicon-speedometer-offset-x: -298px;
$lapicon-speedometer-offset-y: -673px;
$lapicon-speedometer-width: 83px;
$lapicon-speedometer-height: 82px;
$lapicon-speedometer-total-width: 1190px;
$lapicon-speedometer-total-height: 1052px;
$lapicon-speedometer-image: 'images/sprite.png';
$lapicon-speedometer: (298px, 673px, -298px, -673px, 83px, 82px, 1190px, 1052px, 'images/sprite.png', 'lapicon-speedometer', );
$lapicon-ssl-certificate-name: 'lapicon-ssl-certificate';
$lapicon-ssl-certificate-x: 98px;
$lapicon-ssl-certificate-y: 673px;
$lapicon-ssl-certificate-offset-x: -98px;
$lapicon-ssl-certificate-offset-y: -673px;
$lapicon-ssl-certificate-width: 104px;
$lapicon-ssl-certificate-height: 92px;
$lapicon-ssl-certificate-total-width: 1190px;
$lapicon-ssl-certificate-total-height: 1052px;
$lapicon-ssl-certificate-image: 'images/sprite.png';
$lapicon-ssl-certificate: (98px, 673px, -98px, -673px, 104px, 92px, 1190px, 1052px, 'images/sprite.png', 'lapicon-ssl-certificate', );
$lapicon-st-name: 'lapicon-st';
$lapicon-st-x: 268px;
$lapicon-st-y: 0px;
$lapicon-st-offset-x: -268px;
$lapicon-st-offset-y: 0px;
$lapicon-st-width: 283px;
$lapicon-st-height: 212px;
$lapicon-st-total-width: 1190px;
$lapicon-st-total-height: 1052px;
$lapicon-st-image: 'images/sprite.png';
$lapicon-st: (268px, 0px, -268px, 0px, 283px, 212px, 1190px, 1052px, 'images/sprite.png', 'lapicon-st', );
$lapicon-st1-name: 'lapicon-st1';
$lapicon-st1-x: 739px;
$lapicon-st1-y: 632px;
$lapicon-st1-offset-x: -739px;
$lapicon-st1-offset-y: -632px;
$lapicon-st1-width: 188px;
$lapicon-st1-height: 40px;
$lapicon-st1-total-width: 1190px;
$lapicon-st1-total-height: 1052px;
$lapicon-st1-image: 'images/sprite.png';
$lapicon-st1: (739px, 632px, -739px, -632px, 188px, 40px, 1190px, 1052px, 'images/sprite.png', 'lapicon-st1', );
$lapicon-st2-name: 'lapicon-st2';
$lapicon-st2-x: 739px;
$lapicon-st2-y: 0px;
$lapicon-st2-offset-x: -739px;
$lapicon-st2-offset-y: 0px;
$lapicon-st2-width: 188px;
$lapicon-st2-height: 80px;
$lapicon-st2-total-width: 1190px;
$lapicon-st2-total-height: 1052px;
$lapicon-st2-image: 'images/sprite.png';
$lapicon-st2: (739px, 0px, -739px, 0px, 188px, 80px, 1190px, 1052px, 'images/sprite.png', 'lapicon-st2', );
$lapicon-st3-name: 'lapicon-st3';
$lapicon-st3-x: 551px;
$lapicon-st3-y: 0px;
$lapicon-st3-offset-x: -551px;
$lapicon-st3-offset-y: 0px;
$lapicon-st3-width: 188px;
$lapicon-st3-height: 168px;
$lapicon-st3-total-width: 1190px;
$lapicon-st3-total-height: 1052px;
$lapicon-st3-image: 'images/sprite.png';
$lapicon-st3: (551px, 0px, -551px, 0px, 188px, 168px, 1190px, 1052px, 'images/sprite.png', 'lapicon-st3', );
$lapicon-st4-name: 'lapicon-st4';
$lapicon-st4-x: 0px;
$lapicon-st4-y: 268px;
$lapicon-st4-offset-x: 0px;
$lapicon-st4-offset-y: -268px;
$lapicon-st4-width: 188px;
$lapicon-st4-height: 277px;
$lapicon-st4-total-width: 1190px;
$lapicon-st4-total-height: 1052px;
$lapicon-st4-image: 'images/sprite.png';
$lapicon-st4: (0px, 268px, 0px, -268px, 188px, 277px, 1190px, 1052px, 'images/sprite.png', 'lapicon-st4', );
$lapicon-star-large-name: 'lapicon-star-large';
$lapicon-star-large-x: 384px;
$lapicon-star-large-y: 545px;
$lapicon-star-large-offset-x: -384px;
$lapicon-star-large-offset-y: -545px;
$lapicon-star-large-width: 128px;
$lapicon-star-large-height: 128px;
$lapicon-star-large-total-width: 1190px;
$lapicon-star-large-total-height: 1052px;
$lapicon-star-large-image: 'images/sprite.png';
$lapicon-star-large: (384px, 545px, -384px, -545px, 128px, 128px, 1190px, 1052px, 'images/sprite.png', 'lapicon-star-large', );
$lapicon-star-name: 'lapicon-star';
$lapicon-star-x: 1119px;
$lapicon-star-y: 618px;
$lapicon-star-offset-x: -1119px;
$lapicon-star-offset-y: -618px;
$lapicon-star-width: 44px;
$lapicon-star-height: 42px;
$lapicon-star-total-width: 1190px;
$lapicon-star-total-height: 1052px;
$lapicon-star-image: 'images/sprite.png';
$lapicon-star: (1119px, 618px, -1119px, -618px, 44px, 42px, 1190px, 1052px, 'images/sprite.png', 'lapicon-star', );
$lapicon-stopwatch-2-name: 'lapicon-stopwatch-2';
$lapicon-stopwatch-2-x: 96px;
$lapicon-stopwatch-2-y: 868px;
$lapicon-stopwatch-2-offset-x: -96px;
$lapicon-stopwatch-2-offset-y: -868px;
$lapicon-stopwatch-2-width: 96px;
$lapicon-stopwatch-2-height: 96px;
$lapicon-stopwatch-2-total-width: 1190px;
$lapicon-stopwatch-2-total-height: 1052px;
$lapicon-stopwatch-2-image: 'images/sprite.png';
$lapicon-stopwatch-2: (96px, 868px, -96px, -868px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-stopwatch-2', );
$lapicon-stopwatch-name: 'lapicon-stopwatch';
$lapicon-stopwatch-x: 1023px;
$lapicon-stopwatch-y: 96px;
$lapicon-stopwatch-offset-x: -1023px;
$lapicon-stopwatch-offset-y: -96px;
$lapicon-stopwatch-width: 94px;
$lapicon-stopwatch-height: 98px;
$lapicon-stopwatch-total-width: 1190px;
$lapicon-stopwatch-total-height: 1052px;
$lapicon-stopwatch-image: 'images/sprite.png';
$lapicon-stopwatch: (1023px, 96px, -1023px, -96px, 94px, 98px, 1190px, 1052px, 'images/sprite.png', 'lapicon-stopwatch', );
$lapicon-superman-name: 'lapicon-superman';
$lapicon-superman-x: 192px;
$lapicon-superman-y: 868px;
$lapicon-superman-offset-x: -192px;
$lapicon-superman-offset-y: -868px;
$lapicon-superman-width: 96px;
$lapicon-superman-height: 96px;
$lapicon-superman-total-width: 1190px;
$lapicon-superman-total-height: 1052px;
$lapicon-superman-image: 'images/sprite.png';
$lapicon-superman: (192px, 868px, -192px, -868px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-superman', );
$lapicon-target-arrow-name: 'lapicon-target-arrow';
$lapicon-target-arrow-x: 739px;
$lapicon-target-arrow-y: 200px;
$lapicon-target-arrow-offset-x: -739px;
$lapicon-target-arrow-offset-y: -200px;
$lapicon-target-arrow-width: 110px;
$lapicon-target-arrow-height: 115px;
$lapicon-target-arrow-total-width: 1190px;
$lapicon-target-arrow-total-height: 1052px;
$lapicon-target-arrow-image: 'images/sprite.png';
$lapicon-target-arrow: (739px, 200px, -739px, -200px, 110px, 115px, 1190px, 1052px, 'images/sprite.png', 'lapicon-target-arrow', );
$lapicon-target-center-name: 'lapicon-target-center';
$lapicon-target-center-x: 0px;
$lapicon-target-center-y: 0px;
$lapicon-target-center-offset-x: 0px;
$lapicon-target-center-offset-y: 0px;
$lapicon-target-center-width: 268px;
$lapicon-target-center-height: 268px;
$lapicon-target-center-total-width: 1190px;
$lapicon-target-center-total-height: 1052px;
$lapicon-target-center-image: 'images/sprite.png';
$lapicon-target-center: (0px, 0px, 0px, 0px, 268px, 268px, 1190px, 1052px, 'images/sprite.png', 'lapicon-target-center', );
$lapicon-target-name: 'lapicon-target';
$lapicon-target-x: 512px;
$lapicon-target-y: 545px;
$lapicon-target-offset-x: -512px;
$lapicon-target-offset-y: -545px;
$lapicon-target-width: 128px;
$lapicon-target-height: 128px;
$lapicon-target-total-width: 1190px;
$lapicon-target-total-height: 1052px;
$lapicon-target-image: 'images/sprite.png';
$lapicon-target: (512px, 545px, -512px, -545px, 128px, 128px, 1190px, 1052px, 'images/sprite.png', 'lapicon-target', );
$lapicon-technical-support-name: 'lapicon-technical-support';
$lapicon-technical-support-x: 1023px;
$lapicon-technical-support-y: 194px;
$lapicon-technical-support-offset-x: -1023px;
$lapicon-technical-support-offset-y: -194px;
$lapicon-technical-support-width: 94px;
$lapicon-technical-support-height: 96px;
$lapicon-technical-support-total-width: 1190px;
$lapicon-technical-support-total-height: 1052px;
$lapicon-technical-support-image: 'images/sprite.png';
$lapicon-technical-support: (1023px, 194px, -1023px, -194px, 94px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-technical-support', );
$lapicon-telegram-name: 'lapicon-telegram';
$lapicon-telegram-x: 288px;
$lapicon-telegram-y: 868px;
$lapicon-telegram-offset-x: -288px;
$lapicon-telegram-offset-y: -868px;
$lapicon-telegram-width: 96px;
$lapicon-telegram-height: 96px;
$lapicon-telegram-total-width: 1190px;
$lapicon-telegram-total-height: 1052px;
$lapicon-telegram-image: 'images/sprite.png';
$lapicon-telegram: (288px, 868px, -288px, -868px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-telegram', );
$lapicon-test-name: 'lapicon-test';
$lapicon-test-x: 384px;
$lapicon-test-y: 868px;
$lapicon-test-offset-x: -384px;
$lapicon-test-offset-y: -868px;
$lapicon-test-width: 96px;
$lapicon-test-height: 96px;
$lapicon-test-total-width: 1190px;
$lapicon-test-total-height: 1052px;
$lapicon-test-image: 'images/sprite.png';
$lapicon-test: (384px, 868px, -384px, -868px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-test', );
$lapicon-text-name: 'lapicon-text';
$lapicon-text-x: 1119px;
$lapicon-text-y: 430px;
$lapicon-text-offset-x: -1119px;
$lapicon-text-offset-y: -430px;
$lapicon-text-width: 64px;
$lapicon-text-height: 64px;
$lapicon-text-total-width: 1190px;
$lapicon-text-total-height: 1052px;
$lapicon-text-image: 'images/sprite.png';
$lapicon-text: (1119px, 430px, -1119px, -430px, 64px, 64px, 1190px, 1052px, 'images/sprite.png', 'lapicon-text', );
$lapicon-viber-name: 'lapicon-viber';
$lapicon-viber-x: 480px;
$lapicon-viber-y: 868px;
$lapicon-viber-offset-x: -480px;
$lapicon-viber-offset-y: -868px;
$lapicon-viber-width: 96px;
$lapicon-viber-height: 96px;
$lapicon-viber-total-width: 1190px;
$lapicon-viber-total-height: 1052px;
$lapicon-viber-image: 'images/sprite.png';
$lapicon-viber: (480px, 868px, -480px, -868px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-viber', );
$lapicon-vk-messenger-name: 'lapicon-vk-messenger';
$lapicon-vk-messenger-x: 576px;
$lapicon-vk-messenger-y: 868px;
$lapicon-vk-messenger-offset-x: -576px;
$lapicon-vk-messenger-offset-y: -868px;
$lapicon-vk-messenger-width: 96px;
$lapicon-vk-messenger-height: 96px;
$lapicon-vk-messenger-total-width: 1190px;
$lapicon-vk-messenger-total-height: 1052px;
$lapicon-vk-messenger-image: 'images/sprite.png';
$lapicon-vk-messenger: (576px, 868px, -576px, -868px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-vk-messenger', );
$lapicon-web-design-name: 'lapicon-web-design';
$lapicon-web-design-x: 672px;
$lapicon-web-design-y: 868px;
$lapicon-web-design-offset-x: -672px;
$lapicon-web-design-offset-y: -868px;
$lapicon-web-design-width: 96px;
$lapicon-web-design-height: 96px;
$lapicon-web-design-total-width: 1190px;
$lapicon-web-design-total-height: 1052px;
$lapicon-web-design-image: 'images/sprite.png';
$lapicon-web-design: (672px, 868px, -672px, -868px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-web-design', );
$lapicon-whatsapp-name: 'lapicon-whatsapp';
$lapicon-whatsapp-x: 768px;
$lapicon-whatsapp-y: 868px;
$lapicon-whatsapp-offset-x: -768px;
$lapicon-whatsapp-offset-y: -868px;
$lapicon-whatsapp-width: 96px;
$lapicon-whatsapp-height: 96px;
$lapicon-whatsapp-total-width: 1190px;
$lapicon-whatsapp-total-height: 1052px;
$lapicon-whatsapp-image: 'images/sprite.png';
$lapicon-whatsapp: (768px, 868px, -768px, -868px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-whatsapp', );
$lapicon-wordpress-name: 'lapicon-wordpress';
$lapicon-wordpress-x: 864px;
$lapicon-wordpress-y: 868px;
$lapicon-wordpress-offset-x: -864px;
$lapicon-wordpress-offset-y: -868px;
$lapicon-wordpress-width: 96px;
$lapicon-wordpress-height: 96px;
$lapicon-wordpress-total-width: 1190px;
$lapicon-wordpress-total-height: 1052px;
$lapicon-wordpress-image: 'images/sprite.png';
$lapicon-wordpress: (864px, 868px, -864px, -868px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-wordpress', );
$lapicon-www-name: 'lapicon-www';
$lapicon-www-x: 1119px;
$lapicon-www-y: 494px;
$lapicon-www-offset-x: -1119px;
$lapicon-www-offset-y: -494px;
$lapicon-www-width: 64px;
$lapicon-www-height: 64px;
$lapicon-www-total-width: 1190px;
$lapicon-www-total-height: 1052px;
$lapicon-www-image: 'images/sprite.png';
$lapicon-www: (1119px, 494px, -1119px, -494px, 64px, 64px, 1190px, 1052px, 'images/sprite.png', 'lapicon-www', );
$lapicon-yii-name: 'lapicon-yii';
$lapicon-yii-x: 1023px;
$lapicon-yii-y: 0px;
$lapicon-yii-offset-x: -1023px;
$lapicon-yii-offset-y: 0px;
$lapicon-yii-width: 96px;
$lapicon-yii-height: 96px;
$lapicon-yii-total-width: 1190px;
$lapicon-yii-total-height: 1052px;
$lapicon-yii-image: 'images/sprite.png';
$lapicon-yii: (1023px, 0px, -1023px, 0px, 96px, 96px, 1190px, 1052px, 'images/sprite.png', 'lapicon-yii', );
$spritesheet-width: 1190px;
$spritesheet-height: 1052px;
$spritesheet-image: 'images/sprite.png';
$spritesheet-sprites: ($lapicon-1c-bitrix, $lapicon-active-search, $lapicon-analytics-desktop, $lapicon-analytics, $lapicon-audit, $lapicon-bar-chart, $lapicon-bitrix-full, $lapicon-bullseye, $lapicon-business-website, $lapicon-business, $lapicon-calendar, $lapicon-call-large, $lapicon-call-white, $lapicon-call, $lapicon-chat, $lapicon-chat2, $lapicon-check-mark, $lapicon-checkbox-checked, $lapicon-checkbox-unchecked, $lapicon-checklist, $lapicon-close, $lapicon-consulting, $lapicon-customer-service, $lapicon-customer-support, $lapicon-deadline, $lapicon-debt, $lapicon-delivery-truck, $lapicon-development, $lapicon-diagram, $lapicon-disable, $lapicon-drupal, $lapicon-email, $lapicon-enable-white, $lapicon-enable, $lapicon-facebook, $lapicon-faq, $lapicon-file, $lapicon-fire, $lapicon-gear, $lapicon-gym, $lapicon-high-five, $lapicon-human-resources, $lapicon-icon-circle-facebook, $lapicon-icon-circle-instagram, $lapicon-icon-circle-telegram, $lapicon-icon-circle-vk, $lapicon-info-icon, $lapicon-landing-page, $lapicon-laravel, $lapicon-launch, $lapicon-layout, $lapicon-learning, $lapicon-left-arror, $lapicon-left-arrow-large, $lapicon-location-map, $lapicon-location-white, $lapicon-location, $lapicon-logo-sm, $lapicon-logo-small, $lapicon-logo, $lapicon-manager, $lapicon-menu, $lapicon-message, $lapicon-minus, $lapicon-modx, $lapicon-olive, $lapicon-online-shop, $lapicon-opencart, $lapicon-operation, $lapicon-piggy-bank, $lapicon-podium, $lapicon-portfolio, $lapicon-presentation, $lapicon-quotation, $lapicon-radio-checked, $lapicon-radio-unchecked, $lapicon-report, $lapicon-requirement, $lapicon-right-arrow-large, $lapicon-right-arrow, $lapicon-rouble, $lapicon-shopping-cart, $lapicon-shopping, $lapicon-smartphone, $lapicon-spa, $lapicon-speedometer, $lapicon-ssl-certificate, $lapicon-st, $lapicon-st1, $lapicon-st2, $lapicon-st3, $lapicon-st4, $lapicon-star-large, $lapicon-star, $lapicon-stopwatch-2, $lapicon-stopwatch, $lapicon-superman, $lapicon-target-arrow, $lapicon-target-center, $lapicon-target, $lapicon-technical-support, $lapicon-telegram, $lapicon-test, $lapicon-text, $lapicon-viber, $lapicon-vk-messenger, $lapicon-web-design, $lapicon-whatsapp, $lapicon-wordpress, $lapicon-www, $lapicon-yii, );
$spritesheet: (1190px, 1052px, 'images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
