// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$lapicon-1c-bitrix-name: 'lapicon-1c-bitrix';
$lapicon-1c-bitrix-x: 194px;
$lapicon-1c-bitrix-y: 856px;
$lapicon-1c-bitrix-offset-x: -194px;
$lapicon-1c-bitrix-offset-y: -856px;
$lapicon-1c-bitrix-width: 96px;
$lapicon-1c-bitrix-height: 96px;
$lapicon-1c-bitrix-total-width: 1172px;
$lapicon-1c-bitrix-total-height: 1144px;
$lapicon-1c-bitrix-image: 'images/sprite.png';
$lapicon-1c-bitrix: (194px, 856px, -194px, -856px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-1c-bitrix', );
$lapicon-active-search-name: 'lapicon-active-search';
$lapicon-active-search-x: 1083px;
$lapicon-active-search-y: 98px;
$lapicon-active-search-offset-x: -1083px;
$lapicon-active-search-offset-y: -98px;
$lapicon-active-search-width: 87px;
$lapicon-active-search-height: 98px;
$lapicon-active-search-total-width: 1172px;
$lapicon-active-search-total-height: 1144px;
$lapicon-active-search-image: 'images/sprite.png';
$lapicon-active-search: (1083px, 98px, -1083px, -98px, 87px, 98px, 1172px, 1144px, 'images/sprite.png', 'lapicon-active-search', );
$lapicon-analytics-desktop-name: 'lapicon-analytics-desktop';
$lapicon-analytics-desktop-x: 551px;
$lapicon-analytics-desktop-y: 398px;
$lapicon-analytics-desktop-offset-x: -551px;
$lapicon-analytics-desktop-offset-y: -398px;
$lapicon-analytics-desktop-width: 128px;
$lapicon-analytics-desktop-height: 128px;
$lapicon-analytics-desktop-total-width: 1172px;
$lapicon-analytics-desktop-total-height: 1144px;
$lapicon-analytics-desktop-image: 'images/sprite.png';
$lapicon-analytics-desktop: (551px, 398px, -551px, -398px, 128px, 128px, 1172px, 1144px, 'images/sprite.png', 'lapicon-analytics-desktop', );
$lapicon-analytics-name: 'lapicon-analytics';
$lapicon-analytics-x: 1083px;
$lapicon-analytics-y: 984px;
$lapicon-analytics-offset-x: -1083px;
$lapicon-analytics-offset-y: -984px;
$lapicon-analytics-width: 64px;
$lapicon-analytics-height: 64px;
$lapicon-analytics-total-width: 1172px;
$lapicon-analytics-total-height: 1144px;
$lapicon-analytics-image: 'images/sprite.png';
$lapicon-analytics: (1083px, 984px, -1083px, -984px, 64px, 64px, 1172px, 1144px, 'images/sprite.png', 'lapicon-analytics', );
$lapicon-audit-name: 'lapicon-audit';
$lapicon-audit-x: 987px;
$lapicon-audit-y: 864px;
$lapicon-audit-offset-x: -987px;
$lapicon-audit-offset-y: -864px;
$lapicon-audit-width: 94px;
$lapicon-audit-height: 89px;
$lapicon-audit-total-width: 1172px;
$lapicon-audit-total-height: 1144px;
$lapicon-audit-image: 'images/sprite.png';
$lapicon-audit: (987px, 864px, -987px, -864px, 94px, 89px, 1172px, 1144px, 'images/sprite.png', 'lapicon-audit', );
$lapicon-bar-chart-name: 'lapicon-bar-chart';
$lapicon-bar-chart-x: 188px;
$lapicon-bar-chart-y: 673px;
$lapicon-bar-chart-offset-x: -188px;
$lapicon-bar-chart-offset-y: -673px;
$lapicon-bar-chart-width: 64px;
$lapicon-bar-chart-height: 64px;
$lapicon-bar-chart-total-width: 1172px;
$lapicon-bar-chart-total-height: 1144px;
$lapicon-bar-chart-image: 'images/sprite.png';
$lapicon-bar-chart: (188px, 673px, -188px, -673px, 64px, 64px, 1172px, 1144px, 'images/sprite.png', 'lapicon-bar-chart', );
$lapicon-bitrix-full-name: 'lapicon-bitrix-full';
$lapicon-bitrix-full-x: 551px;
$lapicon-bitrix-full-y: 168px;
$lapicon-bitrix-full-offset-x: -551px;
$lapicon-bitrix-full-offset-y: -168px;
$lapicon-bitrix-full-width: 180px;
$lapicon-bitrix-full-height: 124px;
$lapicon-bitrix-full-total-width: 1172px;
$lapicon-bitrix-full-total-height: 1144px;
$lapicon-bitrix-full-image: 'images/sprite.png';
$lapicon-bitrix-full: (551px, 168px, -551px, -168px, 180px, 124px, 1172px, 1144px, 'images/sprite.png', 'lapicon-bitrix-full', );
$lapicon-bullseye-name: 'lapicon-bullseye';
$lapicon-bullseye-x: 1083px;
$lapicon-bullseye-y: 641px;
$lapicon-bullseye-offset-x: -1083px;
$lapicon-bullseye-offset-y: -641px;
$lapicon-bullseye-width: 86px;
$lapicon-bullseye-height: 86px;
$lapicon-bullseye-total-width: 1172px;
$lapicon-bullseye-total-height: 1144px;
$lapicon-bullseye-image: 'images/sprite.png';
$lapicon-bullseye: (1083px, 641px, -1083px, -641px, 86px, 86px, 1172px, 1144px, 'images/sprite.png', 'lapicon-bullseye', );
$lapicon-business-website-name: 'lapicon-business-website';
$lapicon-business-website-x: 640px;
$lapicon-business-website-y: 545px;
$lapicon-business-website-offset-x: -640px;
$lapicon-business-website-offset-y: -545px;
$lapicon-business-website-width: 99px;
$lapicon-business-website-height: 103px;
$lapicon-business-website-total-width: 1172px;
$lapicon-business-website-total-height: 1144px;
$lapicon-business-website-image: 'images/sprite.png';
$lapicon-business-website: (640px, 545px, -640px, -545px, 99px, 103px, 1172px, 1144px, 'images/sprite.png', 'lapicon-business-website', );
$lapicon-business-name: 'lapicon-business';
$lapicon-business-x: 0px;
$lapicon-business-y: 753px;
$lapicon-business-offset-x: 0px;
$lapicon-business-offset-y: -753px;
$lapicon-business-width: 99px;
$lapicon-business-height: 103px;
$lapicon-business-total-width: 1172px;
$lapicon-business-total-height: 1144px;
$lapicon-business-image: 'images/sprite.png';
$lapicon-business: (0px, 753px, 0px, -753px, 99px, 103px, 1172px, 1144px, 'images/sprite.png', 'lapicon-business', );
$lapicon-calendar-name: 'lapicon-calendar';
$lapicon-calendar-x: 679px;
$lapicon-calendar-y: 458px;
$lapicon-calendar-offset-x: -679px;
$lapicon-calendar-offset-y: -458px;
$lapicon-calendar-width: 23px;
$lapicon-calendar-height: 25px;
$lapicon-calendar-total-width: 1172px;
$lapicon-calendar-total-height: 1144px;
$lapicon-calendar-image: 'images/sprite.png';
$lapicon-calendar: (679px, 458px, -679px, -458px, 23px, 25px, 1172px, 1144px, 'images/sprite.png', 'lapicon-calendar', );
$lapicon-call-large-name: 'lapicon-call-large';
$lapicon-call-large-x: 1083px;
$lapicon-call-large-y: 465px;
$lapicon-call-large-offset-x: -1083px;
$lapicon-call-large-offset-y: -465px;
$lapicon-call-large-width: 88px;
$lapicon-call-large-height: 88px;
$lapicon-call-large-total-width: 1172px;
$lapicon-call-large-total-height: 1144px;
$lapicon-call-large-image: 'images/sprite.png';
$lapicon-call-large: (1083px, 465px, -1083px, -465px, 88px, 88px, 1172px, 1144px, 'images/sprite.png', 'lapicon-call-large', );
$lapicon-call-white-name: 'lapicon-call-white';
$lapicon-call-white-x: 1147px;
$lapicon-call-white-y: 1009px;
$lapicon-call-white-offset-x: -1147px;
$lapicon-call-white-offset-y: -1009px;
$lapicon-call-white-width: 24px;
$lapicon-call-white-height: 24px;
$lapicon-call-white-total-width: 1172px;
$lapicon-call-white-total-height: 1144px;
$lapicon-call-white-image: 'images/sprite.png';
$lapicon-call-white: (1147px, 1009px, -1147px, -1009px, 24px, 24px, 1172px, 1144px, 'images/sprite.png', 'lapicon-call-white', );
$lapicon-call-name: 'lapicon-call';
$lapicon-call-x: 962px;
$lapicon-call-y: 715px;
$lapicon-call-offset-x: -962px;
$lapicon-call-offset-y: -715px;
$lapicon-call-width: 24px;
$lapicon-call-height: 24px;
$lapicon-call-total-width: 1172px;
$lapicon-call-total-height: 1144px;
$lapicon-call-image: 'images/sprite.png';
$lapicon-call: (962px, 715px, -962px, -715px, 24px, 24px, 1172px, 1144px, 'images/sprite.png', 'lapicon-call', );
$lapicon-chat-name: 'lapicon-chat';
$lapicon-chat-x: 1083px;
$lapicon-chat-y: 285px;
$lapicon-chat-offset-x: -1083px;
$lapicon-chat-offset-y: -285px;
$lapicon-chat-width: 88px;
$lapicon-chat-height: 90px;
$lapicon-chat-total-width: 1172px;
$lapicon-chat-total-height: 1144px;
$lapicon-chat-image: 'images/sprite.png';
$lapicon-chat: (1083px, 285px, -1083px, -285px, 88px, 90px, 1172px, 1144px, 'images/sprite.png', 'lapicon-chat', );
$lapicon-chat2-name: 'lapicon-chat2';
$lapicon-chat2-x: 739px;
$lapicon-chat2-y: 384px;
$lapicon-chat2-offset-x: -739px;
$lapicon-chat2-offset-y: -384px;
$lapicon-chat2-width: 120px;
$lapicon-chat2-height: 120px;
$lapicon-chat2-total-width: 1172px;
$lapicon-chat2-total-height: 1144px;
$lapicon-chat2-image: 'images/sprite.png';
$lapicon-chat2: (739px, 384px, -739px, -384px, 120px, 120px, 1172px, 1144px, 'images/sprite.png', 'lapicon-chat2', );
$lapicon-check-mark-name: 'lapicon-check-mark';
$lapicon-check-mark-x: 551px;
$lapicon-check-mark-y: 526px;
$lapicon-check-mark-offset-x: -551px;
$lapicon-check-mark-offset-y: -526px;
$lapicon-check-mark-width: 20px;
$lapicon-check-mark-height: 18px;
$lapicon-check-mark-total-width: 1172px;
$lapicon-check-mark-total-height: 1144px;
$lapicon-check-mark-image: 'images/sprite.png';
$lapicon-check-mark: (551px, 526px, -551px, -526px, 20px, 18px, 1172px, 1144px, 'images/sprite.png', 'lapicon-check-mark', );
$lapicon-checkbox-checked-name: 'lapicon-checkbox-checked';
$lapicon-checkbox-checked-x: 702px;
$lapicon-checkbox-checked-y: 458px;
$lapicon-checkbox-checked-offset-x: -702px;
$lapicon-checkbox-checked-offset-y: -458px;
$lapicon-checkbox-checked-width: 20px;
$lapicon-checkbox-checked-height: 20px;
$lapicon-checkbox-checked-total-width: 1172px;
$lapicon-checkbox-checked-total-height: 1144px;
$lapicon-checkbox-checked-image: 'images/sprite.png';
$lapicon-checkbox-checked: (702px, 458px, -702px, -458px, 20px, 20px, 1172px, 1144px, 'images/sprite.png', 'lapicon-checkbox-checked', );
$lapicon-checkbox-unchecked-name: 'lapicon-checkbox-unchecked';
$lapicon-checkbox-unchecked-x: 679px;
$lapicon-checkbox-unchecked-y: 483px;
$lapicon-checkbox-unchecked-offset-x: -679px;
$lapicon-checkbox-unchecked-offset-y: -483px;
$lapicon-checkbox-unchecked-width: 20px;
$lapicon-checkbox-unchecked-height: 20px;
$lapicon-checkbox-unchecked-total-width: 1172px;
$lapicon-checkbox-unchecked-total-height: 1144px;
$lapicon-checkbox-unchecked-image: 'images/sprite.png';
$lapicon-checkbox-unchecked: (679px, 483px, -679px, -483px, 20px, 20px, 1172px, 1144px, 'images/sprite.png', 'lapicon-checkbox-unchecked', );
$lapicon-checklist-name: 'lapicon-checklist';
$lapicon-checklist-x: 252px;
$lapicon-checklist-y: 673px;
$lapicon-checklist-offset-x: -252px;
$lapicon-checklist-offset-y: -673px;
$lapicon-checklist-width: 64px;
$lapicon-checklist-height: 64px;
$lapicon-checklist-total-width: 1172px;
$lapicon-checklist-total-height: 1144px;
$lapicon-checklist-image: 'images/sprite.png';
$lapicon-checklist: (252px, 673px, -252px, -673px, 64px, 64px, 1172px, 1144px, 'images/sprite.png', 'lapicon-checklist', );
$lapicon-close-name: 'lapicon-close';
$lapicon-close-x: 783px;
$lapicon-close-y: 624px;
$lapicon-close-offset-x: -783px;
$lapicon-close-offset-y: -624px;
$lapicon-close-width: 40px;
$lapicon-close-height: 40px;
$lapicon-close-total-width: 1172px;
$lapicon-close-total-height: 1144px;
$lapicon-close-image: 'images/sprite.png';
$lapicon-close: (783px, 624px, -783px, -624px, 40px, 40px, 1172px, 1144px, 'images/sprite.png', 'lapicon-close', );
$lapicon-consulting-name: 'lapicon-consulting';
$lapicon-consulting-x: 1083px;
$lapicon-consulting-y: 0px;
$lapicon-consulting-offset-x: -1083px;
$lapicon-consulting-offset-y: 0px;
$lapicon-consulting-width: 89px;
$lapicon-consulting-height: 98px;
$lapicon-consulting-total-width: 1172px;
$lapicon-consulting-total-height: 1144px;
$lapicon-consulting-image: 'images/sprite.png';
$lapicon-consulting: (1083px, 0px, -1083px, 0px, 89px, 98px, 1172px, 1144px, 'images/sprite.png', 'lapicon-consulting', );
$lapicon-customer-service-name: 'lapicon-customer-service';
$lapicon-customer-service-x: 1083px;
$lapicon-customer-service-y: 553px;
$lapicon-customer-service-offset-x: -1083px;
$lapicon-customer-service-offset-y: -553px;
$lapicon-customer-service-width: 88px;
$lapicon-customer-service-height: 88px;
$lapicon-customer-service-total-width: 1172px;
$lapicon-customer-service-total-height: 1144px;
$lapicon-customer-service-image: 'images/sprite.png';
$lapicon-customer-service: (1083px, 553px, -1083px, -553px, 88px, 88px, 1172px, 1144px, 'images/sprite.png', 'lapicon-customer-service', );
$lapicon-customer-support-name: 'lapicon-customer-support';
$lapicon-customer-support-x: 0px;
$lapicon-customer-support-y: 856px;
$lapicon-customer-support-offset-x: 0px;
$lapicon-customer-support-offset-y: -856px;
$lapicon-customer-support-width: 97px;
$lapicon-customer-support-height: 97px;
$lapicon-customer-support-total-width: 1172px;
$lapicon-customer-support-total-height: 1144px;
$lapicon-customer-support-image: 'images/sprite.png';
$lapicon-customer-support: (0px, 856px, 0px, -856px, 97px, 97px, 1172px, 1144px, 'images/sprite.png', 'lapicon-customer-support', );
$lapicon-deadline-name: 'lapicon-deadline';
$lapicon-deadline-x: 444px;
$lapicon-deadline-y: 392px;
$lapicon-deadline-offset-x: -444px;
$lapicon-deadline-offset-y: -392px;
$lapicon-deadline-width: 95px;
$lapicon-deadline-height: 111px;
$lapicon-deadline-total-width: 1172px;
$lapicon-deadline-total-height: 1144px;
$lapicon-deadline-image: 'images/sprite.png';
$lapicon-deadline: (444px, 392px, -444px, -392px, 95px, 111px, 1172px, 1144px, 'images/sprite.png', 'lapicon-deadline', );
$lapicon-debt-name: 'lapicon-debt';
$lapicon-debt-x: 290px;
$lapicon-debt-y: 856px;
$lapicon-debt-offset-x: -290px;
$lapicon-debt-offset-y: -856px;
$lapicon-debt-width: 96px;
$lapicon-debt-height: 96px;
$lapicon-debt-total-width: 1172px;
$lapicon-debt-total-height: 1144px;
$lapicon-debt-image: 'images/sprite.png';
$lapicon-debt: (290px, 856px, -290px, -856px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-debt', );
$lapicon-delivery-truck-name: 'lapicon-delivery-truck';
$lapicon-delivery-truck-x: 386px;
$lapicon-delivery-truck-y: 856px;
$lapicon-delivery-truck-offset-x: -386px;
$lapicon-delivery-truck-offset-y: -856px;
$lapicon-delivery-truck-width: 96px;
$lapicon-delivery-truck-height: 96px;
$lapicon-delivery-truck-total-width: 1172px;
$lapicon-delivery-truck-total-height: 1144px;
$lapicon-delivery-truck-image: 'images/sprite.png';
$lapicon-delivery-truck: (386px, 856px, -386px, -856px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-delivery-truck', );
$lapicon-development-name: 'lapicon-development';
$lapicon-development-x: 188px;
$lapicon-development-y: 392px;
$lapicon-development-offset-x: -188px;
$lapicon-development-offset-y: -392px;
$lapicon-development-width: 128px;
$lapicon-development-height: 128px;
$lapicon-development-total-width: 1172px;
$lapicon-development-total-height: 1144px;
$lapicon-development-image: 'images/sprite.png';
$lapicon-development: (188px, 392px, -188px, -392px, 128px, 128px, 1172px, 1144px, 'images/sprite.png', 'lapicon-development', );
$lapicon-diagram-name: 'lapicon-diagram';
$lapicon-diagram-x: 196px;
$lapicon-diagram-y: 753px;
$lapicon-diagram-offset-x: -196px;
$lapicon-diagram-offset-y: -753px;
$lapicon-diagram-width: 98px;
$lapicon-diagram-height: 98px;
$lapicon-diagram-total-width: 1172px;
$lapicon-diagram-total-height: 1144px;
$lapicon-diagram-image: 'images/sprite.png';
$lapicon-diagram: (196px, 753px, -196px, -753px, 98px, 98px, 1172px, 1144px, 'images/sprite.png', 'lapicon-diagram', );
$lapicon-disable-name: 'lapicon-disable';
$lapicon-disable-x: 709px;
$lapicon-disable-y: 321px;
$lapicon-disable-offset-x: -709px;
$lapicon-disable-offset-y: -321px;
$lapicon-disable-width: 24px;
$lapicon-disable-height: 24px;
$lapicon-disable-total-width: 1172px;
$lapicon-disable-total-height: 1144px;
$lapicon-disable-image: 'images/sprite.png';
$lapicon-disable: (709px, 321px, -709px, -321px, 24px, 24px, 1172px, 1144px, 'images/sprite.png', 'lapicon-disable', );
$lapicon-drupal-name: 'lapicon-drupal';
$lapicon-drupal-x: 482px;
$lapicon-drupal-y: 856px;
$lapicon-drupal-offset-x: -482px;
$lapicon-drupal-offset-y: -856px;
$lapicon-drupal-width: 96px;
$lapicon-drupal-height: 96px;
$lapicon-drupal-total-width: 1172px;
$lapicon-drupal-total-height: 1144px;
$lapicon-drupal-image: 'images/sprite.png';
$lapicon-drupal: (482px, 856px, -482px, -856px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-drupal', );
$lapicon-email-name: 'lapicon-email';
$lapicon-email-x: 1083px;
$lapicon-email-y: 727px;
$lapicon-email-offset-x: -1083px;
$lapicon-email-offset-y: -727px;
$lapicon-email-width: 86px;
$lapicon-email-height: 86px;
$lapicon-email-total-width: 1172px;
$lapicon-email-total-height: 1144px;
$lapicon-email-image: 'images/sprite.png';
$lapicon-email: (1083px, 727px, -1083px, -727px, 86px, 86px, 1172px, 1144px, 'images/sprite.png', 'lapicon-email', );
$lapicon-enable-white-name: 'lapicon-enable-white';
$lapicon-enable-white-x: 709px;
$lapicon-enable-white-y: 345px;
$lapicon-enable-white-offset-x: -709px;
$lapicon-enable-white-offset-y: -345px;
$lapicon-enable-white-width: 24px;
$lapicon-enable-white-height: 24px;
$lapicon-enable-white-total-width: 1172px;
$lapicon-enable-white-total-height: 1144px;
$lapicon-enable-white-image: 'images/sprite.png';
$lapicon-enable-white: (709px, 345px, -709px, -345px, 24px, 24px, 1172px, 1144px, 'images/sprite.png', 'lapicon-enable-white', );
$lapicon-enable-name: 'lapicon-enable';
$lapicon-enable-x: 709px;
$lapicon-enable-y: 369px;
$lapicon-enable-offset-x: -709px;
$lapicon-enable-offset-y: -369px;
$lapicon-enable-width: 24px;
$lapicon-enable-height: 24px;
$lapicon-enable-total-width: 1172px;
$lapicon-enable-total-height: 1144px;
$lapicon-enable-image: 'images/sprite.png';
$lapicon-enable: (709px, 369px, -709px, -369px, 24px, 24px, 1172px, 1144px, 'images/sprite.png', 'lapicon-enable', );
$lapicon-facebook-name: 'lapicon-facebook';
$lapicon-facebook-x: 578px;
$lapicon-facebook-y: 856px;
$lapicon-facebook-offset-x: -578px;
$lapicon-facebook-offset-y: -856px;
$lapicon-facebook-width: 96px;
$lapicon-facebook-height: 96px;
$lapicon-facebook-total-width: 1172px;
$lapicon-facebook-total-height: 1144px;
$lapicon-facebook-image: 'images/sprite.png';
$lapicon-facebook: (578px, 856px, -578px, -856px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-facebook', );
$lapicon-faq-name: 'lapicon-faq';
$lapicon-faq-x: 1083px;
$lapicon-faq-y: 375px;
$lapicon-faq-offset-x: -1083px;
$lapicon-faq-offset-y: -375px;
$lapicon-faq-width: 88px;
$lapicon-faq-height: 90px;
$lapicon-faq-total-width: 1172px;
$lapicon-faq-total-height: 1144px;
$lapicon-faq-image: 'images/sprite.png';
$lapicon-faq: (1083px, 375px, -1083px, -375px, 88px, 90px, 1172px, 1144px, 'images/sprite.png', 'lapicon-faq', );
$lapicon-file-name: 'lapicon-file';
$lapicon-file-x: 465px;
$lapicon-file-y: 953px;
$lapicon-file-offset-x: -465px;
$lapicon-file-offset-y: -953px;
$lapicon-file-width: 71px;
$lapicon-file-height: 89px;
$lapicon-file-total-width: 1172px;
$lapicon-file-total-height: 1144px;
$lapicon-file-image: 'images/sprite.png';
$lapicon-file: (465px, 953px, -465px, -953px, 71px, 89px, 1172px, 1144px, 'images/sprite.png', 'lapicon-file', );
$lapicon-fire-name: 'lapicon-fire';
$lapicon-fire-x: 316px;
$lapicon-fire-y: 392px;
$lapicon-fire-offset-x: -316px;
$lapicon-fire-offset-y: -392px;
$lapicon-fire-width: 128px;
$lapicon-fire-height: 128px;
$lapicon-fire-total-width: 1172px;
$lapicon-fire-total-height: 1144px;
$lapicon-fire-image: 'images/sprite.png';
$lapicon-fire: (316px, 392px, -316px, -392px, 128px, 128px, 1172px, 1144px, 'images/sprite.png', 'lapicon-fire', );
$lapicon-gear-name: 'lapicon-gear';
$lapicon-gear-x: 1083px;
$lapicon-gear-y: 899px;
$lapicon-gear-offset-x: -1083px;
$lapicon-gear-offset-y: -899px;
$lapicon-gear-width: 85px;
$lapicon-gear-height: 85px;
$lapicon-gear-total-width: 1172px;
$lapicon-gear-total-height: 1144px;
$lapicon-gear-image: 'images/sprite.png';
$lapicon-gear: (1083px, 899px, -1083px, -899px, 85px, 85px, 1172px, 1144px, 'images/sprite.png', 'lapicon-gear', );
$lapicon-gym-name: 'lapicon-gym';
$lapicon-gym-x: 674px;
$lapicon-gym-y: 856px;
$lapicon-gym-offset-x: -674px;
$lapicon-gym-offset-y: -856px;
$lapicon-gym-width: 96px;
$lapicon-gym-height: 96px;
$lapicon-gym-total-width: 1172px;
$lapicon-gym-total-height: 1144px;
$lapicon-gym-image: 'images/sprite.png';
$lapicon-gym: (674px, 856px, -674px, -856px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-gym', );
$lapicon-high-five-name: 'lapicon-high-five';
$lapicon-high-five-x: 97px;
$lapicon-high-five-y: 856px;
$lapicon-high-five-offset-x: -97px;
$lapicon-high-five-offset-y: -856px;
$lapicon-high-five-width: 97px;
$lapicon-high-five-height: 97px;
$lapicon-high-five-total-width: 1172px;
$lapicon-high-five-total-height: 1144px;
$lapicon-high-five-image: 'images/sprite.png';
$lapicon-high-five: (97px, 856px, -97px, -856px, 97px, 97px, 1172px, 1144px, 'images/sprite.png', 'lapicon-high-five', );
$lapicon-human-resources-name: 'lapicon-human-resources';
$lapicon-human-resources-x: 1083px;
$lapicon-human-resources-y: 813px;
$lapicon-human-resources-offset-x: -1083px;
$lapicon-human-resources-offset-y: -813px;
$lapicon-human-resources-width: 86px;
$lapicon-human-resources-height: 86px;
$lapicon-human-resources-total-width: 1172px;
$lapicon-human-resources-total-height: 1144px;
$lapicon-human-resources-image: 'images/sprite.png';
$lapicon-human-resources: (1083px, 813px, -1083px, -813px, 86px, 86px, 1172px, 1144px, 'images/sprite.png', 'lapicon-human-resources', );
$lapicon-icon-circle-facebook-name: 'lapicon-icon-circle-facebook';
$lapicon-icon-circle-facebook-x: 699px;
$lapicon-icon-circle-facebook-y: 483px;
$lapicon-icon-circle-facebook-offset-x: -699px;
$lapicon-icon-circle-facebook-offset-y: -483px;
$lapicon-icon-circle-facebook-width: 20px;
$lapicon-icon-circle-facebook-height: 20px;
$lapicon-icon-circle-facebook-total-width: 1172px;
$lapicon-icon-circle-facebook-total-height: 1144px;
$lapicon-icon-circle-facebook-image: 'images/sprite.png';
$lapicon-icon-circle-facebook: (699px, 483px, -699px, -483px, 20px, 20px, 1172px, 1144px, 'images/sprite.png', 'lapicon-icon-circle-facebook', );
$lapicon-icon-circle-instagram-name: 'lapicon-icon-circle-instagram';
$lapicon-icon-circle-instagram-x: 719px;
$lapicon-icon-circle-instagram-y: 483px;
$lapicon-icon-circle-instagram-offset-x: -719px;
$lapicon-icon-circle-instagram-offset-y: -483px;
$lapicon-icon-circle-instagram-width: 20px;
$lapicon-icon-circle-instagram-height: 20px;
$lapicon-icon-circle-instagram-total-width: 1172px;
$lapicon-icon-circle-instagram-total-height: 1144px;
$lapicon-icon-circle-instagram-image: 'images/sprite.png';
$lapicon-icon-circle-instagram: (719px, 483px, -719px, -483px, 20px, 20px, 1172px, 1144px, 'images/sprite.png', 'lapicon-icon-circle-instagram', );
$lapicon-icon-circle-telegram-name: 'lapicon-icon-circle-telegram';
$lapicon-icon-circle-telegram-x: 679px;
$lapicon-icon-circle-telegram-y: 503px;
$lapicon-icon-circle-telegram-offset-x: -679px;
$lapicon-icon-circle-telegram-offset-y: -503px;
$lapicon-icon-circle-telegram-width: 20px;
$lapicon-icon-circle-telegram-height: 20px;
$lapicon-icon-circle-telegram-total-width: 1172px;
$lapicon-icon-circle-telegram-total-height: 1144px;
$lapicon-icon-circle-telegram-image: 'images/sprite.png';
$lapicon-icon-circle-telegram: (679px, 503px, -679px, -503px, 20px, 20px, 1172px, 1144px, 'images/sprite.png', 'lapicon-icon-circle-telegram', );
$lapicon-icon-circle-vk-name: 'lapicon-icon-circle-vk';
$lapicon-icon-circle-vk-x: 699px;
$lapicon-icon-circle-vk-y: 503px;
$lapicon-icon-circle-vk-offset-x: -699px;
$lapicon-icon-circle-vk-offset-y: -503px;
$lapicon-icon-circle-vk-width: 20px;
$lapicon-icon-circle-vk-height: 20px;
$lapicon-icon-circle-vk-total-width: 1172px;
$lapicon-icon-circle-vk-total-height: 1144px;
$lapicon-icon-circle-vk-image: 'images/sprite.png';
$lapicon-icon-circle-vk: (699px, 503px, -699px, -503px, 20px, 20px, 1172px, 1144px, 'images/sprite.png', 'lapicon-icon-circle-vk', );
$lapicon-info-icon-name: 'lapicon-info-icon';
$lapicon-info-icon-x: 709px;
$lapicon-info-icon-y: 292px;
$lapicon-info-icon-offset-x: -709px;
$lapicon-info-icon-offset-y: -292px;
$lapicon-info-icon-width: 29px;
$lapicon-info-icon-height: 29px;
$lapicon-info-icon-total-width: 1172px;
$lapicon-info-icon-total-height: 1144px;
$lapicon-info-icon-image: 'images/sprite.png';
$lapicon-info-icon: (709px, 292px, -709px, -292px, 29px, 29px, 1172px, 1144px, 'images/sprite.png', 'lapicon-info-icon', );
$lapicon-landing-page-name: 'lapicon-landing-page';
$lapicon-landing-page-x: 0px;
$lapicon-landing-page-y: 1051px;
$lapicon-landing-page-offset-x: 0px;
$lapicon-landing-page-offset-y: -1051px;
$lapicon-landing-page-width: 75px;
$lapicon-landing-page-height: 93px;
$lapicon-landing-page-total-width: 1172px;
$lapicon-landing-page-total-height: 1144px;
$lapicon-landing-page-image: 'images/sprite.png';
$lapicon-landing-page: (0px, 1051px, 0px, -1051px, 75px, 93px, 1172px, 1144px, 'images/sprite.png', 'lapicon-landing-page', );
$lapicon-laravel-name: 'lapicon-laravel';
$lapicon-laravel-x: 188px;
$lapicon-laravel-y: 953px;
$lapicon-laravel-offset-x: -188px;
$lapicon-laravel-offset-y: -953px;
$lapicon-laravel-width: 93px;
$lapicon-laravel-height: 96px;
$lapicon-laravel-total-width: 1172px;
$lapicon-laravel-total-height: 1144px;
$lapicon-laravel-image: 'images/sprite.png';
$lapicon-laravel: (188px, 953px, -188px, -953px, 93px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-laravel', );
$lapicon-launch-name: 'lapicon-launch';
$lapicon-launch-x: 0px;
$lapicon-launch-y: 545px;
$lapicon-launch-offset-x: 0px;
$lapicon-launch-offset-y: -545px;
$lapicon-launch-width: 128px;
$lapicon-launch-height: 128px;
$lapicon-launch-total-width: 1172px;
$lapicon-launch-total-height: 1144px;
$lapicon-launch-image: 'images/sprite.png';
$lapicon-launch: (0px, 545px, 0px, -545px, 128px, 128px, 1172px, 1144px, 'images/sprite.png', 'lapicon-launch', );
$lapicon-layout-name: 'lapicon-layout';
$lapicon-layout-x: 690px;
$lapicon-layout-y: 753px;
$lapicon-layout-offset-x: -690px;
$lapicon-layout-offset-y: -753px;
$lapicon-layout-width: 96px;
$lapicon-layout-height: 84px;
$lapicon-layout-total-width: 1172px;
$lapicon-layout-total-height: 1144px;
$lapicon-layout-image: 'images/sprite.png';
$lapicon-layout: (690px, 753px, -690px, -753px, 96px, 84px, 1172px, 1144px, 'images/sprite.png', 'lapicon-layout', );
$lapicon-learning-name: 'lapicon-learning';
$lapicon-learning-x: 739px;
$lapicon-learning-y: 504px;
$lapicon-learning-offset-x: -739px;
$lapicon-learning-offset-y: -504px;
$lapicon-learning-width: 120px;
$lapicon-learning-height: 120px;
$lapicon-learning-total-width: 1172px;
$lapicon-learning-total-height: 1144px;
$lapicon-learning-image: 'images/sprite.png';
$lapicon-learning: (739px, 504px, -739px, -504px, 120px, 120px, 1172px, 1144px, 'images/sprite.png', 'lapicon-learning', );
$lapicon-left-arror-name: 'lapicon-left-arror';
$lapicon-left-arror-x: 867px;
$lapicon-left-arror-y: 715px;
$lapicon-left-arror-offset-x: -867px;
$lapicon-left-arror-offset-y: -715px;
$lapicon-left-arror-width: 32px;
$lapicon-left-arror-height: 32px;
$lapicon-left-arror-total-width: 1172px;
$lapicon-left-arror-total-height: 1144px;
$lapicon-left-arror-image: 'images/sprite.png';
$lapicon-left-arror: (867px, 715px, -867px, -715px, 32px, 32px, 1172px, 1144px, 'images/sprite.png', 'lapicon-left-arror', );
$lapicon-left-arrow-large-name: 'lapicon-left-arrow-large';
$lapicon-left-arrow-large-x: 128px;
$lapicon-left-arrow-large-y: 545px;
$lapicon-left-arrow-large-offset-x: -128px;
$lapicon-left-arrow-large-offset-y: -545px;
$lapicon-left-arrow-large-width: 128px;
$lapicon-left-arrow-large-height: 128px;
$lapicon-left-arrow-large-total-width: 1172px;
$lapicon-left-arrow-large-total-height: 1144px;
$lapicon-left-arrow-large-image: 'images/sprite.png';
$lapicon-left-arrow-large: (128px, 545px, -128px, -545px, 128px, 128px, 1172px, 1144px, 'images/sprite.png', 'lapicon-left-arrow-large', );
$lapicon-location-map-name: 'lapicon-location-map';
$lapicon-location-map-x: 374px;
$lapicon-location-map-y: 953px;
$lapicon-location-map-offset-x: -374px;
$lapicon-location-map-offset-y: -953px;
$lapicon-location-map-width: 91px;
$lapicon-location-map-height: 89px;
$lapicon-location-map-total-width: 1172px;
$lapicon-location-map-total-height: 1144px;
$lapicon-location-map-image: 'images/sprite.png';
$lapicon-location-map: (374px, 953px, -374px, -953px, 91px, 89px, 1172px, 1144px, 'images/sprite.png', 'lapicon-location-map', );
$lapicon-location-white-name: 'lapicon-location-white';
$lapicon-location-white-x: 188px;
$lapicon-location-white-y: 520px;
$lapicon-location-white-offset-x: -188px;
$lapicon-location-white-offset-y: -520px;
$lapicon-location-white-width: 17px;
$lapicon-location-white-height: 21px;
$lapicon-location-white-total-width: 1172px;
$lapicon-location-white-total-height: 1144px;
$lapicon-location-white-image: 'images/sprite.png';
$lapicon-location-white: (188px, 520px, -188px, -520px, 17px, 21px, 1172px, 1144px, 'images/sprite.png', 'lapicon-location-white', );
$lapicon-location-name: 'lapicon-location';
$lapicon-location-x: 205px;
$lapicon-location-y: 520px;
$lapicon-location-offset-x: -205px;
$lapicon-location-offset-y: -520px;
$lapicon-location-width: 17px;
$lapicon-location-height: 21px;
$lapicon-location-total-width: 1172px;
$lapicon-location-total-height: 1144px;
$lapicon-location-image: 'images/sprite.png';
$lapicon-location: (205px, 520px, -205px, -520px, 17px, 21px, 1172px, 1144px, 'images/sprite.png', 'lapicon-location', );
$lapicon-logo-sm-name: 'lapicon-logo-sm';
$lapicon-logo-sm-x: 867px;
$lapicon-logo-sm-y: 0px;
$lapicon-logo-sm-offset-x: -867px;
$lapicon-logo-sm-offset-y: 0px;
$lapicon-logo-sm-width: 120px;
$lapicon-logo-sm-height: 120px;
$lapicon-logo-sm-total-width: 1172px;
$lapicon-logo-sm-total-height: 1144px;
$lapicon-logo-sm-image: 'images/sprite.png';
$lapicon-logo-sm: (867px, 0px, -867px, 0px, 120px, 120px, 1172px, 1144px, 'images/sprite.png', 'lapicon-logo-sm', );
$lapicon-logo-small-name: 'lapicon-logo-small';
$lapicon-logo-small-x: 679px;
$lapicon-logo-small-y: 398px;
$lapicon-logo-small-offset-x: -679px;
$lapicon-logo-small-offset-y: -398px;
$lapicon-logo-small-width: 60px;
$lapicon-logo-small-height: 60px;
$lapicon-logo-small-total-width: 1172px;
$lapicon-logo-small-total-height: 1144px;
$lapicon-logo-small-image: 'images/sprite.png';
$lapicon-logo-small: (679px, 398px, -679px, -398px, 60px, 60px, 1172px, 1144px, 'images/sprite.png', 'lapicon-logo-small', );
$lapicon-logo-name: 'lapicon-logo';
$lapicon-logo-x: 188px;
$lapicon-logo-y: 268px;
$lapicon-logo-offset-x: -188px;
$lapicon-logo-offset-y: -268px;
$lapicon-logo-width: 350px;
$lapicon-logo-height: 124px;
$lapicon-logo-total-width: 1172px;
$lapicon-logo-total-height: 1144px;
$lapicon-logo-image: 'images/sprite.png';
$lapicon-logo: (188px, 268px, -188px, -268px, 350px, 124px, 1172px, 1144px, 'images/sprite.png', 'lapicon-logo', );
$lapicon-manager-name: 'lapicon-manager';
$lapicon-manager-x: 1083px;
$lapicon-manager-y: 196px;
$lapicon-manager-offset-x: -1083px;
$lapicon-manager-offset-y: -196px;
$lapicon-manager-width: 89px;
$lapicon-manager-height: 89px;
$lapicon-manager-total-width: 1172px;
$lapicon-manager-total-height: 1144px;
$lapicon-manager-image: 'images/sprite.png';
$lapicon-manager: (1083px, 196px, -1083px, -196px, 89px, 89px, 1172px, 1144px, 'images/sprite.png', 'lapicon-manager', );
$lapicon-menu-name: 'lapicon-menu';
$lapicon-menu-x: 823px;
$lapicon-menu-y: 624px;
$lapicon-menu-offset-x: -823px;
$lapicon-menu-offset-y: -624px;
$lapicon-menu-width: 40px;
$lapicon-menu-height: 40px;
$lapicon-menu-total-width: 1172px;
$lapicon-menu-total-height: 1144px;
$lapicon-menu-image: 'images/sprite.png';
$lapicon-menu: (823px, 624px, -823px, -624px, 40px, 40px, 1172px, 1144px, 'images/sprite.png', 'lapicon-menu', );
$lapicon-message-name: 'lapicon-message';
$lapicon-message-x: 256px;
$lapicon-message-y: 545px;
$lapicon-message-offset-x: -256px;
$lapicon-message-offset-y: -545px;
$lapicon-message-width: 128px;
$lapicon-message-height: 128px;
$lapicon-message-total-width: 1172px;
$lapicon-message-total-height: 1144px;
$lapicon-message-image: 'images/sprite.png';
$lapicon-message: (256px, 545px, -256px, -545px, 128px, 128px, 1172px, 1144px, 'images/sprite.png', 'lapicon-message', );
$lapicon-minus-name: 'lapicon-minus';
$lapicon-minus-x: 1147px;
$lapicon-minus-y: 1033px;
$lapicon-minus-offset-x: -1147px;
$lapicon-minus-offset-y: -1033px;
$lapicon-minus-width: 20px;
$lapicon-minus-height: 7px;
$lapicon-minus-total-width: 1172px;
$lapicon-minus-total-height: 1144px;
$lapicon-minus-image: 'images/sprite.png';
$lapicon-minus: (1147px, 1033px, -1147px, -1033px, 20px, 7px, 1172px, 1144px, 'images/sprite.png', 'lapicon-minus', );
$lapicon-modx-name: 'lapicon-modx';
$lapicon-modx-x: 281px;
$lapicon-modx-y: 953px;
$lapicon-modx-offset-x: -281px;
$lapicon-modx-offset-y: -953px;
$lapicon-modx-width: 93px;
$lapicon-modx-height: 96px;
$lapicon-modx-total-width: 1172px;
$lapicon-modx-total-height: 1144px;
$lapicon-modx-image: 'images/sprite.png';
$lapicon-modx: (281px, 953px, -281px, -953px, 93px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-modx', );
$lapicon-olive-name: 'lapicon-olive';
$lapicon-olive-x: 384px;
$lapicon-olive-y: 545px;
$lapicon-olive-offset-x: -384px;
$lapicon-olive-offset-y: -545px;
$lapicon-olive-width: 128px;
$lapicon-olive-height: 128px;
$lapicon-olive-total-width: 1172px;
$lapicon-olive-total-height: 1144px;
$lapicon-olive-image: 'images/sprite.png';
$lapicon-olive: (384px, 545px, -384px, -545px, 128px, 128px, 1172px, 1144px, 'images/sprite.png', 'lapicon-olive', );
$lapicon-online-shop-name: 'lapicon-online-shop';
$lapicon-online-shop-x: 594px;
$lapicon-online-shop-y: 753px;
$lapicon-online-shop-offset-x: -594px;
$lapicon-online-shop-offset-y: -753px;
$lapicon-online-shop-width: 96px;
$lapicon-online-shop-height: 86px;
$lapicon-online-shop-total-width: 1172px;
$lapicon-online-shop-total-height: 1144px;
$lapicon-online-shop-image: 'images/sprite.png';
$lapicon-online-shop: (594px, 753px, -594px, -753px, 96px, 86px, 1172px, 1144px, 'images/sprite.png', 'lapicon-online-shop', );
$lapicon-opencart-name: 'lapicon-opencart';
$lapicon-opencart-x: 551px;
$lapicon-opencart-y: 292px;
$lapicon-opencart-offset-x: -551px;
$lapicon-opencart-offset-y: -292px;
$lapicon-opencart-width: 158px;
$lapicon-opencart-height: 106px;
$lapicon-opencart-total-width: 1172px;
$lapicon-opencart-total-height: 1144px;
$lapicon-opencart-image: 'images/sprite.png';
$lapicon-opencart: (551px, 292px, -551px, -292px, 158px, 106px, 1172px, 1144px, 'images/sprite.png', 'lapicon-opencart', );
$lapicon-operation-name: 'lapicon-operation';
$lapicon-operation-x: 512px;
$lapicon-operation-y: 545px;
$lapicon-operation-offset-x: -512px;
$lapicon-operation-offset-y: -545px;
$lapicon-operation-width: 128px;
$lapicon-operation-height: 128px;
$lapicon-operation-total-width: 1172px;
$lapicon-operation-total-height: 1144px;
$lapicon-operation-image: 'images/sprite.png';
$lapicon-operation: (512px, 545px, -512px, -545px, 128px, 128px, 1172px, 1144px, 'images/sprite.png', 'lapicon-operation', );
$lapicon-piggy-bank-name: 'lapicon-piggy-bank';
$lapicon-piggy-bank-x: 867px;
$lapicon-piggy-bank-y: 120px;
$lapicon-piggy-bank-offset-x: -867px;
$lapicon-piggy-bank-offset-y: -120px;
$lapicon-piggy-bank-width: 120px;
$lapicon-piggy-bank-height: 120px;
$lapicon-piggy-bank-total-width: 1172px;
$lapicon-piggy-bank-total-height: 1144px;
$lapicon-piggy-bank-image: 'images/sprite.png';
$lapicon-piggy-bank: (867px, 120px, -867px, -120px, 120px, 120px, 1172px, 1144px, 'images/sprite.png', 'lapicon-piggy-bank', );
$lapicon-podium-name: 'lapicon-podium';
$lapicon-podium-x: 316px;
$lapicon-podium-y: 673px;
$lapicon-podium-offset-x: -316px;
$lapicon-podium-offset-y: -673px;
$lapicon-podium-width: 64px;
$lapicon-podium-height: 64px;
$lapicon-podium-total-width: 1172px;
$lapicon-podium-total-height: 1144px;
$lapicon-podium-image: 'images/sprite.png';
$lapicon-podium: (316px, 673px, -316px, -673px, 64px, 64px, 1172px, 1144px, 'images/sprite.png', 'lapicon-podium', );
$lapicon-portfolio-name: 'lapicon-portfolio';
$lapicon-portfolio-x: 536px;
$lapicon-portfolio-y: 953px;
$lapicon-portfolio-offset-x: -536px;
$lapicon-portfolio-offset-y: -953px;
$lapicon-portfolio-width: 68px;
$lapicon-portfolio-height: 85px;
$lapicon-portfolio-total-width: 1172px;
$lapicon-portfolio-total-height: 1144px;
$lapicon-portfolio-image: 'images/sprite.png';
$lapicon-portfolio: (536px, 953px, -536px, -953px, 68px, 85px, 1172px, 1144px, 'images/sprite.png', 'lapicon-portfolio', );
$lapicon-presentation-name: 'lapicon-presentation';
$lapicon-presentation-x: 770px;
$lapicon-presentation-y: 856px;
$lapicon-presentation-offset-x: -770px;
$lapicon-presentation-offset-y: -856px;
$lapicon-presentation-width: 96px;
$lapicon-presentation-height: 96px;
$lapicon-presentation-total-width: 1172px;
$lapicon-presentation-total-height: 1144px;
$lapicon-presentation-image: 'images/sprite.png';
$lapicon-presentation: (770px, 856px, -770px, -856px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-presentation', );
$lapicon-quotation-name: 'lapicon-quotation';
$lapicon-quotation-x: 931px;
$lapicon-quotation-y: 715px;
$lapicon-quotation-offset-x: -931px;
$lapicon-quotation-offset-y: -715px;
$lapicon-quotation-width: 31px;
$lapicon-quotation-height: 29px;
$lapicon-quotation-total-width: 1172px;
$lapicon-quotation-total-height: 1144px;
$lapicon-quotation-image: 'images/sprite.png';
$lapicon-quotation: (931px, 715px, -931px, -715px, 31px, 29px, 1172px, 1144px, 'images/sprite.png', 'lapicon-quotation', );
$lapicon-radio-checked-name: 'lapicon-radio-checked';
$lapicon-radio-checked-x: 719px;
$lapicon-radio-checked-y: 503px;
$lapicon-radio-checked-offset-x: -719px;
$lapicon-radio-checked-offset-y: -503px;
$lapicon-radio-checked-width: 20px;
$lapicon-radio-checked-height: 20px;
$lapicon-radio-checked-total-width: 1172px;
$lapicon-radio-checked-total-height: 1144px;
$lapicon-radio-checked-image: 'images/sprite.png';
$lapicon-radio-checked: (719px, 503px, -719px, -503px, 20px, 20px, 1172px, 1144px, 'images/sprite.png', 'lapicon-radio-checked', );
$lapicon-radio-unchecked-name: 'lapicon-radio-unchecked';
$lapicon-radio-unchecked-x: 456px;
$lapicon-radio-unchecked-y: 212px;
$lapicon-radio-unchecked-offset-x: -456px;
$lapicon-radio-unchecked-offset-y: -212px;
$lapicon-radio-unchecked-width: 20px;
$lapicon-radio-unchecked-height: 20px;
$lapicon-radio-unchecked-total-width: 1172px;
$lapicon-radio-unchecked-total-height: 1144px;
$lapicon-radio-unchecked-image: 'images/sprite.png';
$lapicon-radio-unchecked: (456px, 212px, -456px, -212px, 20px, 20px, 1172px, 1144px, 'images/sprite.png', 'lapicon-radio-unchecked', );
$lapicon-report-name: 'lapicon-report';
$lapicon-report-x: 99px;
$lapicon-report-y: 753px;
$lapicon-report-offset-x: -99px;
$lapicon-report-offset-y: -753px;
$lapicon-report-width: 97px;
$lapicon-report-height: 101px;
$lapicon-report-total-width: 1172px;
$lapicon-report-total-height: 1144px;
$lapicon-report-image: 'images/sprite.png';
$lapicon-report: (99px, 753px, -99px, -753px, 97px, 101px, 1172px, 1144px, 'images/sprite.png', 'lapicon-report', );
$lapicon-requirement-name: 'lapicon-requirement';
$lapicon-requirement-x: 867px;
$lapicon-requirement-y: 240px;
$lapicon-requirement-offset-x: -867px;
$lapicon-requirement-offset-y: -240px;
$lapicon-requirement-width: 120px;
$lapicon-requirement-height: 120px;
$lapicon-requirement-total-width: 1172px;
$lapicon-requirement-total-height: 1144px;
$lapicon-requirement-image: 'images/sprite.png';
$lapicon-requirement: (867px, 240px, -867px, -240px, 120px, 120px, 1172px, 1144px, 'images/sprite.png', 'lapicon-requirement', );
$lapicon-right-arrow-large-name: 'lapicon-right-arrow-large';
$lapicon-right-arrow-large-x: 739px;
$lapicon-right-arrow-large-y: 0px;
$lapicon-right-arrow-large-offset-x: -739px;
$lapicon-right-arrow-large-offset-y: 0px;
$lapicon-right-arrow-large-width: 128px;
$lapicon-right-arrow-large-height: 128px;
$lapicon-right-arrow-large-total-width: 1172px;
$lapicon-right-arrow-large-total-height: 1144px;
$lapicon-right-arrow-large-image: 'images/sprite.png';
$lapicon-right-arrow-large: (739px, 0px, -739px, 0px, 128px, 128px, 1172px, 1144px, 'images/sprite.png', 'lapicon-right-arrow-large', );
$lapicon-right-arrow-name: 'lapicon-right-arrow';
$lapicon-right-arrow-x: 899px;
$lapicon-right-arrow-y: 715px;
$lapicon-right-arrow-offset-x: -899px;
$lapicon-right-arrow-offset-y: -715px;
$lapicon-right-arrow-width: 32px;
$lapicon-right-arrow-height: 32px;
$lapicon-right-arrow-total-width: 1172px;
$lapicon-right-arrow-total-height: 1144px;
$lapicon-right-arrow-image: 'images/sprite.png';
$lapicon-right-arrow: (899px, 715px, -899px, -715px, 32px, 32px, 1172px, 1144px, 'images/sprite.png', 'lapicon-right-arrow', );
$lapicon-rouble-name: 'lapicon-rouble';
$lapicon-rouble-x: 1147px;
$lapicon-rouble-y: 984px;
$lapicon-rouble-offset-x: -1147px;
$lapicon-rouble-offset-y: -984px;
$lapicon-rouble-width: 25px;
$lapicon-rouble-height: 25px;
$lapicon-rouble-total-width: 1172px;
$lapicon-rouble-total-height: 1144px;
$lapicon-rouble-image: 'images/sprite.png';
$lapicon-rouble: (1147px, 984px, -1147px, -984px, 25px, 25px, 1172px, 1144px, 'images/sprite.png', 'lapicon-rouble', );
$lapicon-shopping-cart-name: 'lapicon-shopping-cart';
$lapicon-shopping-cart-x: 294px;
$lapicon-shopping-cart-y: 753px;
$lapicon-shopping-cart-offset-x: -294px;
$lapicon-shopping-cart-offset-y: -753px;
$lapicon-shopping-cart-width: 98px;
$lapicon-shopping-cart-height: 98px;
$lapicon-shopping-cart-total-width: 1172px;
$lapicon-shopping-cart-total-height: 1144px;
$lapicon-shopping-cart-image: 'images/sprite.png';
$lapicon-shopping-cart: (294px, 753px, -294px, -753px, 98px, 98px, 1172px, 1144px, 'images/sprite.png', 'lapicon-shopping-cart', );
$lapicon-shopping-name: 'lapicon-shopping';
$lapicon-shopping-x: 866px;
$lapicon-shopping-y: 856px;
$lapicon-shopping-offset-x: -866px;
$lapicon-shopping-offset-y: -856px;
$lapicon-shopping-width: 96px;
$lapicon-shopping-height: 96px;
$lapicon-shopping-total-width: 1172px;
$lapicon-shopping-total-height: 1144px;
$lapicon-shopping-image: 'images/sprite.png';
$lapicon-shopping: (866px, 856px, -866px, -856px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-shopping', );
$lapicon-smartphone-name: 'lapicon-smartphone';
$lapicon-smartphone-x: 867px;
$lapicon-smartphone-y: 360px;
$lapicon-smartphone-offset-x: -867px;
$lapicon-smartphone-offset-y: -360px;
$lapicon-smartphone-width: 120px;
$lapicon-smartphone-height: 120px;
$lapicon-smartphone-total-width: 1172px;
$lapicon-smartphone-total-height: 1144px;
$lapicon-smartphone-image: 'images/sprite.png';
$lapicon-smartphone: (867px, 360px, -867px, -360px, 120px, 120px, 1172px, 1144px, 'images/sprite.png', 'lapicon-smartphone', );
$lapicon-spa-name: 'lapicon-spa';
$lapicon-spa-x: 987px;
$lapicon-spa-y: 0px;
$lapicon-spa-offset-x: -987px;
$lapicon-spa-offset-y: 0px;
$lapicon-spa-width: 96px;
$lapicon-spa-height: 96px;
$lapicon-spa-total-width: 1172px;
$lapicon-spa-total-height: 1144px;
$lapicon-spa-image: 'images/sprite.png';
$lapicon-spa: (987px, 0px, -987px, 0px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-spa', );
$lapicon-speedometer-name: 'lapicon-speedometer';
$lapicon-speedometer-x: 786px;
$lapicon-speedometer-y: 753px;
$lapicon-speedometer-offset-x: -786px;
$lapicon-speedometer-offset-y: -753px;
$lapicon-speedometer-width: 83px;
$lapicon-speedometer-height: 82px;
$lapicon-speedometer-total-width: 1172px;
$lapicon-speedometer-total-height: 1144px;
$lapicon-speedometer-image: 'images/sprite.png';
$lapicon-speedometer: (786px, 753px, -786px, -753px, 83px, 82px, 1172px, 1144px, 'images/sprite.png', 'lapicon-speedometer', );
$lapicon-ssl-certificate-name: 'lapicon-ssl-certificate';
$lapicon-ssl-certificate-x: 490px;
$lapicon-ssl-certificate-y: 753px;
$lapicon-ssl-certificate-offset-x: -490px;
$lapicon-ssl-certificate-offset-y: -753px;
$lapicon-ssl-certificate-width: 104px;
$lapicon-ssl-certificate-height: 92px;
$lapicon-ssl-certificate-total-width: 1172px;
$lapicon-ssl-certificate-total-height: 1144px;
$lapicon-ssl-certificate-image: 'images/sprite.png';
$lapicon-ssl-certificate: (490px, 753px, -490px, -753px, 104px, 92px, 1172px, 1144px, 'images/sprite.png', 'lapicon-ssl-certificate', );
$lapicon-st-name: 'lapicon-st';
$lapicon-st-x: 268px;
$lapicon-st-y: 0px;
$lapicon-st-offset-x: -268px;
$lapicon-st-offset-y: 0px;
$lapicon-st-width: 283px;
$lapicon-st-height: 212px;
$lapicon-st-total-width: 1172px;
$lapicon-st-total-height: 1144px;
$lapicon-st-image: 'images/sprite.png';
$lapicon-st: (268px, 0px, -268px, 0px, 283px, 212px, 1172px, 1144px, 'images/sprite.png', 'lapicon-st', );
$lapicon-st1-name: 'lapicon-st1';
$lapicon-st1-x: 268px;
$lapicon-st1-y: 212px;
$lapicon-st1-offset-x: -268px;
$lapicon-st1-offset-y: -212px;
$lapicon-st1-width: 188px;
$lapicon-st1-height: 40px;
$lapicon-st1-total-width: 1172px;
$lapicon-st1-total-height: 1144px;
$lapicon-st1-image: 'images/sprite.png';
$lapicon-st1: (268px, 212px, -268px, -212px, 188px, 40px, 1172px, 1144px, 'images/sprite.png', 'lapicon-st1', );
$lapicon-st2-name: 'lapicon-st2';
$lapicon-st2-x: 0px;
$lapicon-st2-y: 673px;
$lapicon-st2-offset-x: 0px;
$lapicon-st2-offset-y: -673px;
$lapicon-st2-width: 188px;
$lapicon-st2-height: 80px;
$lapicon-st2-total-width: 1172px;
$lapicon-st2-total-height: 1144px;
$lapicon-st2-image: 'images/sprite.png';
$lapicon-st2: (0px, 673px, 0px, -673px, 188px, 80px, 1172px, 1144px, 'images/sprite.png', 'lapicon-st2', );
$lapicon-st3-name: 'lapicon-st3';
$lapicon-st3-x: 551px;
$lapicon-st3-y: 0px;
$lapicon-st3-offset-x: -551px;
$lapicon-st3-offset-y: 0px;
$lapicon-st3-width: 188px;
$lapicon-st3-height: 168px;
$lapicon-st3-total-width: 1172px;
$lapicon-st3-total-height: 1144px;
$lapicon-st3-image: 'images/sprite.png';
$lapicon-st3: (551px, 0px, -551px, 0px, 188px, 168px, 1172px, 1144px, 'images/sprite.png', 'lapicon-st3', );
$lapicon-st4-name: 'lapicon-st4';
$lapicon-st4-x: 0px;
$lapicon-st4-y: 268px;
$lapicon-st4-offset-x: 0px;
$lapicon-st4-offset-y: -268px;
$lapicon-st4-width: 188px;
$lapicon-st4-height: 277px;
$lapicon-st4-total-width: 1172px;
$lapicon-st4-total-height: 1144px;
$lapicon-st4-image: 'images/sprite.png';
$lapicon-st4: (0px, 268px, 0px, -268px, 188px, 277px, 1172px, 1144px, 'images/sprite.png', 'lapicon-st4', );
$lapicon-star-large-name: 'lapicon-star-large';
$lapicon-star-large-x: 739px;
$lapicon-star-large-y: 128px;
$lapicon-star-large-offset-x: -739px;
$lapicon-star-large-offset-y: -128px;
$lapicon-star-large-width: 128px;
$lapicon-star-large-height: 128px;
$lapicon-star-large-total-width: 1172px;
$lapicon-star-large-total-height: 1144px;
$lapicon-star-large-image: 'images/sprite.png';
$lapicon-star-large: (739px, 128px, -739px, -128px, 128px, 128px, 1172px, 1144px, 'images/sprite.png', 'lapicon-star-large', );
$lapicon-star-name: 'lapicon-star';
$lapicon-star-x: 739px;
$lapicon-star-y: 624px;
$lapicon-star-offset-x: -739px;
$lapicon-star-offset-y: -624px;
$lapicon-star-width: 44px;
$lapicon-star-height: 42px;
$lapicon-star-total-width: 1172px;
$lapicon-star-total-height: 1144px;
$lapicon-star-image: 'images/sprite.png';
$lapicon-star: (739px, 624px, -739px, -624px, 44px, 42px, 1172px, 1144px, 'images/sprite.png', 'lapicon-star', );
$lapicon-stopwatch-2-name: 'lapicon-stopwatch-2';
$lapicon-stopwatch-2-x: 867px;
$lapicon-stopwatch-2-y: 480px;
$lapicon-stopwatch-2-offset-x: -867px;
$lapicon-stopwatch-2-offset-y: -480px;
$lapicon-stopwatch-2-width: 120px;
$lapicon-stopwatch-2-height: 120px;
$lapicon-stopwatch-2-total-width: 1172px;
$lapicon-stopwatch-2-total-height: 1144px;
$lapicon-stopwatch-2-image: 'images/sprite.png';
$lapicon-stopwatch-2: (867px, 480px, -867px, -480px, 120px, 120px, 1172px, 1144px, 'images/sprite.png', 'lapicon-stopwatch-2', );
$lapicon-stopwatch-name: 'lapicon-stopwatch';
$lapicon-stopwatch-x: 0px;
$lapicon-stopwatch-y: 953px;
$lapicon-stopwatch-offset-x: 0px;
$lapicon-stopwatch-offset-y: -953px;
$lapicon-stopwatch-width: 94px;
$lapicon-stopwatch-height: 98px;
$lapicon-stopwatch-total-width: 1172px;
$lapicon-stopwatch-total-height: 1144px;
$lapicon-stopwatch-image: 'images/sprite.png';
$lapicon-stopwatch: (0px, 953px, 0px, -953px, 94px, 98px, 1172px, 1144px, 'images/sprite.png', 'lapicon-stopwatch', );
$lapicon-superman-name: 'lapicon-superman';
$lapicon-superman-x: 987px;
$lapicon-superman-y: 96px;
$lapicon-superman-offset-x: -987px;
$lapicon-superman-offset-y: -96px;
$lapicon-superman-width: 96px;
$lapicon-superman-height: 96px;
$lapicon-superman-total-width: 1172px;
$lapicon-superman-total-height: 1144px;
$lapicon-superman-image: 'images/sprite.png';
$lapicon-superman: (987px, 96px, -987px, -96px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-superman', );
$lapicon-target-arrow-name: 'lapicon-target-arrow';
$lapicon-target-arrow-x: 867px;
$lapicon-target-arrow-y: 600px;
$lapicon-target-arrow-offset-x: -867px;
$lapicon-target-arrow-offset-y: -600px;
$lapicon-target-arrow-width: 110px;
$lapicon-target-arrow-height: 115px;
$lapicon-target-arrow-total-width: 1172px;
$lapicon-target-arrow-total-height: 1144px;
$lapicon-target-arrow-image: 'images/sprite.png';
$lapicon-target-arrow: (867px, 600px, -867px, -600px, 110px, 115px, 1172px, 1144px, 'images/sprite.png', 'lapicon-target-arrow', );
$lapicon-target-center-name: 'lapicon-target-center';
$lapicon-target-center-x: 0px;
$lapicon-target-center-y: 0px;
$lapicon-target-center-offset-x: 0px;
$lapicon-target-center-offset-y: 0px;
$lapicon-target-center-width: 268px;
$lapicon-target-center-height: 268px;
$lapicon-target-center-total-width: 1172px;
$lapicon-target-center-total-height: 1144px;
$lapicon-target-center-image: 'images/sprite.png';
$lapicon-target-center: (0px, 0px, 0px, 0px, 268px, 268px, 1172px, 1144px, 'images/sprite.png', 'lapicon-target-center', );
$lapicon-target-name: 'lapicon-target';
$lapicon-target-x: 739px;
$lapicon-target-y: 256px;
$lapicon-target-offset-x: -739px;
$lapicon-target-offset-y: -256px;
$lapicon-target-width: 128px;
$lapicon-target-height: 128px;
$lapicon-target-total-width: 1172px;
$lapicon-target-total-height: 1144px;
$lapicon-target-image: 'images/sprite.png';
$lapicon-target: (739px, 256px, -739px, -256px, 128px, 128px, 1172px, 1144px, 'images/sprite.png', 'lapicon-target', );
$lapicon-technical-support-name: 'lapicon-technical-support';
$lapicon-technical-support-x: 94px;
$lapicon-technical-support-y: 953px;
$lapicon-technical-support-offset-x: -94px;
$lapicon-technical-support-offset-y: -953px;
$lapicon-technical-support-width: 94px;
$lapicon-technical-support-height: 96px;
$lapicon-technical-support-total-width: 1172px;
$lapicon-technical-support-total-height: 1144px;
$lapicon-technical-support-image: 'images/sprite.png';
$lapicon-technical-support: (94px, 953px, -94px, -953px, 94px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-technical-support', );
$lapicon-telegram-name: 'lapicon-telegram';
$lapicon-telegram-x: 987px;
$lapicon-telegram-y: 192px;
$lapicon-telegram-offset-x: -987px;
$lapicon-telegram-offset-y: -192px;
$lapicon-telegram-width: 96px;
$lapicon-telegram-height: 96px;
$lapicon-telegram-total-width: 1172px;
$lapicon-telegram-total-height: 1144px;
$lapicon-telegram-image: 'images/sprite.png';
$lapicon-telegram: (987px, 192px, -987px, -192px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-telegram', );
$lapicon-test-name: 'lapicon-test';
$lapicon-test-x: 392px;
$lapicon-test-y: 753px;
$lapicon-test-offset-x: -392px;
$lapicon-test-offset-y: -753px;
$lapicon-test-width: 98px;
$lapicon-test-height: 98px;
$lapicon-test-total-width: 1172px;
$lapicon-test-total-height: 1144px;
$lapicon-test-image: 'images/sprite.png';
$lapicon-test: (392px, 753px, -392px, -753px, 98px, 98px, 1172px, 1144px, 'images/sprite.png', 'lapicon-test', );
$lapicon-text-name: 'lapicon-text';
$lapicon-text-x: 380px;
$lapicon-text-y: 673px;
$lapicon-text-offset-x: -380px;
$lapicon-text-offset-y: -673px;
$lapicon-text-width: 64px;
$lapicon-text-height: 64px;
$lapicon-text-total-width: 1172px;
$lapicon-text-total-height: 1144px;
$lapicon-text-image: 'images/sprite.png';
$lapicon-text: (380px, 673px, -380px, -673px, 64px, 64px, 1172px, 1144px, 'images/sprite.png', 'lapicon-text', );
$lapicon-viber-name: 'lapicon-viber';
$lapicon-viber-x: 987px;
$lapicon-viber-y: 288px;
$lapicon-viber-offset-x: -987px;
$lapicon-viber-offset-y: -288px;
$lapicon-viber-width: 96px;
$lapicon-viber-height: 96px;
$lapicon-viber-total-width: 1172px;
$lapicon-viber-total-height: 1144px;
$lapicon-viber-image: 'images/sprite.png';
$lapicon-viber: (987px, 288px, -987px, -288px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-viber', );
$lapicon-vk-messenger-name: 'lapicon-vk-messenger';
$lapicon-vk-messenger-x: 987px;
$lapicon-vk-messenger-y: 384px;
$lapicon-vk-messenger-offset-x: -987px;
$lapicon-vk-messenger-offset-y: -384px;
$lapicon-vk-messenger-width: 96px;
$lapicon-vk-messenger-height: 96px;
$lapicon-vk-messenger-total-width: 1172px;
$lapicon-vk-messenger-total-height: 1144px;
$lapicon-vk-messenger-image: 'images/sprite.png';
$lapicon-vk-messenger: (987px, 384px, -987px, -384px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-vk-messenger', );
$lapicon-web-design-name: 'lapicon-web-design';
$lapicon-web-design-x: 987px;
$lapicon-web-design-y: 480px;
$lapicon-web-design-offset-x: -987px;
$lapicon-web-design-offset-y: -480px;
$lapicon-web-design-width: 96px;
$lapicon-web-design-height: 96px;
$lapicon-web-design-total-width: 1172px;
$lapicon-web-design-total-height: 1144px;
$lapicon-web-design-image: 'images/sprite.png';
$lapicon-web-design: (987px, 480px, -987px, -480px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-web-design', );
$lapicon-whatsapp-name: 'lapicon-whatsapp';
$lapicon-whatsapp-x: 987px;
$lapicon-whatsapp-y: 576px;
$lapicon-whatsapp-offset-x: -987px;
$lapicon-whatsapp-offset-y: -576px;
$lapicon-whatsapp-width: 96px;
$lapicon-whatsapp-height: 96px;
$lapicon-whatsapp-total-width: 1172px;
$lapicon-whatsapp-total-height: 1144px;
$lapicon-whatsapp-image: 'images/sprite.png';
$lapicon-whatsapp: (987px, 576px, -987px, -576px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-whatsapp', );
$lapicon-wordpress-name: 'lapicon-wordpress';
$lapicon-wordpress-x: 987px;
$lapicon-wordpress-y: 672px;
$lapicon-wordpress-offset-x: -987px;
$lapicon-wordpress-offset-y: -672px;
$lapicon-wordpress-width: 96px;
$lapicon-wordpress-height: 96px;
$lapicon-wordpress-total-width: 1172px;
$lapicon-wordpress-total-height: 1144px;
$lapicon-wordpress-image: 'images/sprite.png';
$lapicon-wordpress: (987px, 672px, -987px, -672px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-wordpress', );
$lapicon-www-name: 'lapicon-www';
$lapicon-www-x: 444px;
$lapicon-www-y: 673px;
$lapicon-www-offset-x: -444px;
$lapicon-www-offset-y: -673px;
$lapicon-www-width: 64px;
$lapicon-www-height: 64px;
$lapicon-www-total-width: 1172px;
$lapicon-www-total-height: 1144px;
$lapicon-www-image: 'images/sprite.png';
$lapicon-www: (444px, 673px, -444px, -673px, 64px, 64px, 1172px, 1144px, 'images/sprite.png', 'lapicon-www', );
$lapicon-yii-name: 'lapicon-yii';
$lapicon-yii-x: 987px;
$lapicon-yii-y: 768px;
$lapicon-yii-offset-x: -987px;
$lapicon-yii-offset-y: -768px;
$lapicon-yii-width: 96px;
$lapicon-yii-height: 96px;
$lapicon-yii-total-width: 1172px;
$lapicon-yii-total-height: 1144px;
$lapicon-yii-image: 'images/sprite.png';
$lapicon-yii: (987px, 768px, -987px, -768px, 96px, 96px, 1172px, 1144px, 'images/sprite.png', 'lapicon-yii', );
$spritesheet-width: 1172px;
$spritesheet-height: 1144px;
$spritesheet-image: 'images/sprite.png';
$spritesheet-sprites: ($lapicon-1c-bitrix, $lapicon-active-search, $lapicon-analytics-desktop, $lapicon-analytics, $lapicon-audit, $lapicon-bar-chart, $lapicon-bitrix-full, $lapicon-bullseye, $lapicon-business-website, $lapicon-business, $lapicon-calendar, $lapicon-call-large, $lapicon-call-white, $lapicon-call, $lapicon-chat, $lapicon-chat2, $lapicon-check-mark, $lapicon-checkbox-checked, $lapicon-checkbox-unchecked, $lapicon-checklist, $lapicon-close, $lapicon-consulting, $lapicon-customer-service, $lapicon-customer-support, $lapicon-deadline, $lapicon-debt, $lapicon-delivery-truck, $lapicon-development, $lapicon-diagram, $lapicon-disable, $lapicon-drupal, $lapicon-email, $lapicon-enable-white, $lapicon-enable, $lapicon-facebook, $lapicon-faq, $lapicon-file, $lapicon-fire, $lapicon-gear, $lapicon-gym, $lapicon-high-five, $lapicon-human-resources, $lapicon-icon-circle-facebook, $lapicon-icon-circle-instagram, $lapicon-icon-circle-telegram, $lapicon-icon-circle-vk, $lapicon-info-icon, $lapicon-landing-page, $lapicon-laravel, $lapicon-launch, $lapicon-layout, $lapicon-learning, $lapicon-left-arror, $lapicon-left-arrow-large, $lapicon-location-map, $lapicon-location-white, $lapicon-location, $lapicon-logo-sm, $lapicon-logo-small, $lapicon-logo, $lapicon-manager, $lapicon-menu, $lapicon-message, $lapicon-minus, $lapicon-modx, $lapicon-olive, $lapicon-online-shop, $lapicon-opencart, $lapicon-operation, $lapicon-piggy-bank, $lapicon-podium, $lapicon-portfolio, $lapicon-presentation, $lapicon-quotation, $lapicon-radio-checked, $lapicon-radio-unchecked, $lapicon-report, $lapicon-requirement, $lapicon-right-arrow-large, $lapicon-right-arrow, $lapicon-rouble, $lapicon-shopping-cart, $lapicon-shopping, $lapicon-smartphone, $lapicon-spa, $lapicon-speedometer, $lapicon-ssl-certificate, $lapicon-st, $lapicon-st1, $lapicon-st2, $lapicon-st3, $lapicon-st4, $lapicon-star-large, $lapicon-star, $lapicon-stopwatch-2, $lapicon-stopwatch, $lapicon-superman, $lapicon-target-arrow, $lapicon-target-center, $lapicon-target, $lapicon-technical-support, $lapicon-telegram, $lapicon-test, $lapicon-text, $lapicon-viber, $lapicon-vk-messenger, $lapicon-web-design, $lapicon-whatsapp, $lapicon-wordpress, $lapicon-www, $lapicon-yii, );
$spritesheet: (1172px, 1144px, 'images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
