.breadcrumbs{
  width: 100%;
}
.two {
    padding: 30px 0px;
}
.breadcrumbs__content{
  display: inline;
}
.breadcrumbs__item{
  display: inline-block;
  padding: 0px 5px;
  font-family: "Proxima Nova Lt";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16px;
}

.breadcrumbs__item a{
color: #fa3a5e;
}

table{
	width: 100%;
}

td{
	padding: 10px;
	text-align: center;
}
tr:nth-child(3) {
	font-weight: bold;
}
tr:nth-child(1) td{
	font-weight: bold;
}
tr:nth-child(2) td:nth-child(1){
	text-align: center;
}
tr:nth-child(3) td:nth-child(1){
	padding: 10px;
	text-align: center;
}
td:nth-child(1){
	padding: 10px;
	text-align: left;
}


td:nth-child(2), td:nth-child(3), td:nth-child(4){
	width: 200px;
}

#trigger1 {
    background: #fa3a5e;
    border: 1px solid #fa3a5e;
    border-radius: 5px;
    color: #ffffff;
    font-family: "Proxima Nova Lt";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.22px;
    margin-bottom: 15px;
    padding: 15px 30px;
    text-decoration: none;
}

#trigger2 {
    background: #fa3a5e;
    border: 1px solid #fa3a5e;
    border-radius: 5px;
    color: #ffffff;
    font-family: "Proxima Nova Lt";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.22px;
    margin-bottom: 15px;
    padding: 15px 30px;
    text-decoration: none;
}

input{
	border: none;
	padding: 5px;
	width: 100%;
	text-align: center;
}
