.overMe{
  box-shadow: 0px 0px 100px 50px #fa3a5e;
  z-index: 999;
  position: relative;

  animation:over .5s linear 0s infinite  alternate;
  -webkit-animation:over .5s linear 0s infinite  alternate ;
}
.shakeMe{
  animation:shake .8s linear 0s infinite  alternate;
  -webkit-animation:shake .8s linear 0s infinite  alternate ;
}
.banner .form_banner{
  background: rgba(0,0,0,0.5);
}


@keyframes over
{
0% {box-shadow: 0px 0px 100px 50px #fa3a5e;}
100% {box-shadow: -30px 0px 150px 100px #fa3a5e;}
}
@-webkit-keyframes over
{
0% {box-shadow: 0px 0px 100px 50px #fa3a5e;}
100% {box-shadow: -30px 0px 150px 100px #fa3a5e;}
}

@keyframes shake {

  0% {box-shadow: 0px 0px 100px 50px #fa3a5e;}
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }

  100% {box-shadow: -30px 0px 150px 100px #fa3a5e;}
}
@-webkit-keyframes shake {

  0% {box-shadow: 0px 0px 100px 50px #fa3a5e;}
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }

  100% {box-shadow: -30px 0px 150px 100px #fa3a5e;}
}
