// Pages

.page {
  h1 {
    font-size: $app-fontsize--big;
    @include head_font;
    margin-bottom: $app-padding--base;
  }
  h2,
  h3 {
    margin-top: $app-padding--base;
    margin-bottom: $app-padding--small;
  }
}

// Contact page

body.contacts {
  .breadcrumb--wrapper,
  .page-contacts {
    background-color: $app-color--primary;
    color: $app-color--white;
  }
}

.page-contacts {
  padding-top: $app-padding--base;
  padding-bottom: $app-padding--medium;
  h1 {
    color: $app-color--white;
  }
  p {
    color: $app-color--white;
    a[href^="tel:"] {
      font-size: $app-fontsize--h2;
      @include head_font;
    }
  }
}

// SEO page

.page-seo {
  padding-top: $app-padding--base;
  padding-bottom: $app-padding--medium;
  h1,
  h2 {
    text-align: center;
  }

  .table {
    tbody {
      tr {
        td:first-child {
          @include head_font;
          font-size: $app-fontsize--small;
        }
      }
    }
  }

  .seo-price-item {
    border: 1px solid $app-color--primary;
    margin-bottom: $app-padding--base;
    @include border-radius;
    &.active {
      border-color: $app-color--active;
      h3 {
        color: $app-color--white;
        background-color: $app-color--active;
      }
    }
    h3 {
      color: $app-color--white;
      background-color: $app-color--primary;
      @include head_font;
      margin: 0;
      padding: $app-padding--base;
    }
    p {
      margin-bottom: $app-padding--base;
      &.price {
        @include head_font;
        font-size: $app-fontsize--h3;
      }
    }
    ul {
      padding: $app-padding--small $app-padding--base;
      list-style: none;
      li {
        display: flex;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid $app-color--border;
        &.disabled {
          display: none;
        }
      }
    }
  }

}
