// Contact
body.contacts {
  .breadcrumb--wrapper,
  .page-contacts {
    background-color: $app-color--primary;
    color: $app-color--white;
  }
}

.page-contacts {
  padding-top: $app-padding--medium;
  padding-bottom: $app-padding--large;
  h1 {
    color: $app-color--white;
  }
  p {
    color: $app-color--white;
    a[href^="tel:"] {
      font-size: $app-fontsize--h2;
      @include head_font;
    }
  }
}

// SEO
.page-seo {
  padding-top: $app-padding--medium;
  padding-bottom: $app-padding--large;
  h1,
  h2 {
    text-align: center;
  }

  .table {
    tbody {
      tr {
        td:first-child {
          @include head_font;
          font-size: $app-fontsize--small;
        }
      }
    }
  }

  .seo-price-item {
    border: 1px solid $app-color--primary;
    margin-top: $app-padding--small;
    margin-bottom: $app-padding--base;
    @include border-radius;
    &.active {
      border-color: $app-color--active;
      h3 {
        color: $app-color--white;
        background-color: $app-color--active;
      }
    }
    h3 {
      color: $app-color--white;
      background-color: $app-color--primary;
      @include head_font;
      margin: 0;
      padding: $app-padding--base;
    }
    p {
      margin-bottom: $app-padding--base;
      &.price {
        @include head_font;
        font-size: $app-fontsize--h3;
      }
    }
    ul {
      padding: $app-padding--small $app-padding--base;
      list-style: none;
      li {
        display: flex;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid $app-color--border;
        &.disabled {
          display: none;
        }
      }
    }
  }

}

// SMM
.page-smm {
  padding-top: $app-padding--medium;
  padding-bottom: 0;
  ul {
    padding: $app-padding--small $app-padding--base;
    list-style: none;
    li {
      display: flex;
      align-items: center;
      padding: 10px 0;
      i {
        margin-right: 10px;
      }
      &.disabled {
        display: none;
      }
    }
  }

  .smm-preview {
    padding-bottom: $app-padding--large;
    h2,
    h3 {
      margin-top: 0;
      color: $app-color--active;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        padding-bottom: 8px;
      }
    }
    &--wrapper {
      border: 1px solid $app-color--border;
      @include border-radius;
      padding: $app-padding--base;
      &:hover {
        @include shadow;
      }
    }
    &--item {
      padding-top: $app-padding--base;
    }
  }

  .smm-header {
    padding-top: $app-padding--large;
    padding-bottom: $app-padding--large;
    background-image: url("images/smm/bg_pic6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $app-color--primary;
    h2 {
      color: $app-color--white;
      font-size: $app-fontsize--big + 10px;
    }
    p {
      color: $app-color--white;
      font-size: $app-fontsize--medium;
    }
  }

  .smm-sales {
    padding-top: $app-padding--medium;
    padding-bottom: $app-padding--medium;
    &--image {
      background-image: url("images/smm/smm.jpg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &--content {
      ul {
        padding: 0;
        margin: 0;
        li {
          padding-bottom: 8px;
          i {
            min-width: 20px;
          }
        }
      }
    }
  }

  .smm-services {
    border-top: 1px solid $app-color--border;
    border-bottom: 1px solid $app-color--border;
    padding-top: $app-padding--medium;
    padding-bottom: $app-padding--medium;
    &--item {
      margin-bottom: $app-padding--base;
      &-wrapper {
        @include border-radius;
        overflow: hidden;
        height: 100%;
        background-color: $app-color--primary;
      }
      &--title {
        color: $app-color--white;
        background-color: $app-color--active;
        text-align: center;
        font-size: $app-fontsize--h2;
        padding: $app-padding--base;
        line-height: 2;
      }
      &--description {
        color: $app-color--white;
        background-color: $app-color--primary;
        text-align: center;
        padding: $app-padding--base $app-padding--base 0;
      }
      &--action {
        color: $app-color--white;
        background-color: $app-color--primary;
        padding: $app-padding--base;
        ul {
          padding: 0;
          margin: 0;
          li {
            padding-bottom: 8px;
            i {
              min-width: 20px;
            }
          }
        }
      }
    }
  }

  .smm-promo {
    padding-top: $app-padding--large;
    padding-bottom: $app-padding--large;
    background-color: $app-color--background;
    h2 {
      margin-top: 0;
      color: $app-color--primary;
    }
  }

}

// amoCRM
.page-amo {
  padding-top: $app-padding--medium;
  padding-bottom: $app-padding--large;
}

// Privacy
.page-privacy {
  padding-top: $app-padding--medium;
  padding-bottom: $app-padding--large;
}

// Blog
.page-blog {
  padding-top: $app-padding--medium;
  padding-bottom: $app-padding--large;
}

.blog {
  &--list {
    display: flex;
    flex-wrap: wrap;

    &--item {
      flex-basis: calc(33.333% - 30px);
      margin-bottom: $app-padding--base;
      margin-right: 30px;
      @media (max-width: map_get($grid-breakpoints, lg)) {
        flex-basis: calc(50% - 30px);
      }
      @media (max-width: map_get($grid-breakpoints, sm)) {
        flex-basis: 100%;
        margin-right: 0;
      }
      &-content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        height: 100%;
      }
      &-thumbnail {
        flex-basis: 100%;
        height: 300px;
        overflow: hidden;
        display: flex;
        margin: 0;
        @include border-radius;
        border: 1px solid $app-color--border;
        @media (max-width: map_get($grid-breakpoints, sm)) {
          height: 220px;
        }
        a {
          flex-basis: 100%;
          width: 100%;
          display: flex;
        }
        img {
          object-fit: cover;
          object-position: center;
          width: 100%;
          @media (max-width: map_get($grid-breakpoints, sm)) {
            object-position: top center;
          }
        }
      }
      &-title {
        flex-basis: 100%;
        font-size: $app-fontsize--h3;
        margin-top: $app-padding--small !important;
        margin-bottom: $app-padding--small !important;
      }
      &-date {
        font-size: $app-fontsize--small;
        color: $app-color--secondary;
        margin-right: $app-padding--base;
      }
      &-info {
        flex-basis: 100%;
        text-align: right;
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

  }

  &-detail {
    padding-top: $app-padding--medium;
    padding-bottom: $app-padding--medium;
    &--title {
      margin-bottom: $app-padding--base;
      font-size: $app-fontsize--big;
    }
    &--content {}
    &--image {
      margin-bottom: $app-padding--base;
      overflow: hidden;
      max-height: 400px;
      display: flex;
      justify-content: center;
      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
    &--date {
      color: $app-color--secondary;
      margin-top: $app-padding--small;
      margin-bottom: $app-padding--small;
    }
    &--body {}
    &--next {
      margin-top: $app-padding--base;
    }
  }

}

// Sites
.page-sites {
  .sites-slider {
    @extend .slider;
    &-image {
      @extend .slider-image;
    }
    .contact-form--title {
      margin-top: 0;
    }
  }

  .sites-price {
    margin-bottom: $app-padding--medium;
    &--title {
      margin-bottom: $app-padding--medium;
    }
    &--item {
      margin-bottom: $app-padding--base;
      &-wrapper {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid $app-color--active;
        @include border-radius;
        padding: $app-padding--base;
        height: 100%;
      }
      &-title,
      &-description,
      &-prices,
      &-times,
      &-actions {
        flex-basis: 100%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        i {
          margin-right: 10px;
        }
      }
      &-title {
        margin-top: 0;
        padding-bottom: $app-padding--small;
        border-bottom: 1px solid $app-color--border;
        @include head_font;
      }
      &-prices,
      &-times {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: $app-fontsize--medium;
      }
      &-actions {
        margin-top: $app-padding--small;
      }
    }
  }

  .section--reviews--title {
    margin-bottom: $app-padding--medium;
  }

  .sites-cms,
  .sites-reasons,
  .sites-include {
    padding-top: $app-padding--large;
    padding-bottom: $app-padding--large;
    background-color: $app-color--background;
    &--title {
      margin-bottom: $app-padding--base;
    }
    &--wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &--item {
      border: 1px solid $app-color--border;
      flex-basis: calc(25% - 30px);
      margin: $app-padding--small;
      background-color: $app-color--white;
      padding: $app-padding--base;
      display: flex;
      justify-content: center;
      align-items: center;
      @include border-radius;
      @media (max-width: map_get($grid-breakpoints, lg)) {
        flex-wrap: wrap;
        flex-basis: calc(33.333% - 30px);
        max-width: calc(33.333% - 30px);
      }
      @media (max-width: map_get($grid-breakpoints, md)) {
        flex-basis: calc(50% - 40px);
        max-width: calc(50% - 40px);
      }
      @media (max-width: map_get($grid-breakpoints, sm)) {
        flex-basis: 100%;
      }
      &--icon {
        flex-basis: 85px;
        margin-right: $app-padding--base;
        display: flex;
        justify-content: center;
        @media (max-width: map_get($grid-breakpoints, lg)) {
          margin-right: 0;
          flex-basis: 100%;
        }
      }
      &--title {
        font-size: $app-fontsize--medium;
        flex-grow: 1;
        @include head_font;
        @media (max-width: map_get($grid-breakpoints, lg)) {
          flex-basis: 100%;
          margin-top: $app-padding--small;
          text-align: center;
        }
      }
    }
    &--description {
      margin-top: $app-padding--base;
    }
  }

  .sites-analytics,
  .sites-opacity {
    border-top: 1px solid $app-color--border;
    border-bottom: 1px solid $app-color--border;
    padding-top: $app-padding--large;
    padding-bottom: $app-padding--large;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        padding-bottom: 8px;
        i {
          min-width: 20px;
          margin-right: 10px;
        }
      }
    }
    &--title {
      margin-top: 0;
      margin-bottom: $app-padding--medium;
    }
    &--image {
      background-image: url("images/crm.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top center;
    }
    &--content {
      h3 {
        margin-top: 0;
        @include head_font;
      }
    }
  }
  .sites-analytics--image {
    background-image: url("images/analytics.png");
  }

  .sites-steps {
    padding-top: $app-padding--large;
    padding-bottom: $app-padding--large;
    background-color: $app-color--primary;
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
    &--title {
      color: $app-color--white;
      margin-top: 0;
      margin-bottom: $app-padding--medium;
    }
    &--item {
      color: $app-color--white;
      margin-bottom: $app-padding--base;
      &--wrapper {
        border: 1px solid $app-color--active;
        @include border-radius;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: $app-padding--base;
      }
      &--counter {
        flex-basis: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 6px solid $app-color--active;
        height: 60px;
        width: 60px;
        max-width: 60px;
        border-radius: 50%;
        @include head_font;
        font-size: $app-fontsize--h2;
      }
      &--title {
        margin-top: $app-padding--small;
        margin-bottom: $app-padding--small;
        flex-basis: 100%;
        @include head_font;
        font-size: $app-fontsize--medium;
        text-align: center;
      }
      &--description {
        flex-basis: 100%;
        text-align: center;
      }
    }
  }

  .sites-main {
    padding-top: $app-padding--medium;
    padding-bottom: $app-padding--medium;
  }

}
