.four .container_v2 .link{
    text-align: center;
}

.four .container_v2 a.post {
    position:       relative;
    top:            90px;
    color:          #fa3a5e;
    padding:        20px;
    border-radius:  5px;
    border:         1px solid #fa3a5e;
    font-family:    'Proxima Nova Lt';
    font-size:      22px;
    font-weight:    bold;
    letter-spacing: 0.22px;
}

.post span {
    color: #ffffff;
}

.four {
    padding: 90px 0px 170px 0px !important;
}

#box {
    padding-top: 40px;
}
.ktabs-content img {
    text-align: center;
    margin:     0 auto;
}
img.tm_pb_brands_showcase_module__item__logo {
    display:    block;
    width:      auto !important;
    text-align: center;
    margin:     0 auto;
}